### Setup

In [1]:
from main_functions.utils import read_grid_search

### Check results - Tsinghua Dataset

#### k-fold DFT (1 subject)

##### Subject 1

In [2]:
dft_kfold = read_grid_search("results_v3/tsinghua_1_DFT_4_Sum_kfold_1")
dft_kfold.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
5116,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.5,3,2,1,1,"(1, 8, 16, 4)",opt7,0.010,0.82,20.96,54220
6668,DFT,500,10,Sum,"(0.2, 0.2)",1.0,0.100,0.5,3,2,1,1,"(1, 8, 16, 4)",opt8,0.004,0.82,21.06,54220
2578,DFT,500,10,Sum,"(0.5, 0.5)",0.0,0.100,0.5,3,2,1,2,"(1, 8, 8, 4)",opt3,0.010,0.80,20.68,27044
2142,DFT,500,10,Sum,"(0.5, 0.5)",0.0,0.001,0.5,3,2,3,1,"(1, 16, 16, 4)",opt5,0.010,0.80,22.14,303636
4,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.5,3,2,3,1,"(1, 16, 16, 4)",opt5,0.010,0.80,21.58,303636
462,DFT,500,10,Sum,"(0.5, 0.5)",2.0,0.010,0.5,3,2,1,1,"(1, 4, 8, 4)",opt8,0.001,0.78,21.14,30080
1180,DFT,500,10,Sum,"(0.5, 0.5)",0.0,0.100,0.5,3,2,1,2,"(1, 8, 8, 4)",opt5,0.004,0.78,21.71,27044
3344,DFT,500,10,Sum,"(0.6, 0.2)",1.0,0.001,0.5,3,2,1,1,"(1, 16, 16, 4)",opt7,0.004,0.78,20.95,102356
1732,DFT,500,10,Sum,"(0.5, 0.5)",1.0,0.001,0.5,3,2,1,1,"(1, 16, 16, 4)",opt4,0.004,0.78,20.86,102356
7420,DFT,500,10,Sum,"(0.3, 0.5)",0.0,0.001,0.5,2,1,1,1,"(1, 8, 8, 4)",opt4,0.010,0.78,27.90,36116

In [3]:
dft_kfold.shape[0]

7876

In [22]:
print(dft_kfold.sort_values("Mean_Accuracy",ascending=False).head(10).to_latex())

\begin{tabular}{llrrllrrrrrrrllrrrr}
\toprule
{} & Function &  Epochs &  Batch\_Size & Pooling &      Dropout &  FreqMean &  FreqStd &  Time\_Off &  Window &  Overlap &  Levels &  Band\_Width & Neuron\_Configuration & Optimizer &  Learning\_Rate &  Mean\_Accuracy &   Time &  Params \\
\midrule
6668 &      DFT &     500 &          10 &     Sum &   (0.2, 0.2) &       1.0 &    0.100 &       0.5 &       3 &        2 &       1 &           1 &        (1, 8, 16, 4) &      opt8 &          0.004 &           0.82 &  21.06 &   54220 \\
5116 &      DFT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &    0.001 &       0.5 &       3 &        2 &       1 &           1 &        (1, 8, 16, 4) &      opt7 &          0.010 &           0.82 &  20.96 &   54220 \\
2142 &      DFT &     500 &          10 &     Sum &   (0.5, 0.5) &       0.0 &    0.001 &       0.5 &       3 &        2 &       3 &           1 &       (1, 16, 16, 4) &      opt5 &          0.010 &           0.80 &  22.14 &  303636 \\
2578 &      DFT &     500 &          10 &     Sum &   (0.5, 0.5) &       0.0 &    0.100 &       0.5 &       3 &        2 &       1 &           2 &         (1, 8, 8, 4) &      opt3 &          0.010 &           0.80 &  20.68 &   27044 \\
4    &      DFT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &    0.001 &       0.5 &       3 &        2 &       3 &           1 &       (1, 16, 16, 4) &      opt5 &          0.010 &           0.80 &  21.58 &  303636 \\
462  &      DFT &     500 &          10 &     Sum &   (0.5, 0.5) &       2.0 &    0.010 &       0.5 &       3 &        2 &       1 &           1 &         (1, 4, 8, 4) &      opt8 &          0.001 &           0.78 &  21.14 &   30080 \\
6501 &      DFT &     500 &          10 &     Sum &  (0.3, 0.15) &       0.0 &    0.100 &       0.5 &       3 &        2 &       1 &           2 &         (1, 8, 8, 4) &      opt4 &          0.004 &           0.78 &  21.39 &   27044 \\
2131 &      DFT &     500 &          10 &     Sum &   (0.2, 0.2) &       0.0 &    0.010 &       0.5 &       2 &        1 &       1 &           1 &         (1, 8, 8, 4) &      opt4 &          0.010 &           0.78 &  28.46 &   36116 \\
2526 &      DFT &     500 &          10 &     Sum &  (0.3, 0.15) &       0.0 &    0.001 &       0.5 &       3 &        2 &       1 &           2 &         (1, 8, 8, 4) &      opt3 &          0.010 &           0.78 &  21.66 &   27044 \\
1732 &      DFT &     500 &          10 &     Sum &   (0.5, 0.5) &       1.0 &    0.001 &       0.5 &       3 &        2 &       1 &           1 &       (1, 16, 16, 4) &      opt4 &          0.004 &           0.78 &  20.86 &  102356 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_4606/1152714740.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(dft_kfold.sort_values("Mean_Accuracy",ascending=False).head(10).to_latex())

##### Subject 4

In [4]:
# taking abs(DHT(original signal))
dft_kfold4 = read_grid_search("results_v3/tsinghua_4_DFT_4_Sum_kfold_1") #grid_search_1_DHT_top10_4_kfold
dft_kfold4.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
6525,DFT,500,10,Sum,"(0.3, 0.15)",0.0,0.001,0.5,2,1,3,1,"(1, 16, 16, 4)",opt8,0.010,0.88,27.85,201092
1552,DFT,500,10,Sum,"(0.3, 0.15)",0.0,0.100,0.5,3,2,1,1,"(1, 16, 16, 4)",opt8,0.010,0.86,20.92,102356
7431,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.010,0.5,2,1,1,1,"(1, 16, 16, 4)",opt8,0.010,0.86,27.42,68356
3108,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.100,0.5,2,1,1,1,"(1, 4, 8, 4)",opt4,0.010,0.84,28.37,20080
4825,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.010,0.5,2,1,1,1,"(1, 8, 8, 4)",opt4,0.010,0.84,28.24,36116
4751,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.010,0.5,2,1,3,1,"(1, 16, 16, 4)",opt8,0.010,0.84,28.17,201092
6638,DFT,500,10,Sum,"(0.2, 0.2)",0.0,0.100,0.5,3,2,3,1,"(1, 16, 16, 4)",opt8,0.010,0.84,20.49,303636
994,DFT,500,10,Sum,"(0.2, 0.2)",0.0,0.100,0.5,2,1,1,1,"(1, 4, 8, 4)",opt4,0.004,0.84,28.25,20080
1525,DFT,500,10,Sum,"(0.3, 0.15)",0.0,0.001,0.5,2,1,2,1,"(1, 8, 8, 4)",opt7,0.010,0.84,28.66,71828
5987,DFT,500,10,Sum,"(0.2, 0.2)",0.0,0.010,0.5,2,1,1,1,"(1, 8, 8, 4)",opt4,0.010,0.84,28.07,36116

In [5]:
dft_kfold4.shape[0]

7876

In [23]:
print(dft_kfold4.sort_values("Mean_Accuracy",ascending=False).head(10).to_latex())

\begin{tabular}{llrrllrrrrrrrllrrrr}
\toprule
{} & Function &  Epochs &  Batch\_Size & Pooling &      Dropout &  FreqMean &  FreqStd &  Time\_Off &  Window &  Overlap &  Levels &  Band\_Width & Neuron\_Configuration & Optimizer &  Learning\_Rate &  Mean\_Accuracy &   Time &  Params \\
\midrule
6525 &      DFT &     500 &          10 &     Sum &  (0.3, 0.15) &       0.0 &    0.001 &       0.5 &       2 &        1 &       3 &           1 &       (1, 16, 16, 4) &      opt8 &          0.010 &           0.88 &  27.85 &  201092 \\
1552 &      DFT &     500 &          10 &     Sum &  (0.3, 0.15) &       0.0 &    0.100 &       0.5 &       3 &        2 &       1 &           1 &       (1, 16, 16, 4) &      opt8 &          0.010 &           0.86 &  20.92 &  102356 \\
7431 &      DFT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &    0.010 &       0.5 &       2 &        1 &       1 &           1 &       (1, 16, 16, 4) &      opt8 &          0.010 &           0.86 &  27.42 &   68356 \\
3108 &      DFT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &    0.100 &       0.5 &       2 &        1 &       1 &           1 &         (1, 4, 8, 4) &      opt4 &          0.010 &           0.84 &  28.37 &   20080 \\
4825 &      DFT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &    0.010 &       0.5 &       2 &        1 &       1 &           1 &         (1, 8, 8, 4) &      opt4 &          0.010 &           0.84 &  28.24 &   36116 \\
4751 &      DFT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &    0.010 &       0.5 &       2 &        1 &       3 &           1 &       (1, 16, 16, 4) &      opt8 &          0.010 &           0.84 &  28.17 &  201092 \\
6638 &      DFT &     500 &          10 &     Sum &   (0.2, 0.2) &       0.0 &    0.100 &       0.5 &       3 &        2 &       3 &           1 &       (1, 16, 16, 4) &      opt8 &          0.010 &           0.84 &  20.49 &  303636 \\
994  &      DFT &     500 &          10 &     Sum &   (0.2, 0.2) &       0.0 &    0.100 &       0.5 &       2 &        1 &       1 &           1 &         (1, 4, 8, 4) &      opt4 &          0.004 &           0.84 &  28.25 &   20080 \\
1525 &      DFT &     500 &          10 &     Sum &  (0.3, 0.15) &       0.0 &    0.001 &       0.5 &       2 &        1 &       2 &           1 &         (1, 8, 8, 4) &      opt7 &          0.010 &           0.84 &  28.66 &   71828 \\
5987 &      DFT &     500 &          10 &     Sum &   (0.2, 0.2) &       0.0 &    0.010 &       0.5 &       2 &        1 &       1 &           1 &         (1, 8, 8, 4) &      opt4 &          0.010 &           0.84 &  28.07 &   36116 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_4606/1038485643.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(dft_kfold4.sort_values("Mean_Accuracy",ascending=False).head(10).to_latex())

##### Subject 13

In [6]:
# taking abs(DHT(original signal))
dft_kfold13 = read_grid_search("results_v3/tsinghua_13_DFT_4_Sum_kfold_1") #grid_search_1_DHT_top10_4_kfold
dft_kfold13.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
6624,DFT,500,10,Sum,"(0.3, 0.5)",2.0,0.001,0.5,3,2,1,5,"(1, 16, 16, 4)",opt8,0.0040,0.86,20.14,20756
4062,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.010,0.5,2,1,1,1,"(1, 16, 16, 4)",opt8,0.0100,0.86,26.94,68356
6820,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.5,2,1,2,1,"(1, 16, 16, 4)",opt4,0.0100,0.84,28.05,135812
6543,DFT,500,10,Sum,"(0.3, 0.15)",2.0,0.010,0.5,3,2,1,5,"(1, 8, 16, 4)",opt7,0.0002,0.84,21.29,11020
3856,DFT,500,10,Sum,"(0.3, 0.15)",2.0,0.100,0.5,3,2,1,5,"(1, 8, 16, 4)",opt8,0.0010,0.84,21.29,11020
3526,DFT,500,10,Sum,"(0.2, 0.2)",2.0,0.010,0.5,3,2,1,5,"(1, 16, 16, 4)",opt8,0.0040,0.84,20.37,20756
439,DFT,500,10,Sum,"(0.2, 0.2)",0.0,0.010,0.5,2,1,1,5,"(1, 8, 16, 4)",opt8,0.0100,0.84,27.85,7420
2712,DFT,500,10,Sum,"(0.3, 0.15)",2.0,0.001,0.5,3,2,1,5,"(1, 8, 16, 4)",opt4,0.0002,0.82,21.51,11020
6202,DFT,500,10,Sum,"(0.3, 0.5)",0.0,0.100,0.5,3,2,2,5,"(1, 8, 16, 4)",opt8,0.0100,0.82,20.20,21388
4991,DFT,500,10,Sum,"(0.3, 0.15)",0.0,0.001,0.5,3,2,2,1,"(1, 16, 16, 4)",opt4,0.0100,0.82,21.45,203540

In [7]:
dft_kfold13.shape[0]

7876

In [24]:
print(dft_kfold13.sort_values("Mean_Accuracy",ascending=False).head(10).to_latex())

\begin{tabular}{llrrllrrrrrrrllrrrr}
\toprule
{} & Function &  Epochs &  Batch\_Size & Pooling &      Dropout &  FreqMean &  FreqStd &  Time\_Off &  Window &  Overlap &  Levels &  Band\_Width & Neuron\_Configuration & Optimizer &  Learning\_Rate &  Mean\_Accuracy &   Time &  Params \\
\midrule
6624 &      DFT &     500 &          10 &     Sum &   (0.3, 0.5) &       2.0 &    0.001 &       0.5 &       3 &        2 &       1 &           5 &       (1, 16, 16, 4) &      opt8 &         0.0040 &           0.86 &  20.14 &   20756 \\
4062 &      DFT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &    0.010 &       0.5 &       2 &        1 &       1 &           1 &       (1, 16, 16, 4) &      opt8 &         0.0100 &           0.86 &  26.94 &   68356 \\
6820 &      DFT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &    0.001 &       0.5 &       2 &        1 &       2 &           1 &       (1, 16, 16, 4) &      opt4 &         0.0100 &           0.84 &  28.05 &  135812 \\
6543 &      DFT &     500 &          10 &     Sum &  (0.3, 0.15) &       2.0 &    0.010 &       0.5 &       3 &        2 &       1 &           5 &        (1, 8, 16, 4) &      opt7 &         0.0002 &           0.84 &  21.29 &   11020 \\
3856 &      DFT &     500 &          10 &     Sum &  (0.3, 0.15) &       2.0 &    0.100 &       0.5 &       3 &        2 &       1 &           5 &        (1, 8, 16, 4) &      opt8 &         0.0010 &           0.84 &  21.29 &   11020 \\
3526 &      DFT &     500 &          10 &     Sum &   (0.2, 0.2) &       2.0 &    0.010 &       0.5 &       3 &        2 &       1 &           5 &       (1, 16, 16, 4) &      opt8 &         0.0040 &           0.84 &  20.37 &   20756 \\
439  &      DFT &     500 &          10 &     Sum &   (0.2, 0.2) &       0.0 &    0.010 &       0.5 &       2 &        1 &       1 &           5 &        (1, 8, 16, 4) &      opt8 &         0.0100 &           0.84 &  27.85 &    7420 \\
2712 &      DFT &     500 &          10 &     Sum &  (0.3, 0.15) &       2.0 &    0.001 &       0.5 &       3 &        2 &       1 &           5 &        (1, 8, 16, 4) &      opt4 &         0.0002 &           0.82 &  21.51 &   11020 \\
6202 &      DFT &     500 &          10 &     Sum &   (0.3, 0.5) &       0.0 &    0.100 &       0.5 &       3 &        2 &       2 &           5 &        (1, 8, 16, 4) &      opt8 &         0.0100 &           0.82 &  20.20 &   21388 \\
4991 &      DFT &     500 &          10 &     Sum &  (0.3, 0.15) &       0.0 &    0.001 &       0.5 &       3 &        2 &       2 &           1 &       (1, 16, 16, 4) &      opt4 &         0.0100 &           0.82 &  21.45 &  203540 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_4606/1574782907.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(dft_kfold13.sort_values("Mean_Accuracy",ascending=False).head(10).to_latex())

##### Subject 27

In [27]:
# taking abs(DHT(original signal))
dft_kfold27 = read_grid_search("results_v3/tsinghua_27_DFT_4_Sum_kfold_1") #grid_search_1_DHT_top10_4_kfold
dft_kfold27.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
450,DFT,500,10,Sum,"(0.2, 0.2)",0.0,0.100,0.5,3,2,3,1,"(1, 16, 16, 4)",opt8,0.010,0.96,20.47,303636
4910,DFT,500,10,Sum,"(0.3, 0.15)",0.0,0.010,0.5,3,2,3,1,"(1, 8, 16, 4)",opt8,0.010,0.90,20.82,160780
3924,DFT,500,10,Sum,"(0.5, 0.5)",0.0,0.100,0.5,3,2,3,2,"(1, 16, 16, 4)",opt8,0.010,0.90,19.86,149140
5329,DFT,500,10,Sum,"(0.5, 0.5)",0.0,0.100,0.5,3,2,1,2,"(1, 16, 16, 4)",opt8,0.010,0.90,20.95,51220
339,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.010,0.5,2,1,1,1,"(1, 8, 8, 4)",opt4,0.010,0.90,28.12,36116
594,DFT,500,10,Sum,"(0.2, 0.2)",0.0,0.010,0.5,2,1,1,1,"(1, 8, 8, 4)",opt4,0.010,0.90,27.30,36116
7397,DFT,500,10,Sum,"(0.3, 0.5)",0.0,0.100,0.5,3,2,2,1,"(1, 4, 8, 4)",opt8,0.010,0.90,20.98,59840
1391,DFT,500,10,Sum,"(0.2, 0.2)",0.0,0.100,0.5,3,2,2,1,"(1, 4, 8, 4)",opt8,0.004,0.90,20.15,59840
4868,DFT,500,10,Sum,"(0.2, 0.2)",0.0,0.100,0.5,3,2,3,2,"(1, 16, 16, 4)",opt8,0.010,0.90,20.30,149140
2160,DFT,500,10,Sum,"(0.2, 0.2)",1.0,0.001,0.5,3,2,2,1,"(1, 16, 16, 4)",opt8,0.004,0.88,20.20,203540

In [9]:
dft_kfold27.shape[0]

7876

In [25]:
print(dft_kfold27.sort_values("Mean_Accuracy",ascending=False).head(10).to_latex())

\begin{tabular}{llrrllrrrrrrrllrrrr}
\toprule
{} & Function &  Epochs &  Batch\_Size & Pooling &      Dropout &  FreqMean &  FreqStd &  Time\_Off &  Window &  Overlap &  Levels &  Band\_Width & Neuron\_Configuration & Optimizer &  Learning\_Rate &  Mean\_Accuracy &   Time &  Params \\
\midrule
450  &      DFT &     500 &          10 &     Sum &   (0.2, 0.2) &       0.0 &    0.100 &       0.5 &       3 &        2 &       3 &           1 &       (1, 16, 16, 4) &      opt8 &          0.010 &           0.96 &  20.47 &  303636 \\
4910 &      DFT &     500 &          10 &     Sum &  (0.3, 0.15) &       0.0 &    0.010 &       0.5 &       3 &        2 &       3 &           1 &        (1, 8, 16, 4) &      opt8 &          0.010 &           0.90 &  20.82 &  160780 \\
3924 &      DFT &     500 &          10 &     Sum &   (0.5, 0.5) &       0.0 &    0.100 &       0.5 &       3 &        2 &       3 &           2 &       (1, 16, 16, 4) &      opt8 &          0.010 &           0.90 &  19.86 &  149140 \\
5329 &      DFT &     500 &          10 &     Sum &   (0.5, 0.5) &       0.0 &    0.100 &       0.5 &       3 &        2 &       1 &           2 &       (1, 16, 16, 4) &      opt8 &          0.010 &           0.90 &  20.95 &   51220 \\
339  &      DFT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &    0.010 &       0.5 &       2 &        1 &       1 &           1 &         (1, 8, 8, 4) &      opt4 &          0.010 &           0.90 &  28.12 &   36116 \\
594  &      DFT &     500 &          10 &     Sum &   (0.2, 0.2) &       0.0 &    0.010 &       0.5 &       2 &        1 &       1 &           1 &         (1, 8, 8, 4) &      opt4 &          0.010 &           0.90 &  27.30 &   36116 \\
7397 &      DFT &     500 &          10 &     Sum &   (0.3, 0.5) &       0.0 &    0.100 &       0.5 &       3 &        2 &       2 &           1 &         (1, 4, 8, 4) &      opt8 &          0.010 &           0.90 &  20.98 &   59840 \\
1391 &      DFT &     500 &          10 &     Sum &   (0.2, 0.2) &       0.0 &    0.100 &       0.5 &       3 &        2 &       2 &           1 &         (1, 4, 8, 4) &      opt8 &          0.004 &           0.90 &  20.15 &   59840 \\
4868 &      DFT &     500 &          10 &     Sum &   (0.2, 0.2) &       0.0 &    0.100 &       0.5 &       3 &        2 &       3 &           2 &       (1, 16, 16, 4) &      opt8 &          0.010 &           0.90 &  20.30 &  149140 \\
2160 &      DFT &     500 &          10 &     Sum &   (0.2, 0.2) &       1.0 &    0.001 &       0.5 &       3 &        2 &       2 &           1 &       (1, 16, 16, 4) &      opt8 &          0.004 &           0.88 &  20.20 &  203540 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_4606/1304087595.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(dft_kfold27.sort_values("Mean_Accuracy",ascending=False).head(10).to_latex())

#### k-fold DHT (1 subject)

##### Subject 1

In [28]:
# taking abs(DHT(original signal))
dht_kfold1 = read_grid_search("results_v3/tsinghua_1_DHT_4_Sum_kfold_1") #grid_search_1_DHT_top10_4_kfold
dht_kfold1.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
5365,DHT,500,10,Sum,"(0.3, 0.5)",0.0,0.010,0.5,3,2,1,1,"(1, 8, 16, 4)",opt7,0.0100,0.84,21.58,54220
7578,DHT,500,10,Sum,"(0.5, 0.5)",0.0,0.001,0.5,3,2,1,1,"(1, 16, 16, 4)",opt3,0.0100,0.84,21.86,102356
7134,DHT,500,10,Sum,"(0.5, 0.5)",0.0,0.001,0.5,3,2,1,1,"(1, 16, 16, 4)",opt3,0.0040,0.82,21.16,102356
2606,DHT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.5,3,2,2,1,"(1, 16, 16, 4)",opt3,0.0100,0.82,21.30,203540
6953,DHT,500,10,Sum,"(0.5, 0.5)",0.0,0.010,0.5,3,2,1,1,"(1, 16, 16, 4)",opt7,0.0100,0.82,21.20,102356
4809,DHT,500,10,Sum,"(0.5, 0.5)",0.0,0.010,0.5,3,2,1,1,"(1, 8, 8, 4)",opt5,0.0040,0.82,21.68,54116
581,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.010,0.5,3,2,2,1,"(1, 16, 16, 4)",opt5,0.0100,0.82,21.68,203540
2077,DHT,500,10,Sum,"(0.5, 0.5)",0.0,0.001,0.5,3,2,3,1,"(1, 16, 16, 4)",opt5,0.0100,0.80,22.07,303636
3027,DHT,500,10,Sum,"(0.3, 0.5)",0.0,0.001,0.5,3,2,1,1,"(1, 16, 16, 4)",opt5,0.0002,0.80,21.38,102356
1083,DHT,500,10,Sum,"(0.3, 0.5)",0.0,0.010,0.5,3,2,1,1,"(1, 16, 16, 4)",opt3,0.0040,0.80,20.97,102356

In [29]:
dht_kfold1.shape[0]

7629

In [30]:
print(dht_kfold1.sort_values("Mean_Accuracy",ascending=False).head(10).to_latex())

\begin{tabular}{llrrllrrrrrrrllrrrr}
\toprule
{} & Function &  Epochs &  Batch\_Size & Pooling &     Dropout &  FreqMean &  FreqStd &  Time\_Off &  Window &  Overlap &  Levels &  Band\_Width & Neuron\_Configuration & Optimizer &  Learning\_Rate &  Mean\_Accuracy &   Time &  Params \\
\midrule
5365 &      DHT &     500 &          10 &     Sum &  (0.3, 0.5) &       0.0 &    0.010 &       0.5 &       3 &        2 &       1 &           1 &        (1, 8, 16, 4) &      opt7 &         0.0100 &           0.84 &  21.58 &   54220 \\
7578 &      DHT &     500 &          10 &     Sum &  (0.5, 0.5) &       0.0 &    0.001 &       0.5 &       3 &        2 &       1 &           1 &       (1, 16, 16, 4) &      opt3 &         0.0100 &           0.84 &  21.86 &  102356 \\
7134 &      DHT &     500 &          10 &     Sum &  (0.5, 0.5) &       0.0 &    0.001 &       0.5 &       3 &        2 &       1 &           1 &       (1, 16, 16, 4) &      opt3 &         0.0040 &           0.82 &  21.16 &  102356 \\
2606 &      DHT &     500 &          10 &     Sum &  (0.6, 0.2) &       0.0 &    0.001 &       0.5 &       3 &        2 &       2 &           1 &       (1, 16, 16, 4) &      opt3 &         0.0100 &           0.82 &  21.30 &  203540 \\
6953 &      DHT &     500 &          10 &     Sum &  (0.5, 0.5) &       0.0 &    0.010 &       0.5 &       3 &        2 &       1 &           1 &       (1, 16, 16, 4) &      opt7 &         0.0100 &           0.82 &  21.20 &  102356 \\
4809 &      DHT &     500 &          10 &     Sum &  (0.5, 0.5) &       0.0 &    0.010 &       0.5 &       3 &        2 &       1 &           1 &         (1, 8, 8, 4) &      opt5 &         0.0040 &           0.82 &  21.68 &   54116 \\
581  &      DHT &     500 &          10 &     Sum &  (0.2, 0.2) &       0.0 &    0.010 &       0.5 &       3 &        2 &       2 &           1 &       (1, 16, 16, 4) &      opt5 &         0.0100 &           0.82 &  21.68 &  203540 \\
2077 &      DHT &     500 &          10 &     Sum &  (0.5, 0.5) &       0.0 &    0.001 &       0.5 &       3 &        2 &       3 &           1 &       (1, 16, 16, 4) &      opt5 &         0.0100 &           0.80 &  22.07 &  303636 \\
3027 &      DHT &     500 &          10 &     Sum &  (0.3, 0.5) &       0.0 &    0.001 &       0.5 &       3 &        2 &       1 &           1 &       (1, 16, 16, 4) &      opt5 &         0.0002 &           0.80 &  21.38 &  102356 \\
1083 &      DHT &     500 &          10 &     Sum &  (0.3, 0.5) &       0.0 &    0.010 &       0.5 &       3 &        2 &       1 &           1 &       (1, 16, 16, 4) &      opt3 &         0.0040 &           0.80 &  20.97 &  102356 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_4606/3249689941.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(dht_kfold1.sort_values("Mean_Accuracy",ascending=False).head(10).to_latex())

##### Subject 4

In [31]:
# taking abs(DHT(original signal))
dht_kfold4 = read_grid_search("results_v3/tsinghua_4_DHT_4_Sum_kfold_1") #grid_search_1_DHT_top10_4_kfold
dht_kfold4.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
2282,DHT,500,10,Sum,"(0.5, 0.5)",0.0,0.010,0.5,2,1,1,4,"(1, 8, 8, 4)",opt4,0.010,0.84,27.34,9044
3581,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.100,0.5,2,1,3,2,"(1, 4, 8, 4)",opt8,0.010,0.84,27.34,28960
4411,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.001,0.5,2,1,2,1,"(1, 8, 8, 4)",opt5,0.010,0.82,28.56,71828
6372,DHT,500,10,Sum,"(0.3, 0.5)",0.0,0.100,0.5,3,2,1,5,"(1, 8, 16, 4)",opt7,0.004,0.82,21.73,11020
4394,DHT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.5,2,1,1,5,"(1, 4, 8, 4)",opt7,0.001,0.82,28.03,4080
3765,DHT,500,10,Sum,"(0.3, 0.5)",0.0,0.001,0.5,2,1,3,1,"(1, 8, 8, 4)",opt5,0.010,0.82,28.67,106388
2289,DHT,500,10,Sum,"(0.3, 0.15)",0.0,0.100,0.5,3,2,1,5,"(1, 8, 16, 4)",opt4,0.004,0.82,21.40,11020
1452,DHT,500,10,Sum,"(0.3, 0.5)",0.0,0.010,0.5,2,1,1,4,"(1, 4, 8, 4)",opt4,0.004,0.82,27.38,5040
4402,DHT,500,10,Sum,"(0.3, 0.5)",0.0,0.100,0.5,2,1,3,1,"(1, 8, 8, 4)",opt7,0.010,0.82,28.38,106388
4907,DHT,500,10,Sum,"(0.3, 0.5)",1.0,0.001,0.5,3,2,1,5,"(1, 16, 16, 4)",opt7,0.010,0.80,21.47,20756

In [32]:
dht_kfold4.shape[0]

7629

In [33]:
print(dht_kfold4.sort_values("Mean_Accuracy",ascending=False).head(10).to_latex())

\begin{tabular}{llrrllrrrrrrrllrrrr}
\toprule
{} & Function &  Epochs &  Batch\_Size & Pooling &      Dropout &  FreqMean &  FreqStd &  Time\_Off &  Window &  Overlap &  Levels &  Band\_Width & Neuron\_Configuration & Optimizer &  Learning\_Rate &  Mean\_Accuracy &   Time &  Params \\
\midrule
2282 &      DHT &     500 &          10 &     Sum &   (0.5, 0.5) &       0.0 &    0.010 &       0.5 &       2 &        1 &       1 &           4 &         (1, 8, 8, 4) &      opt4 &          0.010 &           0.84 &  27.34 &    9044 \\
3581 &      DHT &     500 &          10 &     Sum &   (0.2, 0.2) &       0.0 &    0.100 &       0.5 &       2 &        1 &       3 &           2 &         (1, 4, 8, 4) &      opt8 &          0.010 &           0.84 &  27.34 &   28960 \\
4411 &      DHT &     500 &          10 &     Sum &   (0.2, 0.2) &       0.0 &    0.001 &       0.5 &       2 &        1 &       2 &           1 &         (1, 8, 8, 4) &      opt5 &          0.010 &           0.82 &  28.56 &   71828 \\
6372 &      DHT &     500 &          10 &     Sum &   (0.3, 0.5) &       0.0 &    0.100 &       0.5 &       3 &        2 &       1 &           5 &        (1, 8, 16, 4) &      opt7 &          0.004 &           0.82 &  21.73 &   11020 \\
4394 &      DHT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &    0.001 &       0.5 &       2 &        1 &       1 &           5 &         (1, 4, 8, 4) &      opt7 &          0.001 &           0.82 &  28.03 &    4080 \\
3765 &      DHT &     500 &          10 &     Sum &   (0.3, 0.5) &       0.0 &    0.001 &       0.5 &       2 &        1 &       3 &           1 &         (1, 8, 8, 4) &      opt5 &          0.010 &           0.82 &  28.67 &  106388 \\
2289 &      DHT &     500 &          10 &     Sum &  (0.3, 0.15) &       0.0 &    0.100 &       0.5 &       3 &        2 &       1 &           5 &        (1, 8, 16, 4) &      opt4 &          0.004 &           0.82 &  21.40 &   11020 \\
1452 &      DHT &     500 &          10 &     Sum &   (0.3, 0.5) &       0.0 &    0.010 &       0.5 &       2 &        1 &       1 &           4 &         (1, 4, 8, 4) &      opt4 &          0.004 &           0.82 &  27.38 &    5040 \\
4402 &      DHT &     500 &          10 &     Sum &   (0.3, 0.5) &       0.0 &    0.100 &       0.5 &       2 &        1 &       3 &           1 &         (1, 8, 8, 4) &      opt7 &          0.010 &           0.82 &  28.38 &  106388 \\
4907 &      DHT &     500 &          10 &     Sum &   (0.3, 0.5) &       1.0 &    0.001 &       0.5 &       3 &        2 &       1 &           5 &       (1, 16, 16, 4) &      opt7 &          0.010 &           0.80 &  21.47 &   20756 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_4606/861621319.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(dht_kfold4.sort_values("Mean_Accuracy",ascending=False).head(10).to_latex())

##### Subject 13

In [34]:
# taking abs(DHT(original signal))
dht_kfold13 = read_grid_search("results_v3/tsinghua_13_DHT_4_Sum_kfold_1") #grid_search_1_DHT_top10_4_kfold
dht_kfold13.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
1914,DHT,500,10,Sum,"(0.3, 0.15)",0.0,0.010,0.5,2,1,1,2,"(1, 16, 16, 4)",opt8,0.010,0.86,28.08,34356
4992,DHT,500,10,Sum,"(0.5, 0.5)",0.0,0.100,0.5,2,1,1,5,"(1, 16, 16, 4)",opt8,0.010,0.86,27.71,13956
4727,DHT,500,10,Sum,"(0.3, 0.5)",0.0,0.010,0.5,3,2,3,4,"(1, 4, 8, 4)",opt8,0.010,0.86,20.37,21280
3724,DHT,500,10,Sum,"(0.3, 0.15)",1.0,0.100,0.5,3,2,3,2,"(1, 16, 16, 4)",opt8,0.010,0.84,20.53,149140
1513,DHT,500,10,Sum,"(0.2, 0.2)",2.0,0.001,0.5,3,2,2,4,"(1, 16, 16, 4)",opt8,0.004,0.84,20.47,50676
6322,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.001,0.5,3,2,1,2,"(1, 8, 16, 4)",opt3,0.010,0.84,21.34,27148
818,DHT,500,10,Sum,"(0.6, 0.2)",2.0,0.100,0.5,3,2,1,5,"(1, 16, 16, 4)",opt8,0.001,0.84,20.17,20756
1775,DHT,500,10,Sum,"(0.5, 0.5)",0.0,0.001,0.5,3,2,2,1,"(1, 8, 16, 4)",opt8,0.010,0.84,20.52,107788
3588,DHT,500,10,Sum,"(0.3, 0.5)",0.0,0.001,0.5,2,1,1,3,"(1, 8, 8, 4)",opt8,0.010,0.84,26.93,12068
2656,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.010,0.5,2,1,1,1,"(1, 4, 8, 4)",opt5,0.010,0.84,28.37,20080

In [35]:
dht_kfold13.shape[0]

7628

In [36]:
print(dht_kfold13.sort_values("Mean_Accuracy",ascending=False).head(10).to_latex())

\begin{tabular}{llrrllrrrrrrrllrrrr}
\toprule
{} & Function &  Epochs &  Batch\_Size & Pooling &      Dropout &  FreqMean &  FreqStd &  Time\_Off &  Window &  Overlap &  Levels &  Band\_Width & Neuron\_Configuration & Optimizer &  Learning\_Rate &  Mean\_Accuracy &   Time &  Params \\
\midrule
1914 &      DHT &     500 &          10 &     Sum &  (0.3, 0.15) &       0.0 &    0.010 &       0.5 &       2 &        1 &       1 &           2 &       (1, 16, 16, 4) &      opt8 &          0.010 &           0.86 &  28.08 &   34356 \\
4992 &      DHT &     500 &          10 &     Sum &   (0.5, 0.5) &       0.0 &    0.100 &       0.5 &       2 &        1 &       1 &           5 &       (1, 16, 16, 4) &      opt8 &          0.010 &           0.86 &  27.71 &   13956 \\
4727 &      DHT &     500 &          10 &     Sum &   (0.3, 0.5) &       0.0 &    0.010 &       0.5 &       3 &        2 &       3 &           4 &         (1, 4, 8, 4) &      opt8 &          0.010 &           0.86 &  20.37 &   21280 \\
3724 &      DHT &     500 &          10 &     Sum &  (0.3, 0.15) &       1.0 &    0.100 &       0.5 &       3 &        2 &       3 &           2 &       (1, 16, 16, 4) &      opt8 &          0.010 &           0.84 &  20.53 &  149140 \\
1513 &      DHT &     500 &          10 &     Sum &   (0.2, 0.2) &       2.0 &    0.001 &       0.5 &       3 &        2 &       2 &           4 &       (1, 16, 16, 4) &      opt8 &          0.004 &           0.84 &  20.47 &   50676 \\
6322 &      DHT &     500 &          10 &     Sum &   (0.2, 0.2) &       0.0 &    0.001 &       0.5 &       3 &        2 &       1 &           2 &        (1, 8, 16, 4) &      opt3 &          0.010 &           0.84 &  21.34 &   27148 \\
818  &      DHT &     500 &          10 &     Sum &   (0.6, 0.2) &       2.0 &    0.100 &       0.5 &       3 &        2 &       1 &           5 &       (1, 16, 16, 4) &      opt8 &          0.001 &           0.84 &  20.17 &   20756 \\
1775 &      DHT &     500 &          10 &     Sum &   (0.5, 0.5) &       0.0 &    0.001 &       0.5 &       3 &        2 &       2 &           1 &        (1, 8, 16, 4) &      opt8 &          0.010 &           0.84 &  20.52 &  107788 \\
3588 &      DHT &     500 &          10 &     Sum &   (0.3, 0.5) &       0.0 &    0.001 &       0.5 &       2 &        1 &       1 &           3 &         (1, 8, 8, 4) &      opt8 &          0.010 &           0.84 &  26.93 &   12068 \\
2656 &      DHT &     500 &          10 &     Sum &   (0.2, 0.2) &       0.0 &    0.010 &       0.5 &       2 &        1 &       1 &           1 &         (1, 4, 8, 4) &      opt5 &          0.010 &           0.84 &  28.37 &   20080 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_4606/2047963523.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(dht_kfold13.sort_values("Mean_Accuracy",ascending=False).head(10).to_latex())

##### Subject 27

In [37]:
# taking abs(DHT(original signal))
dht_kfold27 = read_grid_search("results_v3/tsinghua_27_DHT_4_Sum_kfold_1") #grid_search_1_DHT_top10_4_kfold
dht_kfold27.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
315,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.100,0.5,2,1,1,1,"(1, 16, 16, 4)",opt8,0.0100,0.94,26.79,68356
822,DHT,500,10,Sum,"(0.2, 0.2)",2.0,0.001,0.5,3,2,1,1,"(1, 16, 16, 4)",opt8,0.0040,0.90,19.89,102356
775,DHT,500,10,Sum,"(0.5, 0.5)",0.0,0.001,0.5,3,2,2,1,"(1, 8, 16, 4)",opt8,0.0100,0.90,20.54,107788
2647,DHT,500,10,Sum,"(0.3, 0.15)",0.0,0.010,0.5,2,1,1,2,"(1, 16, 16, 4)",opt8,0.0100,0.90,27.15,34356
4953,DHT,500,10,Sum,"(0.3, 0.15)",2.0,0.001,0.5,3,2,3,1,"(1, 16, 16, 4)",opt8,0.0002,0.90,20.64,303636
1053,DHT,500,10,Sum,"(0.5, 0.5)",1.0,0.001,0.5,3,2,2,1,"(1, 16, 16, 4)",opt8,0.0100,0.88,21.16,203540
3705,DHT,500,10,Sum,"(0.3, 0.5)",2.0,0.001,0.5,3,2,3,1,"(1, 16, 16, 4)",opt8,0.0040,0.88,20.49,303636
4922,DHT,500,10,Sum,"(0.2, 0.2)",2.0,0.001,0.5,3,2,3,1,"(1, 16, 16, 4)",opt8,0.0010,0.88,20.63,303636
2660,DHT,500,10,Sum,"(0.5, 0.5)",2.0,0.010,0.5,3,2,3,1,"(1, 16, 16, 4)",opt8,0.0040,0.88,20.82,303636
5590,DHT,500,10,Sum,"(0.3, 0.15)",2.0,0.010,0.5,3,2,2,1,"(1, 16, 16, 4)",opt8,0.0010,0.88,20.21,203540

In [38]:
dht_kfold27.shape[0]

7628

In [39]:
print(dht_kfold27.sort_values("Mean_Accuracy",ascending=False).head(10).to_latex())

\begin{tabular}{llrrllrrrrrrrllrrrr}
\toprule
{} & Function &  Epochs &  Batch\_Size & Pooling &      Dropout &  FreqMean &  FreqStd &  Time\_Off &  Window &  Overlap &  Levels &  Band\_Width & Neuron\_Configuration & Optimizer &  Learning\_Rate &  Mean\_Accuracy &   Time &  Params \\
\midrule
315  &      DHT &     500 &          10 &     Sum &   (0.2, 0.2) &       0.0 &    0.100 &       0.5 &       2 &        1 &       1 &           1 &       (1, 16, 16, 4) &      opt8 &         0.0100 &           0.94 &  26.79 &   68356 \\
822  &      DHT &     500 &          10 &     Sum &   (0.2, 0.2) &       2.0 &    0.001 &       0.5 &       3 &        2 &       1 &           1 &       (1, 16, 16, 4) &      opt8 &         0.0040 &           0.90 &  19.89 &  102356 \\
775  &      DHT &     500 &          10 &     Sum &   (0.5, 0.5) &       0.0 &    0.001 &       0.5 &       3 &        2 &       2 &           1 &        (1, 8, 16, 4) &      opt8 &         0.0100 &           0.90 &  20.54 &  107788 \\
2647 &      DHT &     500 &          10 &     Sum &  (0.3, 0.15) &       0.0 &    0.010 &       0.5 &       2 &        1 &       1 &           2 &       (1, 16, 16, 4) &      opt8 &         0.0100 &           0.90 &  27.15 &   34356 \\
4953 &      DHT &     500 &          10 &     Sum &  (0.3, 0.15) &       2.0 &    0.001 &       0.5 &       3 &        2 &       3 &           1 &       (1, 16, 16, 4) &      opt8 &         0.0002 &           0.90 &  20.64 &  303636 \\
1053 &      DHT &     500 &          10 &     Sum &   (0.5, 0.5) &       1.0 &    0.001 &       0.5 &       3 &        2 &       2 &           1 &       (1, 16, 16, 4) &      opt8 &         0.0100 &           0.88 &  21.16 &  203540 \\
3705 &      DHT &     500 &          10 &     Sum &   (0.3, 0.5) &       2.0 &    0.001 &       0.5 &       3 &        2 &       3 &           1 &       (1, 16, 16, 4) &      opt8 &         0.0040 &           0.88 &  20.49 &  303636 \\
4922 &      DHT &     500 &          10 &     Sum &   (0.2, 0.2) &       2.0 &    0.001 &       0.5 &       3 &        2 &       3 &           1 &       (1, 16, 16, 4) &      opt8 &         0.0010 &           0.88 &  20.63 &  303636 \\
2660 &      DHT &     500 &          10 &     Sum &   (0.5, 0.5) &       2.0 &    0.010 &       0.5 &       3 &        2 &       3 &           1 &       (1, 16, 16, 4) &      opt8 &         0.0040 &           0.88 &  20.82 &  303636 \\
5590 &      DHT &     500 &          10 &     Sum &  (0.3, 0.15) &       2.0 &    0.010 &       0.5 &       3 &        2 &       2 &           1 &       (1, 16, 16, 4) &      opt8 &         0.0010 &           0.88 &  20.21 &  203540 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_4606/602771223.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(dht_kfold27.sort_values("Mean_Accuracy",ascending=False).head(10).to_latex())

##### Evaluating all the subjects on the test set (retraining with train and val sets together) - not using yet

###### DHT

In [11]:
dht_final = read_grid_search("results/final_35_DHT_top1_4")
dht_final.sort_values("Test_Accuracy", ascending=False)

,Subject,Function,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Test_Accuracy
14,31,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,1.000000
27,13,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,1.000000
6,22,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,1.000000
24,32,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,1.000000
32,26,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,1.000000
16,8,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.916667
2,4,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.916667
3,35,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.916667
4,20,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.916667
22,1,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.916667
10,5,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.916667
8,16,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.833333
18,14,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.833333
29,27,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.833333
30,21,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.750000
28,34,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.750000
15,28,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.750000
11,6,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.750000
5,30,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.750000
20,15,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.666667
9,24,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.666667
23,9,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.666667
13,17,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.583333
12,10,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.583333
25,3,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.583333
26,18,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.583333
31,33,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.500000
33,2,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.500000
0,25,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.416667
34,11,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.416667
21,23,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.416667
1,19,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.416667
7,29,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.333333
19,7,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.250000
17,12,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.250000

In [12]:
dht_final.loc[:,"Test_Accuracy"].mean()

0.7023809782857142

In [13]:
print(dht_final.sort_values("Test_Accuracy", ascending=False).to_latex())

\begin{tabular}{lrlrrrrrllrr}
\toprule
{} &  Subject & Function &  Time\_Off &  Window &  Overlap &  Levels &  Band\_Width & Neuron\_Configuration & Optimizer &  Learning\_Rate &  Test\_Accuracy \\
\midrule
14 &       31 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       1.000000 \\
27 &       13 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       1.000000 \\
6  &       22 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       1.000000 \\
24 &       32 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       1.000000 \\
32 &       26 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       1.000000 \\
16 &        8 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.916667 \\
2  &        4 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.916667 \\
3  &       35 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.916667 \\
4  &       20 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.916667 \\
22 &        1 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.916667 \\
10 &        5 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.916667 \\
8  &       16 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.833333 \\
18 &       14 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.833333 \\
29 &       27 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.833333 \\
30 &       21 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.750000 \\
28 &       34 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.750000 \\
15 &       28 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.750000 \\
11 &        6 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.750000 \\
5  &       30 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.750000 \\
20 &       15 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.666667 \\
9  &       24 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.666667 \\
23 &        9 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.666667 \\
13 &       17 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.583333 \\
12 &       10 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.583333 \\
25 &        3 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.583333 \\
26 &       18 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.583333 \\
31 &       33 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.500000 \\
33 &        2 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.500000 \\
0  &       25 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.416667 \\
34 &       11 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.416667 \\
21 &       23 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.416667 \\
1  &       19 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.416667 \\
7  &       29 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.333333 \\
19 &        7 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.250000 \\
17 &       12 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.250000 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_1096810/194379015.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(dht_final.sort_values("Test_Accuracy", ascending=False).to_latex())

### Check results - Visual MNIST of the Brain

##### Binary MNIST

In [2]:
# here we classify digit and non-digit
dft_mnist = read_grid_search("results/mnist_1_DFT_2_kfold_1")
dft_mnist.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Training_Time,Mean_Accuracy
86,DFT,500,10,"(0.2, 0.2)",1.0,0.001,0.0,2,0,3,2,"(1, 4, 4, 2)",opt5,0.0040,120.024000,0.537222
235,DFT,500,10,"(0.3, 0.15)",1.0,0.001,0.0,2,0,3,2,"(1, 16, 16, 2)",opt7,0.0040,119.407000,0.533333
51,DFT,500,10,"(0.3, 0.5)",1.0,0.010,0.0,2,0,3,2,"(1, 4, 4, 2)",opt8,0.0100,115.722010,0.530556
1,DFT,500,10,"(0.3, 0.5)",0.0,0.010,0.0,2,0,3,2,"(1, 4, 4, 2)",opt7,0.0001,117.869995,0.529444
105,DFT,500,10,"(0.3, 0.15)",2.0,0.001,0.0,2,0,3,2,"(1, 32, 32, 2)",opt5,0.0100,120.650000,0.528889
135,DFT,500,10,"(0.5, 0.5)",1.0,0.010,0.0,2,0,3,2,"(1, 4, 4, 2)",opt4,0.0040,118.484010,0.526111
82,DFT,500,10,"(0.2, 0.2)",0.0,0.001,0.0,2,0,3,2,"(1, 32, 32, 2)",opt8,0.0010,117.440000,0.526111
72,DFT,500,10,"(0.5, 0.5)",2.0,0.001,0.0,2,0,3,2,"(1, 4, 8, 2)",opt1,0.0010,117.418020,0.526111
239,DFT,500,10,"(0.3, 0.5)",1.0,0.100,0.0,2,0,3,2,"(1, 4, 8, 2)",opt7,0.0100,118.369010,0.525556
80,DFT,500,10,"(0.6, 0.2)",0.0,0.100,0.0,2,0,3,2,"(1, 16, 32, 2)",opt3,0.0010,119.586000,0.522778

In [4]:
# here we classify digit and non-digit
dht_mnist = read_grid_search("results/mnist_1_DHT_2_kfold_1")
dht_mnist.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Training_Time,Mean_Accuracy
53,DHT,500,10,"(0.6, 0.2)",1.0,0.010,0.0,2,0,3,2,"(1, 4, 8, 2)",opt8,0.0100,115.695010,0.531667
217,DHT,500,10,"(0.3, 0.5)",1.0,0.001,0.0,2,0,3,2,"(1, 4, 4, 2)",opt1,0.0010,116.943010,0.527222
157,DHT,500,10,"(0.6, 0.2)",1.0,0.001,0.0,2,0,3,2,"(1, 4, 8, 2)",opt7,0.0010,118.092000,0.526111
108,DHT,500,10,"(0.2, 0.2)",1.0,0.001,0.0,2,0,3,2,"(1, 4, 8, 2)",opt1,0.0010,116.933010,0.525556
15,DHT,500,10,"(0.3, 0.5)",1.0,0.100,0.0,2,0,2,2,"(1, 4, 8, 2)",opt1,0.0010,116.992004,0.525556
72,DHT,500,10,"(0.2, 0.2)",1.0,0.100,0.0,2,0,3,2,"(1, 4, 4, 2)",opt5,0.0040,119.943990,0.522222
60,DHT,500,10,"(0.3, 0.5)",0.0,0.010,0.0,2,0,3,2,"(1, 8, 8, 2)",opt3,0.0001,118.887000,0.522222
129,DHT,500,10,"(0.6, 0.2)",1.0,0.001,0.0,2,0,2,2,"(1, 16, 32, 2)",opt7,0.0010,119.471000,0.521667
187,DHT,500,10,"(0.3, 0.5)",2.0,0.001,0.0,2,0,3,2,"(1, 32, 32, 2)",opt2,0.0010,121.189000,0.520556
23,DHT,500,10,"(0.2, 0.2)",2.0,0.010,0.0,2,0,2,2,"(1, 16, 32, 2)",opt3,0.0100,119.273000,0.520556

### Check results - BCI Competition Dataset IV 2a

#### K-Fold DFT (1 subject)

##### Subject 1

In [15]:
bcic2akfold1 = read_grid_search("results_v3/bcic2a_1_DFT_4_Sum_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2akfold1.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
2146,DFT,500,10,Sum,"(0.5, 0.5)",0.0,0.010,0.0,5,0,3,1,"(1, 16, 32, 4)",opt5,0.004,0.745833,114.18,701194
363,DFT,500,10,Sum,"(0.3, 0.5)",0.0,0.001,0.5,5,0,3,2,"(1, 8, 16, 4)",opt4,0.004,0.725000,116.18,183964
1754,DFT,500,10,Sum,"(0.3, 0.15)",0.0,0.001,0.0,5,0,3,2,"(1, 16, 32, 4)",opt5,0.001,0.725000,117.45,347764
1223,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.5,5,0,3,1,"(1, 16, 32, 4)",opt5,0.001,0.725000,118.25,701194
2236,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.100,0.0,5,0,3,3,"(1, 16, 32, 4)",opt5,0.004,0.720833,118.61,234068
1216,DFT,500,10,Sum,"(0.3, 0.5)",0.0,0.010,0.0,5,0,2,3,"(1, 16, 32, 4)",opt4,0.001,0.720833,116.57,156276
69,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.100,0.5,5,0,2,3,"(1, 16, 32, 4)",opt5,0.004,0.720833,119.27,156276
810,DFT,500,10,Sum,"(0.5, 0.5)",0.0,0.010,0.5,5,0,2,3,"(1, 16, 32, 4)",opt3,0.004,0.716667,117.62,156276
2090,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.0,5,0,2,1,"(1, 16, 32, 4)",opt3,0.004,0.716667,117.55,467818
237,DFT,500,10,Sum,"(0.3, 0.5)",0.0,0.010,0.0,5,0,2,3,"(1, 16, 32, 4)",opt5,0.004,0.716667,115.23,156276

In [16]:
bcic2akfold1.shape[0]

2316

##### Subject 2

In [5]:
bcic2akfold2 = read_grid_search("results_v3/bcic2a_2_DFT_4_Sum_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2akfold2.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
495,DFT,500,10,Sum,"(0.3, 0.5)",0.0,0.010,0.0,5,0,2,3,"(1, 16, 32, 4)",opt5,0.0040,0.579167,114.15,156276
1484,DFT,500,10,Sum,"(0.5, 0.5)",0.0,0.010,0.5,5,0,2,3,"(1, 16, 32, 4)",opt3,0.0040,0.575000,118.85,156276
712,DFT,500,10,Sum,"(0.5, 0.5)",0.0,0.010,0.0,5,0,3,5,"(1, 16, 32, 4)",opt3,0.0100,0.575000,114.74,135706
581,DFT,500,10,Sum,"(0.2, 0.2)",2.0,0.001,0.0,5,0,2,4,"(1, 16, 32, 4)",opt8,0.0010,0.575000,110.33,117380
649,DFT,500,10,Sum,"(0.3, 0.15)",0.0,0.001,0.0,5,0,3,2,"(1, 16, 32, 4)",opt5,0.0010,0.570833,115.76,347764
964,DFT,500,10,Sum,"(0.2, 0.2)",0.0,0.010,0.0,5,0,2,5,"(1, 16, 32, 4)",opt3,0.0040,0.570833,114.15,93818
592,DFT,500,10,Sum,"(0.2, 0.2)",0.0,0.001,0.5,5,0,3,3,"(1, 16, 32, 4)",opt5,0.0001,0.566667,119.75,234068
951,DFT,500,10,Sum,"(0.3, 0.15)",0.0,0.010,0.5,5,0,3,3,"(1, 16, 32, 4)",opt5,0.0040,0.562500,120.08,234068
699,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.010,0.0,5,0,3,1,"(1, 16, 32, 4)",opt5,0.0001,0.558333,118.26,701194
681,DFT,500,10,Sum,"(0.2, 0.2)",0.0,0.100,0.5,5,0,2,3,"(1, 16, 32, 4)",opt3,0.0010,0.558333,119.27,156276

In [6]:
bcic2akfold2.shape[0]

2198

##### Subject 3

In [7]:
bcic2akfold3 = read_grid_search("results_v3/bcic2a_3_DFT_4_Sum_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2akfold3.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
726,DFT,500,10,Sum,"(0.5, 0.5)",0.0,0.001,0.5,5,0,3,4,"(1, 16, 16, 4)",opt7,0.0010,0.804167,114.88,170900
1128,DFT,500,10,Sum,"(0.5, 0.5)",0.0,0.010,0.0,5,0,2,4,"(1, 16, 16, 4)",opt4,0.0010,0.800000,116.98,117044
1647,DFT,500,10,Sum,"(0.2, 0.2)",0.0,0.010,0.0,5,0,2,4,"(1, 16, 32, 4)",opt7,0.0040,0.800000,119.24,117380
1729,DFT,500,10,Sum,"(0.3, 0.5)",0.0,0.001,0.0,5,0,3,4,"(1, 16, 16, 4)",opt4,0.0010,0.791667,119.83,170900
1520,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.010,0.0,5,0,3,4,"(1, 16, 16, 4)",opt4,0.0010,0.787500,117.60,170900
2081,DFT,500,10,Sum,"(0.3, 0.15)",2.0,0.010,0.0,5,0,2,4,"(1, 16, 32, 4)",opt7,0.0001,0.783333,115.30,117380
111,DFT,500,10,Sum,"(0.3, 0.5)",1.0,0.001,0.0,5,0,2,5,"(1, 16, 16, 4)",opt8,0.0001,0.779167,116.50,93482
516,DFT,500,10,Sum,"(0.3, 0.15)",2.0,0.001,0.5,5,0,2,4,"(1, 16, 16, 4)",opt7,0.0001,0.779167,113.66,117044
1340,DFT,500,10,Sum,"(0.3, 0.5)",2.0,0.100,0.5,5,0,3,5,"(1, 16, 16, 4)",opt8,0.0001,0.779167,112.39,135370
218,DFT,500,10,Sum,"(0.2, 0.2)",1.0,0.010,0.0,5,0,2,4,"(1, 16, 32, 4)",opt7,0.0001,0.779167,117.34,117380

In [8]:
bcic2akfold3.shape[0]

2197

##### Subject 4

In [9]:
bcic2akfold4 = read_grid_search("results_v3/bcic2a_4_DFT_4_Sum_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2akfold4.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
327,DFT,500,10,Sum,"(0.3, 0.5)",0.0,0.001,0.5,5,0,3,5,"(1, 16, 16, 4)",opt5,0.0010,0.595833,115.86,135370
731,DFT,500,10,Sum,"(0.5, 0.5)",0.0,0.100,0.5,5,0,3,5,"(1, 16, 32, 4)",opt4,0.0010,0.575000,117.55,135706
1940,DFT,500,10,Sum,"(0.5, 0.5)",0.0,0.001,0.0,5,0,3,5,"(1, 16, 32, 4)",opt7,0.0001,0.570833,112.74,135706
1553,DFT,500,10,Sum,"(0.3, 0.5)",0.0,0.001,0.5,5,0,3,5,"(1, 16, 32, 4)",opt4,0.0010,0.566667,116.10,135706
620,DFT,500,10,Sum,"(0.2, 0.2)",1.0,0.001,0.0,5,0,3,4,"(1, 16, 32, 4)",opt7,0.0001,0.562500,115.97,171236
1017,DFT,500,10,Sum,"(0.6, 0.2)",1.0,0.001,0.5,5,0,3,4,"(1, 16, 32, 4)",opt7,0.0001,0.562500,115.82,171236
1659,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.5,5,0,3,1,"(1, 16, 32, 4)",opt5,0.0010,0.558333,116.78,701194
406,DFT,500,10,Sum,"(0.2, 0.2)",2.0,0.001,0.0,5,0,3,2,"(1, 16, 32, 4)",opt4,0.0001,0.550000,114.47,347764
1280,DFT,500,10,Sum,"(0.5, 0.5)",0.0,0.100,0.5,5,0,3,2,"(1, 16, 32, 4)",opt4,0.0001,0.550000,117.94,347764
898,DFT,500,10,Sum,"(0.2, 0.2)",1.0,0.010,0.0,5,0,3,5,"(1, 16, 16, 4)",opt7,0.0010,0.545833,116.81,135370

In [10]:
bcic2akfold4.shape[0]

2313

##### Subject 5

In [11]:
bcic2akfold5 = read_grid_search("results_v3/bcic2a_5_DFT_4_Sum_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2akfold5.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
981,DFT,500,10,Sum,"(0.2, 0.2)",0.0,0.010,0.0,5,0,2,4,"(1, 16, 32, 4)",opt7,0.0040,0.600000,115.49,117380
1464,DFT,500,10,Sum,"(0.3, 0.15)",0.0,0.010,0.0,5,0,3,1,"(1, 16, 16, 4)",opt7,0.0040,0.595833,118.35,700858
605,DFT,500,10,Sum,"(0.2, 0.2)",0.0,0.010,0.0,5,0,2,4,"(1, 16, 16, 4)",opt7,0.0040,0.595833,115.75,117044
2000,DFT,500,10,Sum,"(0.3, 0.15)",0.0,0.001,0.0,5,0,2,3,"(1, 16, 16, 4)",opt7,0.0010,0.591667,117.39,155940
1705,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.100,0.0,5,0,1,5,"(1, 16, 32, 4)",opt8,0.0100,0.587500,112.69,47442
1729,DFT,500,10,Sum,"(0.3, 0.5)",0.0,0.001,0.5,5,0,2,4,"(1, 16, 16, 4)",opt4,0.0040,0.587500,117.79,117044
315,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.5,5,0,3,1,"(1, 16, 32, 4)",opt5,0.0010,0.583333,117.53,701194
389,DFT,500,10,Sum,"(0.3, 0.5)",0.0,0.001,0.5,5,0,3,5,"(1, 16, 16, 4)",opt5,0.0010,0.579167,120.29,135370
1176,DFT,500,10,Sum,"(0.3, 0.15)",0.0,0.010,0.5,5,0,3,3,"(1, 16, 32, 4)",opt5,0.0040,0.575000,120.39,234068
1376,DFT,500,10,Sum,"(0.2, 0.2)",0.0,0.010,0.5,5,0,2,4,"(1, 16, 32, 4)",opt4,0.0001,0.575000,118.14,117380

In [12]:
bcic2akfold5.shape[0]

2164

#####  Subject 6

In [13]:
bcic2akfold6 = read_grid_search("results_v3/bcic2a_6_DFT_4_Sum_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2akfold6.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
374,DFT,500,10,Sum,"(0.5, 0.5)",0.0,0.010,0.5,5,0,2,5,"(1, 16, 16, 4)",opt3,0.0010,0.525000,116.17,93482
1352,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.010,0.5,5,0,3,3,"(1, 16, 16, 4)",opt3,0.0010,0.516667,117.65,233732
2011,DFT,500,10,Sum,"(0.3, 0.15)",0.0,0.010,0.5,5,0,3,3,"(1, 16, 32, 4)",opt5,0.0040,0.512500,117.27,234068
193,DFT,500,10,Sum,"(0.2, 0.2)",1.0,0.001,0.0,5,0,3,4,"(1, 16, 32, 4)",opt7,0.0001,0.504167,115.47,171236
1743,DFT,500,10,Sum,"(0.6, 0.2)",1.0,0.001,0.5,5,0,3,4,"(1, 16, 32, 4)",opt7,0.0001,0.504167,116.69,171236
1331,DFT,500,10,Sum,"(0.6, 0.2)",2.0,0.010,0.5,5,0,3,5,"(1, 16, 32, 4)",opt8,0.0100,0.500000,115.44,135706
314,DFT,500,10,Sum,"(0.2, 0.2)",1.0,0.010,0.0,5,0,2,3,"(1, 16, 32, 4)",opt8,0.0001,0.500000,113.79,156276
1624,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.5,5,0,3,1,"(1, 16, 32, 4)",opt5,0.0010,0.500000,118.07,701194
931,DFT,500,10,Sum,"(0.2, 0.2)",0.0,0.100,0.5,5,0,3,4,"(1, 16, 16, 4)",opt5,0.0010,0.500000,118.24,170900
409,DFT,500,10,Sum,"(0.2, 0.2)",0.0,0.100,0.0,5,0,2,5,"(1, 16, 16, 4)",opt4,0.0001,0.500000,115.29,93482

In [14]:
bcic2akfold6.shape[0]

2164

#### K-Fold DHT (1 subject)

##### Subject 1

In [15]:
bcic2akfold1 = read_grid_search("results_v3/bcic2a_1_DHT_4_Sum_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2akfold1.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
1258,DHT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.5,5,0,2,3,"(1, 16, 16, 4)",opt5,0.0100,0.729167,118.26,155940
772,DHT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.0,5,0,3,3,"(1, 16, 16, 4)",opt3,0.0040,0.716667,115.23,233732
1336,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.010,0.0,5,0,3,3,"(1, 16, 32, 4)",opt7,0.0040,0.716667,118.15,234068
564,DHT,500,10,Sum,"(0.3, 0.15)",0.0,0.001,0.5,5,0,2,3,"(1, 16, 16, 4)",opt5,0.0040,0.716667,118.65,155940
2076,DHT,500,10,Sum,"(0.2, 0.2)",2.0,0.100,0.0,5,0,3,3,"(1, 16, 16, 4)",opt5,0.0001,0.712500,119.69,233732
1358,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.001,0.0,5,0,2,3,"(1, 8, 16, 4)",opt7,0.0010,0.708333,115.20,82588
1445,DHT,500,10,Sum,"(0.3, 0.5)",0.0,0.010,0.5,5,0,3,3,"(1, 16, 16, 4)",opt5,0.0100,0.708333,117.74,233732
304,DHT,500,10,Sum,"(0.6, 0.2)",0.0,0.100,0.0,5,0,3,3,"(1, 16, 16, 4)",opt4,0.0040,0.708333,118.86,233732
2089,DHT,500,10,Sum,"(0.6, 0.2)",0.0,0.010,0.5,5,0,3,3,"(1, 16, 16, 4)",opt5,0.0100,0.708333,117.15,233732
1552,DHT,500,10,Sum,"(0.3, 0.5)",0.0,0.010,0.5,5,0,2,3,"(1, 16, 16, 4)",opt5,0.0040,0.704167,119.91,155940

In [16]:
bcic2akfold1.shape[0]

2338

##### Subject 2

In [17]:
bcic2akfold2 = read_grid_search("results_v3/bcic2a_2_DHT_4_Sum_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2akfold2.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
1033,DHT,500,10,Sum,"(0.5, 0.5)",0.0,0.100,0.0,5,0,2,3,"(1, 16, 32, 4)",opt3,0.0010,0.595833,118.12,156276
1586,DHT,500,10,Sum,"(0.6, 0.2)",0.0,0.010,0.0,5,0,3,3,"(1, 8, 16, 4)",opt8,0.0040,0.575000,113.53,123772
936,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.001,0.0,5,0,3,3,"(1, 16, 32, 4)",opt8,0.0100,0.570833,112.94,234068
1355,DHT,500,10,Sum,"(0.3, 0.5)",0.0,0.001,0.5,5,0,2,3,"(1, 16, 32, 4)",opt5,0.0010,0.566667,114.50,156276
1885,DHT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.0,5,0,2,3,"(1, 16, 32, 4)",opt8,0.0100,0.562500,113.41,156276
1467,DHT,500,10,Sum,"(0.3, 0.15)",0.0,0.001,0.5,5,0,2,3,"(1, 16, 16, 4)",opt5,0.0040,0.562500,117.18,155940
1221,DHT,500,10,Sum,"(0.3, 0.15)",0.0,0.100,0.5,5,0,3,3,"(1, 16, 32, 4)",opt4,0.0010,0.562500,114.55,234068
1351,DHT,500,10,Sum,"(0.6, 0.2)",1.0,0.100,0.5,5,0,3,4,"(1, 16, 32, 4)",opt7,0.0001,0.562500,115.32,171236
1594,DHT,500,10,Sum,"(0.3, 0.5)",1.0,0.001,0.5,5,0,3,3,"(1, 16, 32, 4)",opt7,0.0001,0.558333,115.40,234068
412,DHT,500,10,Sum,"(0.3, 0.15)",2.0,0.100,0.0,5,0,3,3,"(1, 16, 16, 4)",opt4,0.0001,0.558333,114.91,233732

In [18]:
bcic2akfold2.shape[0]

2170

##### Subject 3

In [19]:
bcic2akfold3 = read_grid_search("results_v3/bcic2a_3_DHT_4_Sum_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2akfold3.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
49,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.010,0.0,5,0,2,3,"(1, 16, 16, 4)",opt3,0.0010,0.754167,114.27,155940
1327,DHT,500,10,Sum,"(0.3, 0.5)",1.0,0.010,0.5,5,0,2,3,"(1, 16, 16, 4)",opt7,0.0001,0.754167,116.53,155940
39,DHT,500,10,Sum,"(0.6, 0.2)",2.0,0.100,0.5,5,0,3,3,"(1, 16, 32, 4)",opt8,0.0010,0.754167,113.55,234068
1827,DHT,500,10,Sum,"(0.5, 0.5)",1.0,0.001,0.0,5,0,2,3,"(1, 16, 32, 4)",opt7,0.0001,0.745833,118.65,156276
1752,DHT,500,10,Sum,"(0.5, 0.5)",0.0,0.001,0.0,5,0,3,4,"(1, 4, 8, 4)",opt7,0.0010,0.745833,114.65,50240
823,DHT,500,10,Sum,"(0.3, 0.5)",2.0,0.001,0.5,5,0,3,5,"(1, 8, 16, 4)",opt1,0.0100,0.741667,112.45,71698
126,DHT,500,10,Sum,"(0.2, 0.2)",2.0,0.100,0.0,5,0,2,3,"(1, 16, 32, 4)",opt7,0.0001,0.741667,115.51,156276
841,DHT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.5,5,0,3,5,"(1, 16, 16, 4)",opt7,0.0040,0.741667,121.27,135370
1441,DHT,500,10,Sum,"(0.6, 0.2)",1.0,0.100,0.5,5,0,3,4,"(1, 16, 32, 4)",opt7,0.0001,0.741667,118.15,171236
277,DHT,500,10,Sum,"(0.5, 0.5)",2.0,0.010,0.0,5,0,2,5,"(1, 16, 16, 4)",opt1,0.0100,0.737500,116.26,93482

In [20]:
bcic2akfold3.shape[0]

2170

##### Subject 4

In [21]:
bcic2akfold4 = read_grid_search("results_v3/bcic2a_4_DHT_4_Sum_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2akfold4.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
1905,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.010,0.0,5,0,2,5,"(1, 16, 32, 4)",opt7,0.0010,0.541667,118.33,93818
947,DHT,500,10,Sum,"(0.5, 0.5)",0.0,0.010,0.0,5,0,3,4,"(1, 16, 32, 4)",opt7,0.0010,0.529167,116.08,171236
1959,DHT,500,10,Sum,"(0.3, 0.5)",0.0,0.010,0.0,5,0,3,5,"(1, 16, 32, 4)",opt4,0.0001,0.529167,117.05,135706
1859,DHT,500,10,Sum,"(0.6, 0.2)",0.0,0.010,0.0,5,0,3,5,"(1, 16, 32, 4)",opt4,0.0001,0.529167,117.25,135706
726,DHT,500,10,Sum,"(0.3, 0.15)",2.0,0.001,0.0,5,0,3,4,"(1, 16, 32, 4)",opt5,0.0001,0.525000,115.89,171236
558,DHT,500,10,Sum,"(0.3, 0.5)",0.0,0.001,0.5,5,0,2,3,"(1, 16, 32, 4)",opt5,0.0010,0.525000,115.32,156276
2283,DHT,500,10,Sum,"(0.3, 0.5)",1.0,0.001,0.5,5,0,3,3,"(1, 16, 32, 4)",opt7,0.0001,0.525000,117.55,234068
2259,DHT,500,10,Sum,"(0.3, 0.5)",1.0,0.010,0.5,5,0,2,3,"(1, 16, 16, 4)",opt7,0.0001,0.520833,117.72,155940
856,DHT,500,10,Sum,"(0.3, 0.15)",2.0,0.100,0.5,5,0,3,5,"(1, 16, 32, 4)",opt4,0.0001,0.520833,120.46,135706
1318,DHT,500,10,Sum,"(0.6, 0.2)",0.0,0.010,0.5,5,0,3,5,"(1, 16, 32, 4)",opt3,0.0040,0.520833,115.36,135706

In [22]:
bcic2akfold4.shape[0]

2338

##### Subject 5

In [23]:
bcic2akfold5 = read_grid_search("results_v3/bcic2a_5_DHT_4_Sum_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2akfold5.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
1683,DHT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.0,5,0,3,4,"(1, 16, 16, 4)",opt5,0.0040,0.629167,119.19,170900
52,DHT,500,10,Sum,"(0.6, 0.2)",0.0,0.010,0.5,5,0,3,4,"(1, 16, 16, 4)",opt7,0.0040,0.629167,115.19,170900
785,DHT,500,10,Sum,"(0.5, 0.5)",0.0,0.010,0.0,5,0,3,4,"(1, 16, 32, 4)",opt3,0.0010,0.604167,117.10,171236
1924,DHT,500,10,Sum,"(0.6, 0.2)",0.0,0.100,0.5,5,0,3,4,"(1, 16, 32, 4)",opt4,0.0001,0.604167,113.40,171236
374,DHT,500,10,Sum,"(0.6, 0.2)",0.0,0.100,0.0,5,0,3,4,"(1, 16, 16, 4)",opt7,0.0001,0.595833,118.73,170900
655,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.001,0.5,5,0,3,5,"(1, 16, 32, 4)",opt7,0.0010,0.595833,117.03,135706
1036,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.010,0.0,5,0,3,3,"(1, 16, 32, 4)",opt7,0.0040,0.587500,117.53,234068
1989,DHT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.5,5,0,3,1,"(1, 16, 32, 4)",opt3,0.0010,0.587500,115.92,701194
891,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.100,0.5,5,0,3,4,"(1, 16, 16, 4)",opt7,0.0010,0.587500,114.25,170900
603,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.010,0.0,5,0,3,4,"(1, 16, 16, 4)",opt5,0.0010,0.583333,118.53,170900

In [24]:
bcic2akfold5.shape[0]

2170

##### Subject 6

In [25]:
bcic2akfold6 = read_grid_search("results_v3/bcic2a_6_DHT_4_Sum_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2akfold6.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
552,DHT,500,10,Sum,"(0.6, 0.2)",2.0,0.100,0.5,5,0,3,3,"(1, 16, 32, 4)",opt8,0.0010,0.508333,114.11,234068
1186,DHT,500,10,Sum,"(0.6, 0.2)",2.0,0.001,0.0,5,0,3,4,"(1, 16, 16, 4)",opt4,0.0001,0.500000,116.10,170900
1654,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.001,0.5,5,0,3,4,"(1, 16, 32, 4)",opt5,0.0010,0.500000,119.25,171236
1350,DHT,500,10,Sum,"(0.6, 0.2)",1.0,0.100,0.5,5,0,3,3,"(1, 16, 16, 4)",opt8,0.0001,0.500000,114.35,233732
1546,DHT,500,10,Sum,"(0.3, 0.5)",2.0,0.100,0.5,5,0,3,3,"(1, 16, 16, 4)",opt8,0.0001,0.495833,112.89,233732
217,DHT,500,10,Sum,"(0.6, 0.2)",0.0,0.010,0.5,5,0,3,5,"(1, 16, 32, 4)",opt3,0.0040,0.495833,113.73,135706
1921,DHT,500,10,Sum,"(0.2, 0.2)",1.0,0.100,0.0,5,0,2,5,"(1, 8, 16, 4)",opt1,0.0100,0.491667,114.39,49522
123,DHT,500,10,Sum,"(0.3, 0.5)",0.0,0.010,0.5,5,0,3,5,"(1, 16, 16, 4)",opt7,0.0001,0.491667,115.07,135370
1775,DHT,500,10,Sum,"(0.6, 0.2)",1.0,0.100,0.5,5,0,3,4,"(1, 16, 32, 4)",opt7,0.0001,0.491667,115.83,171236
54,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.100,0.5,5,0,3,4,"(1, 16, 16, 4)",opt7,0.0010,0.487500,113.85,170900

In [26]:
bcic2akfold6.shape[0]

2170

##### Final training with best config - not using yet

In [3]:
#### Classification using DHT and no validation set (training and evaluating on the test set)
bcic2a = read_grid_search("results/final_bcic2a_1_DHT_top10_4")
bcic2a.sort_values("Test_Accuracy",ascending=False).head(10)

,Subject,Function,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Test_Accuracy
0,1,DHT,0.0,5,0,3,5,"[64, 64]",opt3,0.001,0.600695

In [4]:
bcic2a = read_grid_search("results/final_bcic2a_9_DHT_top10_4")
bcic2a.sort_values("Test_Accuracy",ascending=False).head(10)

,Subject,Function,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Test_Accuracy
0,8,DHT,0.0,5,0,3,5,"[64, 64]",opt3,0.001,0.704861
6,3,DHT,0.0,5,0,3,5,"[64, 64]",opt3,0.001,0.697917
7,9,DHT,0.0,5,0,3,5,"[64, 64]",opt3,0.001,0.604167
2,1,DHT,0.0,5,0,3,5,"[64, 64]",opt3,0.001,0.600695
8,4,DHT,0.0,5,0,3,5,"[64, 64]",opt3,0.001,0.500000
3,2,DHT,0.0,5,0,3,5,"[64, 64]",opt3,0.001,0.489583
5,7,DHT,0.0,5,0,3,5,"[64, 64]",opt3,0.001,0.472222
1,6,DHT,0.0,5,0,3,5,"[64, 64]",opt3,0.001,0.385417
4,5,DHT,0.0,5,0,3,5,"[64, 64]",opt3,0.001,0.354167

In [5]:
bcic2a = read_grid_search("results/final_bcic2a_1_DFT_top10_4")
bcic2a.sort_values("Test_Accuracy",ascending=False).head(10)

,Subject,Function,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Test_Accuracy
0,1,DFT,0.0,5,0,2,5,"[64, 64]",opt8,0.001,0.625

In [6]:
bcic2a = read_grid_search("results/final_bcic2a_9_DFT_top10_4")
bcic2a.sort_values("Test_Accuracy",ascending=False).head(10)

,Subject,Function,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Test_Accuracy
5,8,DFT,0.0,5,0,2,5,"[64, 64]",opt8,0.001,0.697917
1,9,DFT,0.0,5,0,2,5,"[64, 64]",opt8,0.001,0.687500
3,3,DFT,0.0,5,0,2,5,"[64, 64]",opt8,0.001,0.687500
4,1,DFT,0.0,5,0,2,5,"[64, 64]",opt8,0.001,0.625000
7,4,DFT,0.0,5,0,2,5,"[64, 64]",opt8,0.001,0.527778
6,2,DFT,0.0,5,0,2,5,"[64, 64]",opt8,0.001,0.524306
8,7,DFT,0.0,5,0,2,5,"[64, 64]",opt8,0.001,0.468750
0,6,DFT,0.0,5,0,2,5,"[64, 64]",opt8,0.001,0.434028
2,5,DFT,0.0,5,0,2,5,"[64, 64]",opt8,0.001,0.420139