### Setup

In [1]:
from main_functions.utils import read_grid_search
import pandas as pd

### Check results - Tsinghua Dataset

#### k-fold DFT (1 subject)

##### Subject 1

In [16]:
dft_kfold = read_grid_search("results_v3/tsinghua_1_DFT_4_Sum_kfold_1")
dft_kfold.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
5116,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.5,3,2,1,1,"(1, 8, 16, 4)",opt7,0.010,0.82,20.96,54220
6668,DFT,500,10,Sum,"(0.2, 0.2)",1.0,0.100,0.5,3,2,1,1,"(1, 8, 16, 4)",opt8,0.004,0.82,21.06,54220
2578,DFT,500,10,Sum,"(0.5, 0.5)",0.0,0.100,0.5,3,2,1,2,"(1, 8, 8, 4)",opt3,0.010,0.80,20.68,27044
4,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.5,3,2,3,1,"(1, 16, 16, 4)",opt5,0.010,0.80,21.58,303636
2142,DFT,500,10,Sum,"(0.5, 0.5)",0.0,0.001,0.5,3,2,3,1,"(1, 16, 16, 4)",opt5,0.010,0.80,22.14,303636
462,DFT,500,10,Sum,"(0.5, 0.5)",2.0,0.010,0.5,3,2,1,1,"(1, 4, 8, 4)",opt8,0.001,0.78,21.14,30080
1180,DFT,500,10,Sum,"(0.5, 0.5)",0.0,0.100,0.5,3,2,1,2,"(1, 8, 8, 4)",opt5,0.004,0.78,21.71,27044
2526,DFT,500,10,Sum,"(0.3, 0.15)",0.0,0.001,0.5,3,2,1,2,"(1, 8, 8, 4)",opt3,0.010,0.78,21.66,27044
6501,DFT,500,10,Sum,"(0.3, 0.15)",0.0,0.100,0.5,3,2,1,2,"(1, 8, 8, 4)",opt4,0.004,0.78,21.39,27044
2117,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.010,0.5,2,1,1,1,"(1, 8, 8, 4)",opt4,0.010,0.78,27.56,36116

In [17]:
dft_kfold.shape[0]

7878

In [30]:
print(dft_kfold.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10).to_latex())

\begin{tabular}{llrrllrrrrrrrllrrrr}
\toprule
{} & Function &  Epochs &  Batch\_Size & Pooling &      Dropout &  FreqMean &  FreqStd &  Time\_Off &  Window &  Overlap &  Levels &  Band\_Width & Neuron\_Configuration & Optimizer &  Learning\_Rate &  Mean\_Accuracy &   Time &  Params \\
\midrule
5116 &      DFT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &    0.001 &       0.5 &       3 &        2 &       1 &           1 &        (1, 8, 16, 4) &      opt7 &          0.010 &           0.82 &  20.96 &   54220 \\
6668 &      DFT &     500 &          10 &     Sum &   (0.2, 0.2) &       1.0 &    0.100 &       0.5 &       3 &        2 &       1 &           1 &        (1, 8, 16, 4) &      opt8 &          0.004 &           0.82 &  21.06 &   54220 \\
2578 &      DFT &     500 &          10 &     Sum &   (0.5, 0.5) &       0.0 &    0.100 &       0.5 &       3 &        2 &       1 &           2 &         (1, 8, 8, 4) &      opt3 &          0.010 &           0.80 &  20.68 &   27044 \\
4    &      DFT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &    0.001 &       0.5 &       3 &        2 &       3 &           1 &       (1, 16, 16, 4) &      opt5 &          0.010 &           0.80 &  21.58 &  303636 \\
2142 &      DFT &     500 &          10 &     Sum &   (0.5, 0.5) &       0.0 &    0.001 &       0.5 &       3 &        2 &       3 &           1 &       (1, 16, 16, 4) &      opt5 &          0.010 &           0.80 &  22.14 &  303636 \\
462  &      DFT &     500 &          10 &     Sum &   (0.5, 0.5) &       2.0 &    0.010 &       0.5 &       3 &        2 &       1 &           1 &         (1, 4, 8, 4) &      opt8 &          0.001 &           0.78 &  21.14 &   30080 \\
1180 &      DFT &     500 &          10 &     Sum &   (0.5, 0.5) &       0.0 &    0.100 &       0.5 &       3 &        2 &       1 &           2 &         (1, 8, 8, 4) &      opt5 &          0.004 &           0.78 &  21.71 &   27044 \\
2526 &      DFT &     500 &          10 &     Sum &  (0.3, 0.15) &       0.0 &    0.001 &       0.5 &       3 &        2 &       1 &           2 &         (1, 8, 8, 4) &      opt3 &          0.010 &           0.78 &  21.66 &   27044 \\
6501 &      DFT &     500 &          10 &     Sum &  (0.3, 0.15) &       0.0 &    0.100 &       0.5 &       3 &        2 &       1 &           2 &         (1, 8, 8, 4) &      opt4 &          0.004 &           0.78 &  21.39 &   27044 \\
2117 &      DFT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &    0.010 &       0.5 &       2 &        1 &       1 &           1 &         (1, 8, 8, 4) &      opt4 &          0.010 &           0.78 &  27.56 &   36116 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_5917/367214467.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(dft_kfold.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10).to_latex())

In [18]:
dftmean_kfold1 = read_grid_search("results_v3/tsinghua_1_DFT_4_Mean_kfold_1")
dftmean_kfold1.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
412,DFT,500,10,Mean,"(0.6, 0.2)",0.0,0.100,0.5,2,1,1,1,"(1, 16, 16, 4)",opt5,0.0100,0.82,28.88,68356
1996,DFT,500,10,Mean,"(0.3, 0.15)",0.0,0.100,0.5,3,2,1,1,"(1, 8, 8, 4)",opt7,0.0040,0.80,21.84,54116
2658,DFT,500,10,Mean,"(0.2, 0.2)",1.0,0.001,0.5,3,2,1,1,"(1, 8, 16, 4)",opt8,0.0040,0.80,20.71,54220
1529,DFT,500,10,Mean,"(0.3, 0.15)",2.0,0.010,0.5,3,2,1,1,"(1, 4, 8, 4)",opt8,0.0010,0.78,20.26,30080
2472,DFT,500,10,Mean,"(0.5, 0.5)",0.0,0.010,0.5,2,1,1,1,"(1, 8, 8, 4)",opt4,0.0100,0.78,27.77,36116
2024,DFT,500,10,Mean,"(0.3, 0.15)",1.0,0.001,0.5,3,2,1,1,"(1, 16, 16, 4)",opt4,0.0040,0.78,21.09,102356
94,DFT,500,10,Mean,"(0.5, 0.5)",0.0,0.010,0.5,2,1,2,1,"(1, 8, 16, 4)",opt4,0.0100,0.78,28.15,71932
1714,DFT,500,10,Mean,"(0.6, 0.2)",1.0,0.100,0.5,2,1,1,3,"(1, 8, 8, 4)",opt5,0.0002,0.76,28.90,12068
309,DFT,500,10,Mean,"(0.2, 0.2)",0.0,0.100,0.5,3,2,1,2,"(1, 8, 16, 4)",opt5,0.0100,0.76,22.19,27148
406,DFT,500,10,Mean,"(0.3, 0.15)",1.0,0.100,0.5,3,2,1,1,"(1, 8, 16, 4)",opt8,0.0010,0.76,20.91,54220

In [19]:
dftmean_kfold1.shape[0]

3164

In [20]:
dftmax_kfold1 = read_grid_search("results_v3/tsinghua_1_DFT_4_Max_kfold_1")
dftmax_kfold1.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
2274,DFT,500,10,Max,"(0.5, 0.5)",0.0,0.100,0.5,3,2,1,4,"(1, 8, 16, 4)",opt4,0.0002,0.92,20.85,13612
1655,DFT,500,10,Max,"(0.3, 0.5)",0.0,0.001,0.5,3,2,1,3,"(1, 8, 8, 4)",opt3,0.0040,0.92,21.13,18116
1859,DFT,500,10,Max,"(0.5, 0.5)",0.0,0.100,0.5,3,2,1,4,"(1, 8, 16, 4)",opt5,0.0040,0.90,21.71,13612
1359,DFT,500,10,Max,"(0.6, 0.2)",1.0,0.100,0.5,3,2,1,4,"(1, 8, 8, 4)",opt4,0.0010,0.90,20.81,13508
3053,DFT,500,10,Max,"(0.6, 0.2)",0.0,0.001,0.5,3,2,2,4,"(1, 8, 16, 4)",opt7,0.0100,0.90,20.45,26860
2394,DFT,500,10,Max,"(0.3, 0.15)",0.0,0.001,0.5,3,2,1,2,"(1, 8, 16, 4)",opt7,0.0100,0.90,21.50,27148
930,DFT,500,10,Max,"(0.5, 0.5)",0.0,0.001,0.5,3,2,1,3,"(1, 16, 16, 4)",opt4,0.0001,0.90,20.84,34356
1676,DFT,500,10,Max,"(0.2, 0.2)",0.0,0.100,0.5,3,2,1,3,"(1, 16, 16, 4)",opt7,0.0040,0.90,21.10,34356
1393,DFT,500,10,Max,"(0.5, 0.5)",0.0,0.010,0.5,3,2,1,2,"(1, 16, 16, 4)",opt5,0.0100,0.90,21.44,51220
75,DFT,500,10,Max,"(0.3, 0.15)",2.0,0.001,0.5,3,2,1,3,"(1, 4, 8, 4)",opt7,0.0010,0.88,20.40,10080

In [21]:
dftmax_kfold1.shape[0]

3092

##### Subject 4

In [22]:
# taking abs(DHT(original signal))
dft_kfold4 = read_grid_search("results_v3/tsinghua_4_DFT_4_Sum_kfold_1") #grid_search_1_DHT_top10_4_kfold
dft_kfold4.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
6527,DFT,500,10,Sum,"(0.3, 0.15)",0.0,0.001,0.5,2,1,3,1,"(1, 16, 16, 4)",opt8,0.010,0.88,27.85,201092
7433,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.010,0.5,2,1,1,1,"(1, 16, 16, 4)",opt8,0.010,0.86,27.42,68356
1553,DFT,500,10,Sum,"(0.3, 0.15)",0.0,0.100,0.5,3,2,1,1,"(1, 16, 16, 4)",opt8,0.010,0.86,20.92,102356
3110,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.100,0.5,2,1,1,1,"(1, 4, 8, 4)",opt4,0.010,0.84,28.37,20080
994,DFT,500,10,Sum,"(0.2, 0.2)",0.0,0.100,0.5,2,1,1,1,"(1, 4, 8, 4)",opt4,0.004,0.84,28.25,20080
4827,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.010,0.5,2,1,1,1,"(1, 8, 8, 4)",opt4,0.010,0.84,28.24,36116
5989,DFT,500,10,Sum,"(0.2, 0.2)",0.0,0.010,0.5,2,1,1,1,"(1, 8, 8, 4)",opt4,0.010,0.84,28.07,36116
1526,DFT,500,10,Sum,"(0.3, 0.15)",0.0,0.001,0.5,2,1,2,1,"(1, 8, 8, 4)",opt7,0.010,0.84,28.66,71828
4753,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.010,0.5,2,1,3,1,"(1, 16, 16, 4)",opt8,0.010,0.84,28.17,201092
6640,DFT,500,10,Sum,"(0.2, 0.2)",0.0,0.100,0.5,3,2,3,1,"(1, 16, 16, 4)",opt8,0.010,0.84,20.49,303636

In [23]:
dft_kfold4.shape[0]

7878

In [31]:
print(dft_kfold4.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10).to_latex())

\begin{tabular}{llrrllrrrrrrrllrrrr}
\toprule
{} & Function &  Epochs &  Batch\_Size & Pooling &      Dropout &  FreqMean &  FreqStd &  Time\_Off &  Window &  Overlap &  Levels &  Band\_Width & Neuron\_Configuration & Optimizer &  Learning\_Rate &  Mean\_Accuracy &   Time &  Params \\
\midrule
6527 &      DFT &     500 &          10 &     Sum &  (0.3, 0.15) &       0.0 &    0.001 &       0.5 &       2 &        1 &       3 &           1 &       (1, 16, 16, 4) &      opt8 &          0.010 &           0.88 &  27.85 &  201092 \\
7433 &      DFT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &    0.010 &       0.5 &       2 &        1 &       1 &           1 &       (1, 16, 16, 4) &      opt8 &          0.010 &           0.86 &  27.42 &   68356 \\
1553 &      DFT &     500 &          10 &     Sum &  (0.3, 0.15) &       0.0 &    0.100 &       0.5 &       3 &        2 &       1 &           1 &       (1, 16, 16, 4) &      opt8 &          0.010 &           0.86 &  20.92 &  102356 \\
3110 &      DFT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &    0.100 &       0.5 &       2 &        1 &       1 &           1 &         (1, 4, 8, 4) &      opt4 &          0.010 &           0.84 &  28.37 &   20080 \\
994  &      DFT &     500 &          10 &     Sum &   (0.2, 0.2) &       0.0 &    0.100 &       0.5 &       2 &        1 &       1 &           1 &         (1, 4, 8, 4) &      opt4 &          0.004 &           0.84 &  28.25 &   20080 \\
4827 &      DFT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &    0.010 &       0.5 &       2 &        1 &       1 &           1 &         (1, 8, 8, 4) &      opt4 &          0.010 &           0.84 &  28.24 &   36116 \\
5989 &      DFT &     500 &          10 &     Sum &   (0.2, 0.2) &       0.0 &    0.010 &       0.5 &       2 &        1 &       1 &           1 &         (1, 8, 8, 4) &      opt4 &          0.010 &           0.84 &  28.07 &   36116 \\
1526 &      DFT &     500 &          10 &     Sum &  (0.3, 0.15) &       0.0 &    0.001 &       0.5 &       2 &        1 &       2 &           1 &         (1, 8, 8, 4) &      opt7 &          0.010 &           0.84 &  28.66 &   71828 \\
4753 &      DFT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &    0.010 &       0.5 &       2 &        1 &       3 &           1 &       (1, 16, 16, 4) &      opt8 &          0.010 &           0.84 &  28.17 &  201092 \\
6640 &      DFT &     500 &          10 &     Sum &   (0.2, 0.2) &       0.0 &    0.100 &       0.5 &       3 &        2 &       3 &           1 &       (1, 16, 16, 4) &      opt8 &          0.010 &           0.84 &  20.49 &  303636 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_5917/225627493.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(dft_kfold4.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10).to_latex())

In [25]:
dftmean_kfold4 = read_grid_search("results_v3/tsinghua_4_DFT_4_Mean_kfold_1")
dftmean_kfold4.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
2121,DFT,500,10,Mean,"(0.3, 0.5)",0.0,0.100,0.5,2,1,1,1,"(1, 4, 8, 4)",opt5,0.010,0.84,27.85,20080
1674,DFT,500,10,Mean,"(0.5, 0.5)",0.0,0.010,0.5,2,1,1,1,"(1, 8, 8, 4)",opt4,0.010,0.84,27.56,36116
2425,DFT,500,10,Mean,"(0.3, 0.15)",2.0,0.001,0.5,3,2,1,5,"(1, 4, 8, 4)",opt8,0.001,0.82,20.54,6080
2722,DFT,500,10,Mean,"(0.3, 0.15)",0.0,0.100,0.5,2,1,2,3,"(1, 4, 8, 4)",opt4,0.010,0.82,27.35,13120
2002,DFT,500,10,Mean,"(0.3, 0.15)",0.0,0.010,0.5,3,2,1,5,"(1, 16, 16, 4)",opt7,0.010,0.82,21.28,20756
1775,DFT,500,10,Mean,"(0.6, 0.2)",0.0,0.100,0.5,2,1,1,1,"(1, 16, 16, 4)",opt8,0.004,0.82,27.45,68356
1769,DFT,500,10,Mean,"(0.6, 0.2)",0.0,0.100,0.5,2,1,2,1,"(1, 8, 8, 4)",opt4,0.010,0.82,28.82,71828
2041,DFT,500,10,Mean,"(0.3, 0.15)",2.0,0.100,0.5,2,1,3,1,"(1, 16, 16, 4)",opt8,0.001,0.82,26.39,201092
589,DFT,500,10,Mean,"(0.5, 0.5)",0.0,0.010,0.5,2,1,1,5,"(1, 4, 8, 4)",opt5,0.004,0.80,28.81,4080
1623,DFT,500,10,Mean,"(0.5, 0.5)",0.0,0.010,0.5,2,1,1,2,"(1, 4, 8, 4)",opt4,0.010,0.80,28.08,10080

In [26]:
dftmean_kfold4.shape[0]

3164

In [27]:
dftmax_kfold4 = read_grid_search("results_v3/tsinghua_4_DFT_4_Max_kfold_1")
dftmax_kfold4.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
1379,DFT,500,10,Max,"(0.5, 0.5)",0.0,0.10,0.5,2,1,1,2,"(1, 16, 16, 4)",opt8,0.004,0.94,27.46,34356
1051,DFT,500,10,Max,"(0.6, 0.2)",2.0,0.10,0.5,3,2,1,4,"(1, 8, 16, 4)",opt5,0.004,0.92,21.00,13612
2198,DFT,500,10,Max,"(0.5, 0.5)",0.0,0.10,0.5,3,2,1,4,"(1, 8, 16, 4)",opt4,0.001,0.92,21.00,13612
1853,DFT,500,10,Max,"(0.6, 0.2)",1.0,0.10,0.5,3,2,1,3,"(1, 8, 16, 4)",opt4,0.004,0.92,20.67,18220
2455,DFT,500,10,Max,"(0.5, 0.5)",0.0,0.01,0.5,2,1,1,2,"(1, 8, 16, 4)",opt8,0.010,0.92,26.63,18220
2791,DFT,500,10,Max,"(0.5, 0.5)",0.0,0.10,0.5,2,1,3,4,"(1, 8, 16, 4)",opt8,0.010,0.92,26.68,24700
721,DFT,500,10,Max,"(0.5, 0.5)",0.0,0.01,0.5,3,2,1,2,"(1, 16, 16, 4)",opt5,0.010,0.92,21.14,51220
2578,DFT,500,10,Max,"(0.2, 0.2)",0.0,0.01,0.5,3,2,2,2,"(1, 8, 16, 4)",opt7,0.010,0.92,21.84,53644
649,DFT,500,10,Max,"(0.2, 0.2)",0.0,0.10,0.5,3,2,3,1,"(1, 16, 16, 4)",opt8,0.004,0.92,20.24,303636
671,DFT,500,10,Max,"(0.6, 0.2)",0.0,0.01,0.5,2,1,1,2,"(1, 4, 8, 4)",opt5,0.004,0.90,27.98,10080

In [28]:
dftmax_kfold4.shape[0]

3092

##### Subject 13

In [32]:
# taking abs(DHT(original signal))
dft_kfold13 = read_grid_search("results_v3/tsinghua_13_DFT_4_Sum_kfold_1") #grid_search_1_DHT_top10_4_kfold
dft_kfold13.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
6626,DFT,500,10,Sum,"(0.3, 0.5)",2.0,0.001,0.5,3,2,1,5,"(1, 16, 16, 4)",opt8,0.0040,0.86,20.14,20756
4063,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.010,0.5,2,1,1,1,"(1, 16, 16, 4)",opt8,0.0100,0.86,26.94,68356
3856,DFT,500,10,Sum,"(0.3, 0.15)",2.0,0.100,0.5,3,2,1,5,"(1, 8, 16, 4)",opt8,0.0010,0.84,21.29,11020
6545,DFT,500,10,Sum,"(0.3, 0.15)",2.0,0.010,0.5,3,2,1,5,"(1, 8, 16, 4)",opt7,0.0002,0.84,21.29,11020
3526,DFT,500,10,Sum,"(0.2, 0.2)",2.0,0.010,0.5,3,2,1,5,"(1, 16, 16, 4)",opt8,0.0040,0.84,20.37,20756
6822,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.5,2,1,2,1,"(1, 16, 16, 4)",opt4,0.0100,0.84,28.05,135812
439,DFT,500,10,Sum,"(0.2, 0.2)",0.0,0.010,0.5,2,1,1,5,"(1, 8, 16, 4)",opt8,0.0100,0.84,27.85,7420
2712,DFT,500,10,Sum,"(0.3, 0.15)",2.0,0.001,0.5,3,2,1,5,"(1, 8, 16, 4)",opt4,0.0002,0.82,21.51,11020
6204,DFT,500,10,Sum,"(0.3, 0.5)",0.0,0.100,0.5,3,2,2,5,"(1, 8, 16, 4)",opt8,0.0100,0.82,20.20,21388
4992,DFT,500,10,Sum,"(0.3, 0.15)",0.0,0.001,0.5,3,2,2,1,"(1, 16, 16, 4)",opt4,0.0100,0.82,21.45,203540

In [33]:
dft_kfold13.shape[0]

7878

In [34]:
print(dft_kfold13.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10).to_latex())

\begin{tabular}{llrrllrrrrrrrllrrrr}
\toprule
{} & Function &  Epochs &  Batch\_Size & Pooling &      Dropout &  FreqMean &  FreqStd &  Time\_Off &  Window &  Overlap &  Levels &  Band\_Width & Neuron\_Configuration & Optimizer &  Learning\_Rate &  Mean\_Accuracy &   Time &  Params \\
\midrule
6626 &      DFT &     500 &          10 &     Sum &   (0.3, 0.5) &       2.0 &    0.001 &       0.5 &       3 &        2 &       1 &           5 &       (1, 16, 16, 4) &      opt8 &         0.0040 &           0.86 &  20.14 &   20756 \\
4063 &      DFT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &    0.010 &       0.5 &       2 &        1 &       1 &           1 &       (1, 16, 16, 4) &      opt8 &         0.0100 &           0.86 &  26.94 &   68356 \\
3856 &      DFT &     500 &          10 &     Sum &  (0.3, 0.15) &       2.0 &    0.100 &       0.5 &       3 &        2 &       1 &           5 &        (1, 8, 16, 4) &      opt8 &         0.0010 &           0.84 &  21.29 &   11020 \\
6545 &      DFT &     500 &          10 &     Sum &  (0.3, 0.15) &       2.0 &    0.010 &       0.5 &       3 &        2 &       1 &           5 &        (1, 8, 16, 4) &      opt7 &         0.0002 &           0.84 &  21.29 &   11020 \\
3526 &      DFT &     500 &          10 &     Sum &   (0.2, 0.2) &       2.0 &    0.010 &       0.5 &       3 &        2 &       1 &           5 &       (1, 16, 16, 4) &      opt8 &         0.0040 &           0.84 &  20.37 &   20756 \\
6822 &      DFT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &    0.001 &       0.5 &       2 &        1 &       2 &           1 &       (1, 16, 16, 4) &      opt4 &         0.0100 &           0.84 &  28.05 &  135812 \\
439  &      DFT &     500 &          10 &     Sum &   (0.2, 0.2) &       0.0 &    0.010 &       0.5 &       2 &        1 &       1 &           5 &        (1, 8, 16, 4) &      opt8 &         0.0100 &           0.84 &  27.85 &    7420 \\
2712 &      DFT &     500 &          10 &     Sum &  (0.3, 0.15) &       2.0 &    0.001 &       0.5 &       3 &        2 &       1 &           5 &        (1, 8, 16, 4) &      opt4 &         0.0002 &           0.82 &  21.51 &   11020 \\
6204 &      DFT &     500 &          10 &     Sum &   (0.3, 0.5) &       0.0 &    0.100 &       0.5 &       3 &        2 &       2 &           5 &        (1, 8, 16, 4) &      opt8 &         0.0100 &           0.82 &  20.20 &   21388 \\
4992 &      DFT &     500 &          10 &     Sum &  (0.3, 0.15) &       0.0 &    0.001 &       0.5 &       3 &        2 &       2 &           1 &       (1, 16, 16, 4) &      opt4 &         0.0100 &           0.82 &  21.45 &  203540 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_5917/2446927656.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(dft_kfold13.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10).to_latex())

In [35]:
dftmean_kfold13 = read_grid_search("results_v3/tsinghua_13_DFT_4_Mean_kfold_1")
dftmean_kfold13.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
3070,DFT,500,10,Mean,"(0.3, 0.15)",0.0,0.010,0.5,3,2,3,5,"(1, 8, 16, 4)",opt8,0.0100,0.82,20.48,30604
1714,DFT,500,10,Mean,"(0.5, 0.5)",2.0,0.100,0.5,3,2,1,5,"(1, 8, 16, 4)",opt4,0.0002,0.80,21.13,11020
2378,DFT,500,10,Mean,"(0.5, 0.5)",0.0,0.010,0.5,3,2,1,5,"(1, 16, 16, 4)",opt4,0.0010,0.80,22.15,20756
1859,DFT,500,10,Mean,"(0.2, 0.2)",0.0,0.100,0.5,2,1,1,3,"(1, 16, 16, 4)",opt7,0.0100,0.80,27.34,22932
2222,DFT,500,10,Mean,"(0.6, 0.2)",0.0,0.100,0.5,2,1,1,3,"(1, 16, 16, 4)",opt3,0.0040,0.80,27.95,22932
2314,DFT,500,10,Mean,"(0.5, 0.5)",0.0,0.010,0.5,2,1,1,1,"(1, 16, 16, 4)",opt5,0.0100,0.80,27.64,68356
2537,DFT,500,10,Mean,"(0.3, 0.15)",1.0,0.001,0.5,2,1,1,5,"(1, 8, 16, 4)",opt8,0.0100,0.78,27.07,7420
497,DFT,500,10,Mean,"(0.3, 0.5)",1.0,0.010,0.5,3,2,1,5,"(1, 16, 16, 4)",opt5,0.0100,0.78,21.72,20756
775,DFT,500,10,Mean,"(0.3, 0.15)",1.0,0.001,0.5,3,2,1,5,"(1, 16, 16, 4)",opt7,0.0010,0.78,20.94,20756
892,DFT,500,10,Mean,"(0.3, 0.5)",1.0,0.001,0.5,3,2,1,5,"(1, 16, 16, 4)",opt4,0.0010,0.78,21.56,20756

In [36]:
dftmean_kfold13.shape[0]

3164

In [37]:
dftmax_kfold13 = read_grid_search("results_v3/tsinghua_13_DFT_4_Max_kfold_1")
dftmax_kfold13.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
1381,DFT,500,10,Max,"(0.6, 0.2)",0.0,0.010,0.5,2,1,1,4,"(1, 8, 8, 4)",opt5,0.010,0.92,27.81,9044
879,DFT,500,10,Max,"(0.6, 0.2)",0.0,0.010,0.5,2,1,1,4,"(1, 16, 16, 4)",opt5,0.010,0.92,28.16,17220
2570,DFT,500,10,Max,"(0.3, 0.5)",2.0,0.100,0.5,3,2,1,5,"(1, 16, 16, 4)",opt8,0.004,0.90,20.41,20756
1056,DFT,500,10,Max,"(0.3, 0.5)",0.0,0.100,0.5,2,1,1,4,"(1, 8, 8, 4)",opt7,0.004,0.88,27.71,9044
768,DFT,500,10,Max,"(0.6, 0.2)",1.0,0.100,0.5,3,2,1,5,"(1, 8, 16, 4)",opt8,0.004,0.88,20.80,11020
3075,DFT,500,10,Max,"(0.3, 0.5)",0.0,0.001,0.5,2,1,1,3,"(1, 16, 16, 4)",opt8,0.010,0.88,27.93,22932
276,DFT,500,10,Max,"(0.5, 0.5)",0.0,0.100,0.5,2,1,3,4,"(1, 8, 16, 4)",opt8,0.010,0.88,26.79,24700
1526,DFT,500,10,Max,"(0.3, 0.15)",0.0,0.001,0.5,3,2,1,2,"(1, 8, 16, 4)",opt7,0.010,0.88,21.01,27148
2107,DFT,500,10,Max,"(0.5, 0.5)",0.0,0.010,0.5,2,1,1,2,"(1, 16, 16, 4)",opt4,0.010,0.88,28.48,34356
1213,DFT,500,10,Max,"(0.5, 0.5)",0.0,0.001,0.5,3,2,2,5,"(1, 16, 16, 4)",opt8,0.010,0.88,20.74,40340

In [38]:
dftmax_kfold13.shape[0]

3092

##### Subject 27

In [39]:
# taking abs(DHT(original signal))
dft_kfold27 = read_grid_search("results_v3/tsinghua_27_DFT_4_Sum_kfold_1") #grid_search_1_DHT_top10_4_kfold
dft_kfold27.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
450,DFT,500,10,Sum,"(0.2, 0.2)",0.0,0.10,0.5,3,2,3,1,"(1, 16, 16, 4)",opt8,0.010,0.96,20.47,303636
339,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.01,0.5,2,1,1,1,"(1, 8, 8, 4)",opt4,0.010,0.90,28.12,36116
594,DFT,500,10,Sum,"(0.2, 0.2)",0.0,0.01,0.5,2,1,1,1,"(1, 8, 8, 4)",opt4,0.010,0.90,27.30,36116
5330,DFT,500,10,Sum,"(0.5, 0.5)",0.0,0.10,0.5,3,2,1,2,"(1, 16, 16, 4)",opt8,0.010,0.90,20.95,51220
1392,DFT,500,10,Sum,"(0.2, 0.2)",0.0,0.10,0.5,3,2,2,1,"(1, 4, 8, 4)",opt8,0.004,0.90,20.15,59840
7399,DFT,500,10,Sum,"(0.3, 0.5)",0.0,0.10,0.5,3,2,2,1,"(1, 4, 8, 4)",opt8,0.010,0.90,20.98,59840
3925,DFT,500,10,Sum,"(0.5, 0.5)",0.0,0.10,0.5,3,2,3,2,"(1, 16, 16, 4)",opt8,0.010,0.90,19.86,149140
4869,DFT,500,10,Sum,"(0.2, 0.2)",0.0,0.10,0.5,3,2,3,2,"(1, 16, 16, 4)",opt8,0.010,0.90,20.30,149140
4911,DFT,500,10,Sum,"(0.3, 0.15)",0.0,0.01,0.5,3,2,3,1,"(1, 8, 16, 4)",opt8,0.010,0.90,20.82,160780
7547,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.10,0.5,2,1,1,1,"(1, 8, 8, 4)",opt8,0.010,0.88,26.86,36116

In [40]:
dft_kfold27.shape[0]

7878

In [41]:
print(dft_kfold27.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10).to_latex())

\begin{tabular}{llrrllrrrrrrrllrrrr}
\toprule
{} & Function &  Epochs &  Batch\_Size & Pooling &      Dropout &  FreqMean &  FreqStd &  Time\_Off &  Window &  Overlap &  Levels &  Band\_Width & Neuron\_Configuration & Optimizer &  Learning\_Rate &  Mean\_Accuracy &   Time &  Params \\
\midrule
450  &      DFT &     500 &          10 &     Sum &   (0.2, 0.2) &       0.0 &     0.10 &       0.5 &       3 &        2 &       3 &           1 &       (1, 16, 16, 4) &      opt8 &          0.010 &           0.96 &  20.47 &  303636 \\
339  &      DFT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &     0.01 &       0.5 &       2 &        1 &       1 &           1 &         (1, 8, 8, 4) &      opt4 &          0.010 &           0.90 &  28.12 &   36116 \\
594  &      DFT &     500 &          10 &     Sum &   (0.2, 0.2) &       0.0 &     0.01 &       0.5 &       2 &        1 &       1 &           1 &         (1, 8, 8, 4) &      opt4 &          0.010 &           0.90 &  27.30 &   36116 \\
5330 &      DFT &     500 &          10 &     Sum &   (0.5, 0.5) &       0.0 &     0.10 &       0.5 &       3 &        2 &       1 &           2 &       (1, 16, 16, 4) &      opt8 &          0.010 &           0.90 &  20.95 &   51220 \\
1392 &      DFT &     500 &          10 &     Sum &   (0.2, 0.2) &       0.0 &     0.10 &       0.5 &       3 &        2 &       2 &           1 &         (1, 4, 8, 4) &      opt8 &          0.004 &           0.90 &  20.15 &   59840 \\
7399 &      DFT &     500 &          10 &     Sum &   (0.3, 0.5) &       0.0 &     0.10 &       0.5 &       3 &        2 &       2 &           1 &         (1, 4, 8, 4) &      opt8 &          0.010 &           0.90 &  20.98 &   59840 \\
3925 &      DFT &     500 &          10 &     Sum &   (0.5, 0.5) &       0.0 &     0.10 &       0.5 &       3 &        2 &       3 &           2 &       (1, 16, 16, 4) &      opt8 &          0.010 &           0.90 &  19.86 &  149140 \\
4869 &      DFT &     500 &          10 &     Sum &   (0.2, 0.2) &       0.0 &     0.10 &       0.5 &       3 &        2 &       3 &           2 &       (1, 16, 16, 4) &      opt8 &          0.010 &           0.90 &  20.30 &  149140 \\
4911 &      DFT &     500 &          10 &     Sum &  (0.3, 0.15) &       0.0 &     0.01 &       0.5 &       3 &        2 &       3 &           1 &        (1, 8, 16, 4) &      opt8 &          0.010 &           0.90 &  20.82 &  160780 \\
7547 &      DFT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &     0.10 &       0.5 &       2 &        1 &       1 &           1 &         (1, 8, 8, 4) &      opt8 &          0.010 &           0.88 &  26.86 &   36116 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_5917/4240280708.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(dft_kfold27.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10).to_latex())

In [42]:
dftmean_kfold27 = read_grid_search("results_v3/tsinghua_27_DFT_4_Mean_kfold_1")
dftmean_kfold27.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
919,DFT,500,10,Mean,"(0.2, 0.2)",0.0,0.010,0.5,3,2,1,1,"(1, 16, 16, 4)",opt8,0.010,0.94,20.29,102356
703,DFT,500,10,Mean,"(0.5, 0.5)",0.0,0.010,0.5,2,1,1,1,"(1, 8, 8, 4)",opt4,0.010,0.90,27.65,36116
57,DFT,500,10,Mean,"(0.6, 0.2)",0.0,0.100,0.5,2,1,1,1,"(1, 16, 16, 4)",opt8,0.004,0.90,27.92,68356
1805,DFT,500,10,Mean,"(0.3, 0.15)",0.0,0.100,0.5,2,1,3,1,"(1, 8, 8, 4)",opt8,0.010,0.90,27.65,106388
1801,DFT,500,10,Mean,"(0.3, 0.5)",0.0,0.001,0.5,2,1,1,1,"(1, 8, 8, 4)",opt8,0.010,0.88,27.62,36116
2973,DFT,500,10,Mean,"(0.5, 0.5)",0.0,0.010,0.5,3,2,3,1,"(1, 16, 16, 4)",opt8,0.010,0.88,20.51,303636
2946,DFT,500,10,Mean,"(0.2, 0.2)",0.0,0.100,0.5,2,1,2,1,"(1, 8, 8, 4)",opt8,0.010,0.86,27.74,71828
2269,DFT,500,10,Mean,"(0.5, 0.5)",0.0,0.001,0.5,3,2,2,2,"(1, 16, 16, 4)",opt7,0.010,0.86,20.99,101268
1310,DFT,500,10,Mean,"(0.3, 0.15)",1.0,0.001,0.5,3,2,1,1,"(1, 16, 16, 4)",opt4,0.004,0.86,20.66,102356
2084,DFT,500,10,Mean,"(0.2, 0.2)",1.0,0.100,0.5,3,2,1,1,"(1, 16, 16, 4)",opt4,0.004,0.86,21.34,102356

In [44]:
dftmean_kfold27.shape[0]

3164

In [43]:
dftmax_kfold27 = read_grid_search("results_v3/tsinghua_27_DFT_4_Max_kfold_1")
dftmax_kfold27.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
2411,DFT,500,10,Max,"(0.2, 0.2)",1.0,0.100,0.5,3,2,1,3,"(1, 8, 16, 4)",opt8,0.0010,0.98,19.97,18220
2322,DFT,500,10,Max,"(0.5, 0.5)",0.0,0.100,0.5,2,1,1,2,"(1, 16, 16, 4)",opt8,0.0040,0.98,27.44,34356
1083,DFT,500,10,Max,"(0.3, 0.15)",2.0,0.010,0.5,3,2,1,1,"(1, 8, 8, 4)",opt8,0.0001,0.98,19.81,54116
2821,DFT,500,10,Max,"(0.2, 0.2)",0.0,0.100,0.5,3,2,3,1,"(1, 16, 16, 4)",opt8,0.0040,0.98,20.61,303636
1206,DFT,500,10,Max,"(0.6, 0.2)",0.0,0.001,0.5,3,2,1,5,"(1, 8, 8, 4)",opt8,0.0040,0.96,20.70,10916
250,DFT,500,10,Max,"(0.3, 0.15)",2.0,0.010,0.5,3,2,1,5,"(1, 8, 16, 4)",opt8,0.0010,0.96,20.72,11020
989,DFT,500,10,Max,"(0.2, 0.2)",2.0,0.001,0.5,3,2,1,4,"(1, 8, 8, 4)",opt8,0.0100,0.96,21.44,13508
1803,DFT,500,10,Max,"(0.5, 0.5)",1.0,0.100,0.5,3,2,1,4,"(1, 8, 16, 4)",opt8,0.0100,0.96,20.18,13612
909,DFT,500,10,Max,"(0.3, 0.5)",1.0,0.001,0.5,3,2,1,5,"(1, 16, 16, 4)",opt7,0.0100,0.96,21.36,20756
914,DFT,500,10,Max,"(0.3, 0.5)",2.0,0.100,0.5,3,2,1,5,"(1, 16, 16, 4)",opt5,0.0002,0.96,21.34,20756

In [45]:
dftmax_kfold27.shape[0]

3092

#### k-fold DHT (1 subject)

##### Subject 1

In [46]:
# taking abs(DHT(original signal))
dht_kfold1 = read_grid_search("results_v3/tsinghua_1_DHT_4_Sum_kfold_1") #grid_search_1_DHT_top10_4_kfold
dht_kfold1.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
5365,DHT,500,10,Sum,"(0.3, 0.5)",0.0,0.010,0.5,3,2,1,1,"(1, 8, 16, 4)",opt7,0.0100,0.84,21.58,54220
7578,DHT,500,10,Sum,"(0.5, 0.5)",0.0,0.001,0.5,3,2,1,1,"(1, 16, 16, 4)",opt3,0.0100,0.84,21.86,102356
6953,DHT,500,10,Sum,"(0.5, 0.5)",0.0,0.010,0.5,3,2,1,1,"(1, 16, 16, 4)",opt7,0.0100,0.82,21.20,102356
7134,DHT,500,10,Sum,"(0.5, 0.5)",0.0,0.001,0.5,3,2,1,1,"(1, 16, 16, 4)",opt3,0.0040,0.82,21.16,102356
2606,DHT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.5,3,2,2,1,"(1, 16, 16, 4)",opt3,0.0100,0.82,21.30,203540
4809,DHT,500,10,Sum,"(0.5, 0.5)",0.0,0.010,0.5,3,2,1,1,"(1, 8, 8, 4)",opt5,0.0040,0.82,21.68,54116
581,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.010,0.5,3,2,2,1,"(1, 16, 16, 4)",opt5,0.0100,0.82,21.68,203540
1083,DHT,500,10,Sum,"(0.3, 0.5)",0.0,0.010,0.5,3,2,1,1,"(1, 16, 16, 4)",opt3,0.0040,0.80,20.97,102356
3027,DHT,500,10,Sum,"(0.3, 0.5)",0.0,0.001,0.5,3,2,1,1,"(1, 16, 16, 4)",opt5,0.0002,0.80,21.38,102356
2077,DHT,500,10,Sum,"(0.5, 0.5)",0.0,0.001,0.5,3,2,3,1,"(1, 16, 16, 4)",opt5,0.0100,0.80,22.07,303636

In [47]:
dht_kfold1.shape[0]

7629

In [48]:
print(dht_kfold1.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10).to_latex())

\begin{tabular}{llrrllrrrrrrrllrrrr}
\toprule
{} & Function &  Epochs &  Batch\_Size & Pooling &     Dropout &  FreqMean &  FreqStd &  Time\_Off &  Window &  Overlap &  Levels &  Band\_Width & Neuron\_Configuration & Optimizer &  Learning\_Rate &  Mean\_Accuracy &   Time &  Params \\
\midrule
5365 &      DHT &     500 &          10 &     Sum &  (0.3, 0.5) &       0.0 &    0.010 &       0.5 &       3 &        2 &       1 &           1 &        (1, 8, 16, 4) &      opt7 &         0.0100 &           0.84 &  21.58 &   54220 \\
7578 &      DHT &     500 &          10 &     Sum &  (0.5, 0.5) &       0.0 &    0.001 &       0.5 &       3 &        2 &       1 &           1 &       (1, 16, 16, 4) &      opt3 &         0.0100 &           0.84 &  21.86 &  102356 \\
6953 &      DHT &     500 &          10 &     Sum &  (0.5, 0.5) &       0.0 &    0.010 &       0.5 &       3 &        2 &       1 &           1 &       (1, 16, 16, 4) &      opt7 &         0.0100 &           0.82 &  21.20 &  102356 \\
7134 &      DHT &     500 &          10 &     Sum &  (0.5, 0.5) &       0.0 &    0.001 &       0.5 &       3 &        2 &       1 &           1 &       (1, 16, 16, 4) &      opt3 &         0.0040 &           0.82 &  21.16 &  102356 \\
2606 &      DHT &     500 &          10 &     Sum &  (0.6, 0.2) &       0.0 &    0.001 &       0.5 &       3 &        2 &       2 &           1 &       (1, 16, 16, 4) &      opt3 &         0.0100 &           0.82 &  21.30 &  203540 \\
4809 &      DHT &     500 &          10 &     Sum &  (0.5, 0.5) &       0.0 &    0.010 &       0.5 &       3 &        2 &       1 &           1 &         (1, 8, 8, 4) &      opt5 &         0.0040 &           0.82 &  21.68 &   54116 \\
581  &      DHT &     500 &          10 &     Sum &  (0.2, 0.2) &       0.0 &    0.010 &       0.5 &       3 &        2 &       2 &           1 &       (1, 16, 16, 4) &      opt5 &         0.0100 &           0.82 &  21.68 &  203540 \\
1083 &      DHT &     500 &          10 &     Sum &  (0.3, 0.5) &       0.0 &    0.010 &       0.5 &       3 &        2 &       1 &           1 &       (1, 16, 16, 4) &      opt3 &         0.0040 &           0.80 &  20.97 &  102356 \\
3027 &      DHT &     500 &          10 &     Sum &  (0.3, 0.5) &       0.0 &    0.001 &       0.5 &       3 &        2 &       1 &           1 &       (1, 16, 16, 4) &      opt5 &         0.0002 &           0.80 &  21.38 &  102356 \\
2077 &      DHT &     500 &          10 &     Sum &  (0.5, 0.5) &       0.0 &    0.001 &       0.5 &       3 &        2 &       3 &           1 &       (1, 16, 16, 4) &      opt5 &         0.0100 &           0.80 &  22.07 &  303636 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_5917/3507173651.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(dht_kfold1.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10).to_latex())

In [49]:
dhtmean_kfold1 = read_grid_search("results_v3/tsinghua_1_DHT_4_Mean_kfold_1")
dhtmean_kfold1.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
2852,DHT,500,10,Mean,"(0.3, 0.5)",0.0,0.001,0.5,3,2,1,1,"(1, 8, 8, 4)",opt5,0.0040,0.82,21.03,54116
2406,DHT,500,10,Mean,"(0.5, 0.5)",0.0,0.001,0.5,3,2,1,1,"(1, 8, 8, 4)",opt4,0.0100,0.80,21.27,54116
3065,DHT,500,10,Mean,"(0.5, 0.5)",1.0,0.010,0.5,3,2,1,1,"(1, 8, 16, 4)",opt8,0.0010,0.80,20.63,54220
2573,DHT,500,10,Mean,"(0.3, 0.15)",0.0,0.100,0.5,2,1,1,1,"(1, 8, 16, 4)",opt4,0.0100,0.78,27.41,36220
464,DHT,500,10,Mean,"(0.3, 0.5)",1.0,0.010,0.5,3,2,1,1,"(1, 8, 8, 4)",opt8,0.0100,0.78,20.35,54116
1540,DHT,500,10,Mean,"(0.5, 0.5)",0.0,0.001,0.5,2,1,2,1,"(1, 16, 16, 4)",opt7,0.0100,0.78,27.27,135812
2087,DHT,500,10,Mean,"(0.3, 0.5)",0.0,0.001,0.5,2,1,3,1,"(1, 16, 16, 4)",opt7,0.0100,0.78,27.76,201092
446,DHT,500,10,Mean,"(0.3, 0.15)",0.0,0.100,0.5,3,2,1,2,"(1, 8, 8, 4)",opt5,0.0040,0.76,21.18,27044
736,DHT,500,10,Mean,"(0.2, 0.2)",2.0,0.100,0.5,3,2,1,1,"(1, 8, 8, 4)",opt4,0.0002,0.76,20.55,54116
2384,DHT,500,10,Mean,"(0.3, 0.15)",1.0,0.010,0.5,3,2,1,1,"(1, 8, 8, 4)",opt4,0.0001,0.76,20.62,54116

In [50]:
dhtmean_kfold1.shape[0]

3167

In [51]:
dhtmax_kfold1 = read_grid_search("results_v3/tsinghua_1_DHT_4_Max_kfold_1")
dhtmax_kfold1.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
684,DHT,500,10,Max,"(0.3, 0.15)",0.0,0.010,0.5,3,2,1,5,"(1, 16, 16, 4)",opt5,0.0040,0.92,22.11,20756
1911,DHT,500,10,Max,"(0.2, 0.2)",1.0,0.010,0.5,3,2,1,4,"(1, 8, 16, 4)",opt5,0.0010,0.90,21.62,13612
87,DHT,500,10,Max,"(0.3, 0.5)",0.0,0.010,0.5,3,2,1,3,"(1, 8, 16, 4)",opt4,0.0100,0.90,20.93,18220
1153,DHT,500,10,Max,"(0.6, 0.2)",0.0,0.001,0.5,3,2,1,2,"(1, 16, 16, 4)",opt4,0.0100,0.90,21.04,51220
22,DHT,500,10,Max,"(0.5, 0.5)",0.0,0.010,0.5,3,2,1,5,"(1, 16, 16, 4)",opt5,0.0010,0.88,20.81,20756
1898,DHT,500,10,Max,"(0.3, 0.15)",2.0,0.010,0.5,3,2,1,5,"(1, 16, 16, 4)",opt5,0.0100,0.88,21.80,20756
2804,DHT,500,10,Max,"(0.2, 0.2)",2.0,0.010,0.5,3,2,1,5,"(1, 8, 8, 4)",opt5,0.0010,0.86,21.51,10916
744,DHT,500,10,Max,"(0.3, 0.5)",1.0,0.100,0.5,3,2,1,5,"(1, 8, 16, 4)",opt7,0.0002,0.86,20.95,11020
261,DHT,500,10,Max,"(0.2, 0.2)",1.0,0.010,0.5,3,2,1,5,"(1, 16, 16, 4)",opt4,0.0010,0.86,20.78,20756
665,DHT,500,10,Max,"(0.6, 0.2)",2.0,0.001,0.5,3,2,1,5,"(1, 16, 16, 4)",opt7,0.0010,0.86,20.66,20756

In [52]:
dhtmax_kfold1.shape[0]

3152

##### Subject 4

In [53]:
# taking abs(DHT(original signal))
dht_kfold4 = read_grid_search("results_v3/tsinghua_4_DHT_4_Sum_kfold_1") #grid_search_1_DHT_top10_4_kfold
dht_kfold4.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
2282,DHT,500,10,Sum,"(0.5, 0.5)",0.0,0.010,0.5,2,1,1,4,"(1, 8, 8, 4)",opt4,0.010,0.84,27.34,9044
3581,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.100,0.5,2,1,3,2,"(1, 4, 8, 4)",opt8,0.010,0.84,27.34,28960
4394,DHT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.5,2,1,1,5,"(1, 4, 8, 4)",opt7,0.001,0.82,28.03,4080
1452,DHT,500,10,Sum,"(0.3, 0.5)",0.0,0.010,0.5,2,1,1,4,"(1, 4, 8, 4)",opt4,0.004,0.82,27.38,5040
2289,DHT,500,10,Sum,"(0.3, 0.15)",0.0,0.100,0.5,3,2,1,5,"(1, 8, 16, 4)",opt4,0.004,0.82,21.40,11020
6372,DHT,500,10,Sum,"(0.3, 0.5)",0.0,0.100,0.5,3,2,1,5,"(1, 8, 16, 4)",opt7,0.004,0.82,21.73,11020
4411,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.001,0.5,2,1,2,1,"(1, 8, 8, 4)",opt5,0.010,0.82,28.56,71828
3765,DHT,500,10,Sum,"(0.3, 0.5)",0.0,0.001,0.5,2,1,3,1,"(1, 8, 8, 4)",opt5,0.010,0.82,28.67,106388
4402,DHT,500,10,Sum,"(0.3, 0.5)",0.0,0.100,0.5,2,1,3,1,"(1, 8, 8, 4)",opt7,0.010,0.82,28.38,106388
1591,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.001,0.5,2,1,1,5,"(1, 4, 8, 4)",opt5,0.001,0.80,28.03,4080

In [54]:
dht_kfold4.shape[0]

7629

In [55]:
print(dht_kfold4.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10).to_latex())

\begin{tabular}{llrrllrrrrrrrllrrrr}
\toprule
{} & Function &  Epochs &  Batch\_Size & Pooling &      Dropout &  FreqMean &  FreqStd &  Time\_Off &  Window &  Overlap &  Levels &  Band\_Width & Neuron\_Configuration & Optimizer &  Learning\_Rate &  Mean\_Accuracy &   Time &  Params \\
\midrule
2282 &      DHT &     500 &          10 &     Sum &   (0.5, 0.5) &       0.0 &    0.010 &       0.5 &       2 &        1 &       1 &           4 &         (1, 8, 8, 4) &      opt4 &          0.010 &           0.84 &  27.34 &    9044 \\
3581 &      DHT &     500 &          10 &     Sum &   (0.2, 0.2) &       0.0 &    0.100 &       0.5 &       2 &        1 &       3 &           2 &         (1, 4, 8, 4) &      opt8 &          0.010 &           0.84 &  27.34 &   28960 \\
4394 &      DHT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &    0.001 &       0.5 &       2 &        1 &       1 &           5 &         (1, 4, 8, 4) &      opt7 &          0.001 &           0.82 &  28.03 &    4080 \\
1452 &      DHT &     500 &          10 &     Sum &   (0.3, 0.5) &       0.0 &    0.010 &       0.5 &       2 &        1 &       1 &           4 &         (1, 4, 8, 4) &      opt4 &          0.004 &           0.82 &  27.38 &    5040 \\
2289 &      DHT &     500 &          10 &     Sum &  (0.3, 0.15) &       0.0 &    0.100 &       0.5 &       3 &        2 &       1 &           5 &        (1, 8, 16, 4) &      opt4 &          0.004 &           0.82 &  21.40 &   11020 \\
6372 &      DHT &     500 &          10 &     Sum &   (0.3, 0.5) &       0.0 &    0.100 &       0.5 &       3 &        2 &       1 &           5 &        (1, 8, 16, 4) &      opt7 &          0.004 &           0.82 &  21.73 &   11020 \\
4411 &      DHT &     500 &          10 &     Sum &   (0.2, 0.2) &       0.0 &    0.001 &       0.5 &       2 &        1 &       2 &           1 &         (1, 8, 8, 4) &      opt5 &          0.010 &           0.82 &  28.56 &   71828 \\
3765 &      DHT &     500 &          10 &     Sum &   (0.3, 0.5) &       0.0 &    0.001 &       0.5 &       2 &        1 &       3 &           1 &         (1, 8, 8, 4) &      opt5 &          0.010 &           0.82 &  28.67 &  106388 \\
4402 &      DHT &     500 &          10 &     Sum &   (0.3, 0.5) &       0.0 &    0.100 &       0.5 &       2 &        1 &       3 &           1 &         (1, 8, 8, 4) &      opt7 &          0.010 &           0.82 &  28.38 &  106388 \\
1591 &      DHT &     500 &          10 &     Sum &   (0.2, 0.2) &       0.0 &    0.001 &       0.5 &       2 &        1 &       1 &           5 &         (1, 4, 8, 4) &      opt5 &          0.001 &           0.80 &  28.03 &    4080 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_5917/4058627158.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(dht_kfold4.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10).to_latex())

In [56]:
dhtmean_kfold4 = read_grid_search("results_v3/tsinghua_4_DHT_4_Mean_kfold_1")
dhtmean_kfold4.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
1589,DHT,500,10,Mean,"(0.3, 0.15)",0.0,0.100,0.5,2,1,1,4,"(1, 4, 8, 4)",opt5,0.004,0.82,27.64,5040
2220,DHT,500,10,Mean,"(0.6, 0.2)",0.0,0.100,0.5,2,1,1,3,"(1, 8, 8, 4)",opt4,0.004,0.82,29.27,12068
2677,DHT,500,10,Mean,"(0.3, 0.5)",0.0,0.001,0.5,2,1,3,1,"(1, 8, 8, 4)",opt4,0.010,0.82,29.07,106388
1567,DHT,500,10,Mean,"(0.2, 0.2)",0.0,0.100,0.5,2,1,1,3,"(1, 8, 8, 4)",opt3,0.004,0.80,28.06,12068
225,DHT,500,10,Mean,"(0.6, 0.2)",0.0,0.100,0.5,2,1,2,3,"(1, 4, 8, 4)",opt4,0.010,0.80,26.99,13120
838,DHT,500,10,Mean,"(0.3, 0.15)",0.0,0.100,0.5,2,1,2,3,"(1, 4, 8, 4)",opt7,0.010,0.80,26.77,13120
1356,DHT,500,10,Mean,"(0.3, 0.5)",0.0,0.001,0.5,2,1,1,1,"(1, 8, 8, 4)",opt3,0.010,0.80,26.65,36116
1831,DHT,500,10,Mean,"(0.3, 0.5)",0.0,0.010,0.5,2,1,3,1,"(1, 8, 8, 4)",opt7,0.010,0.80,27.74,106388
2537,DHT,500,10,Mean,"(0.6, 0.2)",0.0,0.100,0.5,2,1,3,1,"(1, 8, 8, 4)",opt5,0.010,0.80,29.09,106388
2930,DHT,500,10,Mean,"(0.3, 0.5)",0.0,0.001,0.5,2,1,1,3,"(1, 8, 8, 4)",opt7,0.010,0.78,27.37,12068

In [58]:
dhtmean_kfold4.shape[0]

3167

In [59]:
dhtmax_kfold4 = read_grid_search("results_v3/tsinghua_4_DHT_4_Max_kfold_1")
dhtmax_kfold4.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
2934,DHT,500,10,Max,"(0.3, 0.15)",0.0,0.001,0.5,3,2,1,5,"(1, 4, 8, 4)",opt4,0.004,0.90,20.66,6080
958,DHT,500,10,Max,"(0.6, 0.2)",2.0,0.010,0.5,3,2,1,4,"(1, 4, 8, 4)",opt4,0.001,0.90,20.82,7520
2547,DHT,500,10,Max,"(0.5, 0.5)",0.0,0.001,0.5,3,2,1,3,"(1, 4, 8, 4)",opt7,0.001,0.90,20.48,10080
1813,DHT,500,10,Max,"(0.6, 0.2)",1.0,0.010,0.5,3,2,1,4,"(1, 8, 8, 4)",opt4,0.001,0.90,21.11,13508
888,DHT,500,10,Max,"(0.3, 0.15)",0.0,0.010,0.5,3,2,1,4,"(1, 16, 16, 4)",opt4,0.010,0.90,20.38,25652
1791,DHT,500,10,Max,"(0.3, 0.5)",0.0,0.100,0.5,3,2,1,4,"(1, 16, 16, 4)",opt7,0.010,0.90,20.99,25652
1669,DHT,500,10,Max,"(0.3, 0.5)",0.0,0.010,0.5,2,1,1,1,"(1, 8, 16, 4)",opt8,0.010,0.90,25.71,36220
1330,DHT,500,10,Max,"(0.2, 0.2)",1.0,0.001,0.5,2,1,1,3,"(1, 4, 8, 4)",opt8,0.004,0.88,26.97,6720
1490,DHT,500,10,Max,"(0.6, 0.2)",1.0,0.100,0.5,2,1,1,3,"(1, 4, 8, 4)",opt8,0.010,0.88,27.20,6720
2971,DHT,500,10,Max,"(0.5, 0.5)",1.0,0.001,0.5,2,1,1,3,"(1, 4, 8, 4)",opt8,0.010,0.88,27.63,6720

In [60]:
dhtmax_kfold4.shape[0]

3152

##### Subject 13

In [61]:
# taking abs(DHT(original signal))
dht_kfold13 = read_grid_search("results_v3/tsinghua_13_DHT_4_Sum_kfold_1") #grid_search_1_DHT_top10_4_kfold
dht_kfold13.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
4992,DHT,500,10,Sum,"(0.5, 0.5)",0.0,0.100,0.5,2,1,1,5,"(1, 16, 16, 4)",opt8,0.010,0.86,27.71,13956
4727,DHT,500,10,Sum,"(0.3, 0.5)",0.0,0.010,0.5,3,2,3,4,"(1, 4, 8, 4)",opt8,0.010,0.86,20.37,21280
1914,DHT,500,10,Sum,"(0.3, 0.15)",0.0,0.010,0.5,2,1,1,2,"(1, 16, 16, 4)",opt8,0.010,0.86,28.08,34356
3588,DHT,500,10,Sum,"(0.3, 0.5)",0.0,0.001,0.5,2,1,1,3,"(1, 8, 8, 4)",opt8,0.010,0.84,26.93,12068
818,DHT,500,10,Sum,"(0.6, 0.2)",2.0,0.100,0.5,3,2,1,5,"(1, 16, 16, 4)",opt8,0.001,0.84,20.17,20756
6322,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.001,0.5,3,2,1,2,"(1, 8, 16, 4)",opt3,0.010,0.84,21.34,27148
1513,DHT,500,10,Sum,"(0.2, 0.2)",2.0,0.001,0.5,3,2,2,4,"(1, 16, 16, 4)",opt8,0.004,0.84,20.47,50676
1775,DHT,500,10,Sum,"(0.5, 0.5)",0.0,0.001,0.5,3,2,2,1,"(1, 8, 16, 4)",opt8,0.010,0.84,20.52,107788
3724,DHT,500,10,Sum,"(0.3, 0.15)",1.0,0.100,0.5,3,2,3,2,"(1, 16, 16, 4)",opt8,0.010,0.84,20.53,149140
2656,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.010,0.5,2,1,1,1,"(1, 4, 8, 4)",opt5,0.010,0.84,28.37,20080

In [62]:
dht_kfold13.shape[0]

7628

In [63]:
print(dht_kfold13.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10).to_latex())

\begin{tabular}{llrrllrrrrrrrllrrrr}
\toprule
{} & Function &  Epochs &  Batch\_Size & Pooling &      Dropout &  FreqMean &  FreqStd &  Time\_Off &  Window &  Overlap &  Levels &  Band\_Width & Neuron\_Configuration & Optimizer &  Learning\_Rate &  Mean\_Accuracy &   Time &  Params \\
\midrule
4992 &      DHT &     500 &          10 &     Sum &   (0.5, 0.5) &       0.0 &    0.100 &       0.5 &       2 &        1 &       1 &           5 &       (1, 16, 16, 4) &      opt8 &          0.010 &           0.86 &  27.71 &   13956 \\
4727 &      DHT &     500 &          10 &     Sum &   (0.3, 0.5) &       0.0 &    0.010 &       0.5 &       3 &        2 &       3 &           4 &         (1, 4, 8, 4) &      opt8 &          0.010 &           0.86 &  20.37 &   21280 \\
1914 &      DHT &     500 &          10 &     Sum &  (0.3, 0.15) &       0.0 &    0.010 &       0.5 &       2 &        1 &       1 &           2 &       (1, 16, 16, 4) &      opt8 &          0.010 &           0.86 &  28.08 &   34356 \\
3588 &      DHT &     500 &          10 &     Sum &   (0.3, 0.5) &       0.0 &    0.001 &       0.5 &       2 &        1 &       1 &           3 &         (1, 8, 8, 4) &      opt8 &          0.010 &           0.84 &  26.93 &   12068 \\
818  &      DHT &     500 &          10 &     Sum &   (0.6, 0.2) &       2.0 &    0.100 &       0.5 &       3 &        2 &       1 &           5 &       (1, 16, 16, 4) &      opt8 &          0.001 &           0.84 &  20.17 &   20756 \\
6322 &      DHT &     500 &          10 &     Sum &   (0.2, 0.2) &       0.0 &    0.001 &       0.5 &       3 &        2 &       1 &           2 &        (1, 8, 16, 4) &      opt3 &          0.010 &           0.84 &  21.34 &   27148 \\
1513 &      DHT &     500 &          10 &     Sum &   (0.2, 0.2) &       2.0 &    0.001 &       0.5 &       3 &        2 &       2 &           4 &       (1, 16, 16, 4) &      opt8 &          0.004 &           0.84 &  20.47 &   50676 \\
1775 &      DHT &     500 &          10 &     Sum &   (0.5, 0.5) &       0.0 &    0.001 &       0.5 &       3 &        2 &       2 &           1 &        (1, 8, 16, 4) &      opt8 &          0.010 &           0.84 &  20.52 &  107788 \\
3724 &      DHT &     500 &          10 &     Sum &  (0.3, 0.15) &       1.0 &    0.100 &       0.5 &       3 &        2 &       3 &           2 &       (1, 16, 16, 4) &      opt8 &          0.010 &           0.84 &  20.53 &  149140 \\
2656 &      DHT &     500 &          10 &     Sum &   (0.2, 0.2) &       0.0 &    0.010 &       0.5 &       2 &        1 &       1 &           1 &         (1, 4, 8, 4) &      opt5 &          0.010 &           0.84 &  28.37 &   20080 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_5917/3348647313.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(dht_kfold13.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10).to_latex())

In [64]:
dhtmean_kfold13 = read_grid_search("results_v3/tsinghua_13_DHT_4_Mean_kfold_1")
dhtmean_kfold13.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
656,DHT,500,10,Mean,"(0.3, 0.15)",0.0,0.100,0.5,3,2,2,1,"(1, 16, 16, 4)",opt8,0.0100,0.92,20.42,203540
2010,DHT,500,10,Mean,"(0.3, 0.5)",0.0,0.010,0.5,3,2,3,4,"(1, 4, 8, 4)",opt8,0.0100,0.86,20.74,21280
2261,DHT,500,10,Mean,"(0.5, 0.5)",0.0,0.010,0.5,3,2,3,4,"(1, 4, 8, 4)",opt8,0.0100,0.86,20.42,21280
646,DHT,500,10,Mean,"(0.2, 0.2)",2.0,0.010,0.5,3,2,2,4,"(1, 16, 16, 4)",opt8,0.0040,0.84,20.59,50676
995,DHT,500,10,Mean,"(0.2, 0.2)",2.0,0.100,0.5,2,1,1,5,"(1, 4, 8, 4)",opt7,0.0010,0.82,28.21,4080
3084,DHT,500,10,Mean,"(0.3, 0.15)",0.0,0.010,0.5,3,2,1,4,"(1, 4, 8, 4)",opt8,0.0100,0.82,20.99,7520
803,DHT,500,10,Mean,"(0.5, 0.5)",0.0,0.001,0.5,2,1,1,5,"(1, 16, 16, 4)",opt7,0.0100,0.82,27.77,13956
2634,DHT,500,10,Mean,"(0.3, 0.5)",2.0,0.100,0.5,3,2,1,5,"(1, 16, 16, 4)",opt7,0.0001,0.82,20.78,20756
209,DHT,500,10,Mean,"(0.6, 0.2)",0.0,0.001,0.5,3,2,2,4,"(1, 8, 8, 4)",opt8,0.0100,0.82,20.16,26756
3101,DHT,500,10,Mean,"(0.5, 0.5)",0.0,0.001,0.5,3,2,2,4,"(1, 8, 16, 4)",opt7,0.0100,0.82,20.75,26860

In [65]:
dhtmean_kfold13.shape[0]

3167

In [66]:
dhtmax_kfold13 = read_grid_search("results_v3/tsinghua_13_DHT_4_Max_kfold_1")
dhtmax_kfold13.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
1014,DHT,500,10,Max,"(0.3, 0.5)",0.0,0.010,0.5,2,1,1,1,"(1, 8, 16, 4)",opt8,0.010,0.94,26.22,36220
907,DHT,500,10,Max,"(0.5, 0.5)",0.0,0.010,0.5,2,1,1,5,"(1, 16, 16, 4)",opt5,0.010,0.92,28.38,13956
588,DHT,500,10,Max,"(0.6, 0.2)",0.0,0.010,0.5,3,2,2,1,"(1, 16, 16, 4)",opt8,0.010,0.92,20.37,203540
3139,DHT,500,10,Max,"(0.3, 0.5)",0.0,0.001,0.5,2,1,1,3,"(1, 16, 16, 4)",opt8,0.010,0.92,26.60,22932
135,DHT,500,10,Max,"(0.2, 0.2)",0.0,0.100,0.5,2,1,1,2,"(1, 16, 16, 4)",opt8,0.004,0.90,26.69,34356
2054,DHT,500,10,Max,"(0.6, 0.2)",0.0,0.100,0.5,2,1,1,5,"(1, 16, 16, 4)",opt3,0.010,0.90,27.58,13956
2223,DHT,500,10,Max,"(0.6, 0.2)",0.0,0.010,0.5,3,2,1,5,"(1, 16, 16, 4)",opt8,0.010,0.90,20.75,20756
1911,DHT,500,10,Max,"(0.5, 0.5)",0.0,0.010,0.5,2,1,1,5,"(1, 8, 8, 4)",opt4,0.004,0.88,27.28,7316
2500,DHT,500,10,Max,"(0.2, 0.2)",0.0,0.001,0.5,3,2,1,5,"(1, 8, 16, 4)",opt8,0.010,0.88,20.47,11020
617,DHT,500,10,Max,"(0.5, 0.5)",0.0,0.010,0.5,2,1,1,3,"(1, 8, 8, 4)",opt5,0.010,0.88,28.21,12068

In [67]:
dhtmax_kfold13.shape[0]

3152

##### Subject 27

In [68]:
# taking abs(DHT(original signal))
dht_kfold27 = read_grid_search("results_v3/tsinghua_27_DHT_4_Sum_kfold_1") #grid_search_1_DHT_top10_4_kfold
dht_kfold27.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
315,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.100,0.5,2,1,1,1,"(1, 16, 16, 4)",opt8,0.0100,0.94,26.79,68356
2647,DHT,500,10,Sum,"(0.3, 0.15)",0.0,0.010,0.5,2,1,1,2,"(1, 16, 16, 4)",opt8,0.0100,0.90,27.15,34356
822,DHT,500,10,Sum,"(0.2, 0.2)",2.0,0.001,0.5,3,2,1,1,"(1, 16, 16, 4)",opt8,0.0040,0.90,19.89,102356
775,DHT,500,10,Sum,"(0.5, 0.5)",0.0,0.001,0.5,3,2,2,1,"(1, 8, 16, 4)",opt8,0.0100,0.90,20.54,107788
4953,DHT,500,10,Sum,"(0.3, 0.15)",2.0,0.001,0.5,3,2,3,1,"(1, 16, 16, 4)",opt8,0.0002,0.90,20.64,303636
7273,DHT,500,10,Sum,"(0.3, 0.15)",1.0,0.100,0.5,3,2,1,1,"(1, 16, 16, 4)",opt8,0.0100,0.88,20.68,102356
7031,DHT,500,10,Sum,"(0.5, 0.5)",1.0,0.100,0.5,3,2,3,1,"(1, 8, 16, 4)",opt8,0.0100,0.88,21.13,160780
1053,DHT,500,10,Sum,"(0.5, 0.5)",1.0,0.001,0.5,3,2,2,1,"(1, 16, 16, 4)",opt8,0.0100,0.88,21.16,203540
4111,DHT,500,10,Sum,"(0.6, 0.2)",2.0,0.001,0.5,3,2,2,1,"(1, 16, 16, 4)",opt8,0.0100,0.88,20.12,203540
5590,DHT,500,10,Sum,"(0.3, 0.15)",2.0,0.010,0.5,3,2,2,1,"(1, 16, 16, 4)",opt8,0.0010,0.88,20.21,203540

In [69]:
dht_kfold27.shape[0]

7628

In [70]:
print(dht_kfold27.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10).to_latex())

\begin{tabular}{llrrllrrrrrrrllrrrr}
\toprule
{} & Function &  Epochs &  Batch\_Size & Pooling &      Dropout &  FreqMean &  FreqStd &  Time\_Off &  Window &  Overlap &  Levels &  Band\_Width & Neuron\_Configuration & Optimizer &  Learning\_Rate &  Mean\_Accuracy &   Time &  Params \\
\midrule
315  &      DHT &     500 &          10 &     Sum &   (0.2, 0.2) &       0.0 &    0.100 &       0.5 &       2 &        1 &       1 &           1 &       (1, 16, 16, 4) &      opt8 &         0.0100 &           0.94 &  26.79 &   68356 \\
2647 &      DHT &     500 &          10 &     Sum &  (0.3, 0.15) &       0.0 &    0.010 &       0.5 &       2 &        1 &       1 &           2 &       (1, 16, 16, 4) &      opt8 &         0.0100 &           0.90 &  27.15 &   34356 \\
822  &      DHT &     500 &          10 &     Sum &   (0.2, 0.2) &       2.0 &    0.001 &       0.5 &       3 &        2 &       1 &           1 &       (1, 16, 16, 4) &      opt8 &         0.0040 &           0.90 &  19.89 &  102356 \\
775  &      DHT &     500 &          10 &     Sum &   (0.5, 0.5) &       0.0 &    0.001 &       0.5 &       3 &        2 &       2 &           1 &        (1, 8, 16, 4) &      opt8 &         0.0100 &           0.90 &  20.54 &  107788 \\
4953 &      DHT &     500 &          10 &     Sum &  (0.3, 0.15) &       2.0 &    0.001 &       0.5 &       3 &        2 &       3 &           1 &       (1, 16, 16, 4) &      opt8 &         0.0002 &           0.90 &  20.64 &  303636 \\
7273 &      DHT &     500 &          10 &     Sum &  (0.3, 0.15) &       1.0 &    0.100 &       0.5 &       3 &        2 &       1 &           1 &       (1, 16, 16, 4) &      opt8 &         0.0100 &           0.88 &  20.68 &  102356 \\
7031 &      DHT &     500 &          10 &     Sum &   (0.5, 0.5) &       1.0 &    0.100 &       0.5 &       3 &        2 &       3 &           1 &        (1, 8, 16, 4) &      opt8 &         0.0100 &           0.88 &  21.13 &  160780 \\
1053 &      DHT &     500 &          10 &     Sum &   (0.5, 0.5) &       1.0 &    0.001 &       0.5 &       3 &        2 &       2 &           1 &       (1, 16, 16, 4) &      opt8 &         0.0100 &           0.88 &  21.16 &  203540 \\
4111 &      DHT &     500 &          10 &     Sum &   (0.6, 0.2) &       2.0 &    0.001 &       0.5 &       3 &        2 &       2 &           1 &       (1, 16, 16, 4) &      opt8 &         0.0100 &           0.88 &  20.12 &  203540 \\
5590 &      DHT &     500 &          10 &     Sum &  (0.3, 0.15) &       2.0 &    0.010 &       0.5 &       3 &        2 &       2 &           1 &       (1, 16, 16, 4) &      opt8 &         0.0010 &           0.88 &  20.21 &  203540 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_5917/596380745.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(dht_kfold27.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10).to_latex())

In [71]:
dhtmean_kfold27 = read_grid_search("results_v3/tsinghua_27_DHT_4_Mean_kfold_1")
dhtmean_kfold27.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
504,DHT,500,10,Mean,"(0.3, 0.15)",0.0,0.100,0.5,3,2,2,1,"(1, 16, 16, 4)",opt8,0.010,1.00,20.60,203540
1516,DHT,500,10,Mean,"(0.6, 0.2)",0.0,0.001,0.5,3,2,3,2,"(1, 8, 16, 4)",opt8,0.010,0.90,20.55,78988
303,DHT,500,10,Mean,"(0.3, 0.5)",0.0,0.001,0.5,3,2,1,1,"(1, 16, 16, 4)",opt8,0.010,0.90,20.59,102356
1886,DHT,500,10,Mean,"(0.6, 0.2)",0.0,0.100,0.5,3,2,2,1,"(1, 8, 16, 4)",opt8,0.004,0.90,20.79,107788
29,DHT,500,10,Mean,"(0.5, 0.5)",0.0,0.100,0.5,2,1,2,5,"(1, 8, 16, 4)",opt8,0.010,0.88,26.76,14332
829,DHT,500,10,Mean,"(0.6, 0.2)",1.0,0.001,0.5,3,2,1,1,"(1, 8, 16, 4)",opt8,0.010,0.88,20.23,54220
2245,DHT,500,10,Mean,"(0.5, 0.5)",2.0,0.100,0.5,3,2,1,1,"(1, 16, 16, 4)",opt8,0.004,0.88,20.02,102356
1187,DHT,500,10,Mean,"(0.5, 0.5)",1.0,0.010,0.5,3,2,1,1,"(1, 8, 16, 4)",opt8,0.001,0.86,20.69,54220
2953,DHT,500,10,Mean,"(0.2, 0.2)",0.0,0.100,0.5,3,2,2,1,"(1, 8, 8, 4)",opt8,0.010,0.86,21.11,107684
1173,DHT,500,10,Mean,"(0.5, 0.5)",1.0,0.100,0.5,3,2,3,1,"(1, 8, 16, 4)",opt8,0.004,0.86,21.31,160780

In [72]:
dhtmean_kfold27.shape[0]

3167

In [73]:
dhtmax_kfold27 = read_grid_search("results_v3/tsinghua_27_DHT_4_Max_kfold_1")
dhtmax_kfold27.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
2811,DHT,500,10,Max,"(0.2, 0.2)",0.0,0.001,0.5,3,2,1,5,"(1, 8, 16, 4)",opt8,0.010,1.00,20.58,11020
20,DHT,500,10,Max,"(0.2, 0.2)",1.0,0.010,0.5,3,2,1,5,"(1, 16, 16, 4)",opt8,0.004,1.00,20.48,20756
1326,DHT,500,10,Max,"(0.5, 0.5)",1.0,0.010,0.5,3,2,1,5,"(1, 16, 16, 4)",opt8,0.004,1.00,20.42,20756
1434,DHT,500,10,Max,"(0.6, 0.2)",1.0,0.001,0.5,3,2,1,3,"(1, 16, 16, 4)",opt8,0.004,1.00,19.88,34356
1158,DHT,500,10,Max,"(0.3, 0.15)",1.0,0.001,0.5,3,2,3,5,"(1, 16, 16, 4)",opt8,0.010,1.00,20.05,57748
1649,DHT,500,10,Max,"(0.6, 0.2)",0.0,0.010,0.5,3,2,2,1,"(1, 16, 16, 4)",opt8,0.010,1.00,20.63,203540
821,DHT,500,10,Max,"(0.5, 0.5)",0.0,0.010,0.5,2,1,1,3,"(1, 8, 8, 4)",opt5,0.010,0.98,28.10,12068
1074,DHT,500,10,Max,"(0.2, 0.2)",2.0,0.100,0.5,2,1,1,5,"(1, 16, 16, 4)",opt8,0.001,0.98,27.58,13956
3032,DHT,500,10,Max,"(0.5, 0.5)",0.0,0.010,0.5,3,2,1,5,"(1, 16, 16, 4)",opt5,0.001,0.98,21.18,20756
1408,DHT,500,10,Max,"(0.3, 0.5)",0.0,0.001,0.5,2,1,1,3,"(1, 16, 16, 4)",opt8,0.010,0.98,27.66,22932

In [74]:
dhtmax_kfold27.shape[0]

3152

#### Comparing the pooling types

In [75]:
# Sujeito 1
# DFT
a1 = dft_kfold.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
a2 = dftmean_kfold1.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
a3 = dftmax_kfold1.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
# DHT
a4 = dht_kfold1.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
a5 = dhtmean_kfold1.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
a6 = dhtmax_kfold1.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
results_s1 = pd.concat((a1,a2,a3,a4,a5,a6))
results_s1

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
5116,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.5,3,2,1,1,"(1, 8, 16, 4)",opt7,0.0100,0.82,20.96,54220
412,DFT,500,10,Mean,"(0.6, 0.2)",0.0,0.100,0.5,2,1,1,1,"(1, 16, 16, 4)",opt5,0.0100,0.82,28.88,68356
2274,DFT,500,10,Max,"(0.5, 0.5)",0.0,0.100,0.5,3,2,1,4,"(1, 8, 16, 4)",opt4,0.0002,0.92,20.85,13612
5365,DHT,500,10,Sum,"(0.3, 0.5)",0.0,0.010,0.5,3,2,1,1,"(1, 8, 16, 4)",opt7,0.0100,0.84,21.58,54220
2852,DHT,500,10,Mean,"(0.3, 0.5)",0.0,0.001,0.5,3,2,1,1,"(1, 8, 8, 4)",opt5,0.0040,0.82,21.03,54116
684,DHT,500,10,Max,"(0.3, 0.15)",0.0,0.010,0.5,3,2,1,5,"(1, 16, 16, 4)",opt5,0.0040,0.92,22.11,20756

In [76]:
print(results_s1.to_csv())

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
5116,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.5,3,2,1,1,"(1, 8, 16, 4)",opt7,0.01,0.8200001,20.96,54220
412,DFT,500,10,Mean,"(0.6, 0.2)",0.0,0.1,0.5,2,1,1,1,"(1, 16, 16, 4)",opt5,0.01,0.82,28.88,68356
2274,DFT,500,10,Max,"(0.5, 0.5)",0.0,0.1,0.5,3,2,1,4,"(1, 8, 16, 4)",opt4,0.0002,0.92,20.85,13612
5365,DHT,500,10,Sum,"(0.3, 0.5)",0.0,0.01,0.5,3,2,1,1,"(1, 8, 16, 4)",opt7,0.01,0.8400001,21.58,54220
2852,DHT,500,10,Mean,"(0.3, 0.5)",0.0,0.001,0.5,3,2,1,1,"(1, 8, 8, 4)",opt5,0.004,0.82,21.03,54116
684,DHT,500,10,Max,"(0.3, 0.15)",0.0,0.01,0.5,3,2,1,5,"(1, 16, 16, 4)",opt5,0.004,0.9200001,22.11,20756

In [77]:
# Sujeito 4
b1 = dft_kfold4.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
b2 = dftmean_kfold4.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
b3 = dftmax_kfold4.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
# DHT
b4 = dht_kfold4.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
b5 = dhtmean_kfold4.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
b6 = dhtmax_kfold4.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
results_s4 = pd.concat((b1,b2,b3,b4,b5,b6))
results_s4

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
6527,DFT,500,10,Sum,"(0.3, 0.15)",0.0,0.001,0.5,2,1,3,1,"(1, 16, 16, 4)",opt8,0.010,0.88,27.85,201092
2121,DFT,500,10,Mean,"(0.3, 0.5)",0.0,0.100,0.5,2,1,1,1,"(1, 4, 8, 4)",opt5,0.010,0.84,27.85,20080
1379,DFT,500,10,Max,"(0.5, 0.5)",0.0,0.100,0.5,2,1,1,2,"(1, 16, 16, 4)",opt8,0.004,0.94,27.46,34356
2282,DHT,500,10,Sum,"(0.5, 0.5)",0.0,0.010,0.5,2,1,1,4,"(1, 8, 8, 4)",opt4,0.010,0.84,27.34,9044
1589,DHT,500,10,Mean,"(0.3, 0.15)",0.0,0.100,0.5,2,1,1,4,"(1, 4, 8, 4)",opt5,0.004,0.82,27.64,5040
2934,DHT,500,10,Max,"(0.3, 0.15)",0.0,0.001,0.5,3,2,1,5,"(1, 4, 8, 4)",opt4,0.004,0.90,20.66,6080

In [78]:
print(results_s4.to_csv())

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
6527,DFT,500,10,Sum,"(0.3, 0.15)",0.0,0.001,0.5,2,1,3,1,"(1, 16, 16, 4)",opt8,0.01,0.88000005,27.85,201092
2121,DFT,500,10,Mean,"(0.3, 0.5)",0.0,0.1,0.5,2,1,1,1,"(1, 4, 8, 4)",opt5,0.01,0.84,27.85,20080
1379,DFT,500,10,Max,"(0.5, 0.5)",0.0,0.1,0.5,2,1,1,2,"(1, 16, 16, 4)",opt8,0.004,0.94,27.46,34356
2282,DHT,500,10,Sum,"(0.5, 0.5)",0.0,0.01,0.5,2,1,1,4,"(1, 8, 8, 4)",opt4,0.01,0.8400001,27.34,9044
1589,DHT,500,10,Mean,"(0.3, 0.15)",0.0,0.1,0.5,2,1,1,4,"(1, 4, 8, 4)",opt5,0.004,0.82,27.64,5040
2934,DHT,500,10,Max,"(0.3, 0.15)",0.0,0.001,0.5,3,2,1,5,"(1, 4, 8, 4)",opt4,0.004,0.90000004,20.66,6080

In [79]:
# Sujeito 13
c1 = dft_kfold13.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
c2 = dftmean_kfold13.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
c3 = dftmax_kfold13.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
# DHT
c4 = dht_kfold13.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
c5 = dhtmean_kfold13.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
c6 = dhtmax_kfold13.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
results_s13 = pd.concat((c1,c2,c3,c4,c5,c6))
results_s13

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
6626,DFT,500,10,Sum,"(0.3, 0.5)",2.0,0.001,0.5,3,2,1,5,"(1, 16, 16, 4)",opt8,0.004,0.86,20.14,20756
3070,DFT,500,10,Mean,"(0.3, 0.15)",0.0,0.010,0.5,3,2,3,5,"(1, 8, 16, 4)",opt8,0.010,0.82,20.48,30604
1381,DFT,500,10,Max,"(0.6, 0.2)",0.0,0.010,0.5,2,1,1,4,"(1, 8, 8, 4)",opt5,0.010,0.92,27.81,9044
4992,DHT,500,10,Sum,"(0.5, 0.5)",0.0,0.100,0.5,2,1,1,5,"(1, 16, 16, 4)",opt8,0.010,0.86,27.71,13956
656,DHT,500,10,Mean,"(0.3, 0.15)",0.0,0.100,0.5,3,2,2,1,"(1, 16, 16, 4)",opt8,0.010,0.92,20.42,203540
1014,DHT,500,10,Max,"(0.3, 0.5)",0.0,0.010,0.5,2,1,1,1,"(1, 8, 16, 4)",opt8,0.010,0.94,26.22,36220

In [80]:
print(results_s13.to_csv())

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
6626,DFT,500,10,Sum,"(0.3, 0.5)",2.0,0.001,0.5,3,2,1,5,"(1, 16, 16, 4)",opt8,0.004,0.8600001,20.14,20756
3070,DFT,500,10,Mean,"(0.3, 0.15)",0.0,0.01,0.5,3,2,3,5,"(1, 8, 16, 4)",opt8,0.01,0.82,20.48,30604
1381,DFT,500,10,Max,"(0.6, 0.2)",0.0,0.01,0.5,2,1,1,4,"(1, 8, 8, 4)",opt5,0.01,0.92,27.81,9044
4992,DHT,500,10,Sum,"(0.5, 0.5)",0.0,0.1,0.5,2,1,1,5,"(1, 16, 16, 4)",opt8,0.01,0.8600001,27.71,13956
656,DHT,500,10,Mean,"(0.3, 0.15)",0.0,0.1,0.5,3,2,2,1,"(1, 16, 16, 4)",opt8,0.01,0.9200001,20.42,203540
1014,DHT,500,10,Max,"(0.3, 0.5)",0.0,0.01,0.5,2,1,1,1,"(1, 8, 16, 4)",opt8,0.01,0.94000006,26.22,36220

In [81]:
# Sujeito 27
d1 = dft_kfold27.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
d2 = dftmean_kfold27.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
d3 = dftmax_kfold27.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
# DHT
d4 = dht_kfold27.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
d5 = dhtmean_kfold27.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
d6 = dhtmax_kfold27.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
results_s27 = pd.concat((d1,d2,d3,d4,d5,d6))
results_s27

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
450,DFT,500,10,Sum,"(0.2, 0.2)",0.0,0.100,0.5,3,2,3,1,"(1, 16, 16, 4)",opt8,0.010,0.96,20.47,303636
919,DFT,500,10,Mean,"(0.2, 0.2)",0.0,0.010,0.5,3,2,1,1,"(1, 16, 16, 4)",opt8,0.010,0.94,20.29,102356
2411,DFT,500,10,Max,"(0.2, 0.2)",1.0,0.100,0.5,3,2,1,3,"(1, 8, 16, 4)",opt8,0.001,0.98,19.97,18220
315,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.100,0.5,2,1,1,1,"(1, 16, 16, 4)",opt8,0.010,0.94,26.79,68356
504,DHT,500,10,Mean,"(0.3, 0.15)",0.0,0.100,0.5,3,2,2,1,"(1, 16, 16, 4)",opt8,0.010,1.00,20.60,203540
2811,DHT,500,10,Max,"(0.2, 0.2)",0.0,0.001,0.5,3,2,1,5,"(1, 8, 16, 4)",opt8,0.010,1.00,20.58,11020

In [82]:
print(results_s27.to_csv())

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
450,DFT,500,10,Sum,"(0.2, 0.2)",0.0,0.1,0.5,3,2,3,1,"(1, 16, 16, 4)",opt8,0.01,0.96000004,20.47,303636
919,DFT,500,10,Mean,"(0.2, 0.2)",0.0,0.01,0.5,3,2,1,1,"(1, 16, 16, 4)",opt8,0.01,0.94,20.29,102356
2411,DFT,500,10,Max,"(0.2, 0.2)",1.0,0.1,0.5,3,2,1,3,"(1, 8, 16, 4)",opt8,0.001,0.98,19.97,18220
315,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.1,0.5,2,1,1,1,"(1, 16, 16, 4)",opt8,0.01,0.94,26.79,68356
504,DHT,500,10,Mean,"(0.3, 0.15)",0.0,0.1,0.5,3,2,2,1,"(1, 16, 16, 4)",opt8,0.01,1.0,20.6,203540
2811,DHT,500,10,Max,"(0.2, 0.2)",0.0,0.001,0.5,3,2,1,5,"(1, 8, 16, 4)",opt8,0.01,1.0,20.58,11020

##### Evaluating all the subjects on the test set (retraining with train and val sets together) - not using yet

###### DHT

In [51]:
dht_final = read_grid_search("results/final_35_DHT_top1_4")
dht_final.sort_values("Test_Accuracy", ascending=False)

,Subject,Function,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Test_Accuracy
14,31,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,1.000000
27,13,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,1.000000
6,22,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,1.000000
24,32,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,1.000000
32,26,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,1.000000
16,8,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.916667
2,4,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.916667
3,35,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.916667
4,20,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.916667
22,1,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.916667
10,5,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.916667
8,16,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.833333
18,14,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.833333
29,27,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.833333
30,21,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.750000
28,34,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.750000
15,28,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.750000
11,6,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.750000
5,30,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.750000
20,15,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.666667
9,24,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.666667
23,9,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.666667
13,17,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.583333
12,10,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.583333
25,3,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.583333
26,18,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.583333
31,33,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.500000
33,2,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.500000
0,25,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.416667
34,11,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.416667
21,23,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.416667
1,19,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.416667
7,29,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.333333
19,7,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.250000
17,12,DHT,0.5,3,2,1,1,"[8, 8]",opt1,0.01,0.250000

In [52]:
dht_final.loc[:,"Test_Accuracy"].mean()

0.7023809782857142

In [53]:
print(dht_final.sort_values("Test_Accuracy", ascending=False).to_latex())

\begin{tabular}{lrlrrrrrllrr}
\toprule
{} &  Subject & Function &  Time\_Off &  Window &  Overlap &  Levels &  Band\_Width & Neuron\_Configuration & Optimizer &  Learning\_Rate &  Test\_Accuracy \\
\midrule
14 &       31 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       1.000000 \\
27 &       13 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       1.000000 \\
6  &       22 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       1.000000 \\
24 &       32 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       1.000000 \\
32 &       26 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       1.000000 \\
16 &        8 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.916667 \\
2  &        4 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.916667 \\
3  &       35 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.916667 \\
4  &       20 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.916667 \\
22 &        1 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.916667 \\
10 &        5 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.916667 \\
8  &       16 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.833333 \\
18 &       14 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.833333 \\
29 &       27 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.833333 \\
30 &       21 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.750000 \\
28 &       34 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.750000 \\
15 &       28 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.750000 \\
11 &        6 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.750000 \\
5  &       30 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.750000 \\
20 &       15 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.666667 \\
9  &       24 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.666667 \\
23 &        9 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.666667 \\
13 &       17 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.583333 \\
12 &       10 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.583333 \\
25 &        3 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.583333 \\
26 &       18 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.583333 \\
31 &       33 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.500000 \\
33 &        2 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.500000 \\
0  &       25 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.416667 \\
34 &       11 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.416667 \\
21 &       23 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.416667 \\
1  &       19 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.416667 \\
7  &       29 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.333333 \\
19 &        7 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.250000 \\
17 &       12 &      DHT &       0.5 &       3 &        2 &       1 &           1 &               [8, 8] &      opt1 &           0.01 &       0.250000 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_3865917/194379015.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(dht_final.sort_values("Test_Accuracy", ascending=False).to_latex())

### Check results - Visual MNIST of the Brain

##### Binary MNIST

In [2]:
# here we classify digit and non-digit
dft_mnist = read_grid_search("results/mnist_1_DFT_2_kfold_1")
dft_mnist.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Training_Time,Mean_Accuracy
86,DFT,500,10,"(0.2, 0.2)",1.0,0.001,0.0,2,0,3,2,"(1, 4, 4, 2)",opt5,0.0040,120.024000,0.537222
235,DFT,500,10,"(0.3, 0.15)",1.0,0.001,0.0,2,0,3,2,"(1, 16, 16, 2)",opt7,0.0040,119.407000,0.533333
51,DFT,500,10,"(0.3, 0.5)",1.0,0.010,0.0,2,0,3,2,"(1, 4, 4, 2)",opt8,0.0100,115.722010,0.530556
1,DFT,500,10,"(0.3, 0.5)",0.0,0.010,0.0,2,0,3,2,"(1, 4, 4, 2)",opt7,0.0001,117.869995,0.529444
105,DFT,500,10,"(0.3, 0.15)",2.0,0.001,0.0,2,0,3,2,"(1, 32, 32, 2)",opt5,0.0100,120.650000,0.528889
135,DFT,500,10,"(0.5, 0.5)",1.0,0.010,0.0,2,0,3,2,"(1, 4, 4, 2)",opt4,0.0040,118.484010,0.526111
82,DFT,500,10,"(0.2, 0.2)",0.0,0.001,0.0,2,0,3,2,"(1, 32, 32, 2)",opt8,0.0010,117.440000,0.526111
72,DFT,500,10,"(0.5, 0.5)",2.0,0.001,0.0,2,0,3,2,"(1, 4, 8, 2)",opt1,0.0010,117.418020,0.526111
239,DFT,500,10,"(0.3, 0.5)",1.0,0.100,0.0,2,0,3,2,"(1, 4, 8, 2)",opt7,0.0100,118.369010,0.525556
80,DFT,500,10,"(0.6, 0.2)",0.0,0.100,0.0,2,0,3,2,"(1, 16, 32, 2)",opt3,0.0010,119.586000,0.522778

In [4]:
# here we classify digit and non-digit
dht_mnist = read_grid_search("results/mnist_1_DHT_2_kfold_1")
dht_mnist.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Training_Time,Mean_Accuracy
53,DHT,500,10,"(0.6, 0.2)",1.0,0.010,0.0,2,0,3,2,"(1, 4, 8, 2)",opt8,0.0100,115.695010,0.531667
217,DHT,500,10,"(0.3, 0.5)",1.0,0.001,0.0,2,0,3,2,"(1, 4, 4, 2)",opt1,0.0010,116.943010,0.527222
157,DHT,500,10,"(0.6, 0.2)",1.0,0.001,0.0,2,0,3,2,"(1, 4, 8, 2)",opt7,0.0010,118.092000,0.526111
108,DHT,500,10,"(0.2, 0.2)",1.0,0.001,0.0,2,0,3,2,"(1, 4, 8, 2)",opt1,0.0010,116.933010,0.525556
15,DHT,500,10,"(0.3, 0.5)",1.0,0.100,0.0,2,0,2,2,"(1, 4, 8, 2)",opt1,0.0010,116.992004,0.525556
72,DHT,500,10,"(0.2, 0.2)",1.0,0.100,0.0,2,0,3,2,"(1, 4, 4, 2)",opt5,0.0040,119.943990,0.522222
60,DHT,500,10,"(0.3, 0.5)",0.0,0.010,0.0,2,0,3,2,"(1, 8, 8, 2)",opt3,0.0001,118.887000,0.522222
129,DHT,500,10,"(0.6, 0.2)",1.0,0.001,0.0,2,0,2,2,"(1, 16, 32, 2)",opt7,0.0010,119.471000,0.521667
187,DHT,500,10,"(0.3, 0.5)",2.0,0.001,0.0,2,0,3,2,"(1, 32, 32, 2)",opt2,0.0010,121.189000,0.520556
23,DHT,500,10,"(0.2, 0.2)",2.0,0.010,0.0,2,0,2,2,"(1, 16, 32, 2)",opt3,0.0100,119.273000,0.520556

### Check results - BCI Competition Dataset IV 2a

#### K-Fold DFT (1 subject)

##### Subject 1

In [45]:
bcic2akfold1 = read_grid_search("results_v3/bcic2a_1_DFT_4_Sum_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2akfold1.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
2541,DFT,500,10,Sum,"(0.5, 0.5)",0.0,0.010,0.0,5,0,3,1,"(1, 16, 32, 4)",opt5,0.004,0.745833,114.18,701194
418,DFT,500,10,Sum,"(0.3, 0.5)",0.0,0.001,0.5,5,0,3,2,"(1, 8, 16, 4)",opt4,0.004,0.725000,116.18,183964
2076,DFT,500,10,Sum,"(0.3, 0.15)",0.0,0.001,0.0,5,0,3,2,"(1, 16, 32, 4)",opt5,0.001,0.725000,117.45,347764
1444,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.5,5,0,3,1,"(1, 16, 32, 4)",opt5,0.001,0.725000,118.25,701194
2649,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.100,0.0,5,0,3,3,"(1, 16, 32, 4)",opt5,0.004,0.720833,118.61,234068
464,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.010,0.0,5,0,3,2,"(1, 16, 32, 4)",opt7,0.001,0.720833,115.38,347764
81,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.100,0.5,5,0,2,3,"(1, 16, 32, 4)",opt5,0.004,0.720833,119.27,156276
1434,DFT,500,10,Sum,"(0.3, 0.5)",0.0,0.010,0.0,5,0,2,3,"(1, 16, 32, 4)",opt4,0.001,0.720833,116.57,156276
956,DFT,500,10,Sum,"(0.5, 0.5)",0.0,0.010,0.5,5,0,2,3,"(1, 16, 32, 4)",opt3,0.004,0.716667,117.62,156276
2475,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.0,5,0,2,1,"(1, 16, 32, 4)",opt3,0.004,0.716667,117.55,467818

In [46]:
bcic2akfold1.shape[0]

2741

In [47]:
print(bcic2akfold1.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(3).to_latex())

\begin{tabular}{llrrllrrrrrrrllrrrr}
\toprule
{} & Function &  Epochs &  Batch\_Size & Pooling &      Dropout &  FreqMean &  FreqStd &  Time\_Off &  Window &  Overlap &  Levels &  Band\_Width & Neuron\_Configuration & Optimizer &  Learning\_Rate &  Mean\_Accuracy &    Time &  Params \\
\midrule
2541 &      DFT &     500 &          10 &     Sum &   (0.5, 0.5) &       0.0 &    0.010 &       0.0 &       5 &        0 &       3 &           1 &       (1, 16, 32, 4) &      opt5 &          0.004 &       0.745833 &  114.18 &  701194 \\
418  &      DFT &     500 &          10 &     Sum &   (0.3, 0.5) &       0.0 &    0.001 &       0.5 &       5 &        0 &       3 &           2 &        (1, 8, 16, 4) &      opt4 &          0.004 &       0.725000 &  116.18 &  183964 \\
2076 &      DFT &     500 &          10 &     Sum &  (0.3, 0.15) &       0.0 &    0.001 &       0.0 &       5 &        0 &       3 &           2 &       (1, 16, 32, 4) &      opt5 &          0.001 &       0.725000 &  117.45 &  347764 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_2083466/3762733679.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(bcic2akfold1.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(3).to_latex())

In [48]:
bcic2akfold1mean = read_grid_search("results_v3/bcic2a_1_DFT_4_Mean_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2akfold1mean.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
1,DFT,500,10,Mean,"(0.6, 0.2)",0.0,0.010,0.0,5,0,2,2,"(1, 16, 16, 4)",opt5,0.0040,0.716667,116.49,233732
63,DFT,500,10,Mean,"(0.6, 0.2)",0.0,0.010,0.0,5,0,2,1,"(1, 16, 32, 4)",opt4,0.0040,0.704167,114.55,467818
16,DFT,500,10,Mean,"(0.3, 0.15)",0.0,0.100,0.0,5,0,3,1,"(1, 16, 16, 4)",opt7,0.0040,0.691667,113.50,700858
54,DFT,500,10,Mean,"(0.2, 0.2)",0.0,0.010,0.5,5,0,3,3,"(1, 4, 8, 4)",opt5,0.0001,0.691667,115.53,68720
67,DFT,500,10,Mean,"(0.5, 0.5)",0.0,0.001,0.0,5,0,2,1,"(1, 8, 16, 4)",opt4,0.0010,0.683333,114.40,247522
64,DFT,500,10,Mean,"(0.3, 0.5)",0.0,0.100,0.5,5,0,2,4,"(1, 8, 16, 4)",opt7,0.0001,0.670833,112.50,61996
38,DFT,500,10,Mean,"(0.3, 0.15)",0.0,0.100,0.0,5,0,2,3,"(1, 8, 16, 4)",opt4,0.0040,0.666667,114.02,82588
8,DFT,500,10,Mean,"(0.3, 0.5)",0.0,0.100,0.5,5,0,3,1,"(1, 8, 16, 4)",opt5,0.0010,0.666667,115.59,371074
104,DFT,500,10,Mean,"(0.2, 0.2)",1.0,0.100,0.5,5,0,3,2,"(1, 4, 8, 4)",opt7,0.0100,0.662500,114.31,102160
19,DFT,500,10,Mean,"(0.5, 0.5)",1.0,0.010,0.5,5,0,2,3,"(1, 16, 16, 4)",opt5,0.0010,0.662500,114.46,155940

In [49]:
bcic2akfold1max = read_grid_search("results_v3/bcic2a_1_DFT_4_Max_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2akfold1max.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
85,DFT,500,10,Max,"(0.5, 0.5)",0.0,0.001,0.0,5,0,2,1,"(1, 16, 16, 4)",opt3,0.0100,0.695833,115.17,467482
101,DFT,500,10,Max,"(0.2, 0.2)",2.0,0.100,0.5,5,0,3,3,"(1, 8, 16, 4)",opt4,0.0040,0.679167,115.73,123772
40,DFT,500,10,Max,"(0.6, 0.2)",1.0,0.010,0.0,5,0,2,4,"(1, 16, 32, 4)",opt5,0.0010,0.679167,114.18,117380
89,DFT,500,10,Max,"(0.5, 0.5)",0.0,0.001,0.0,5,0,3,4,"(1, 16, 16, 4)",opt4,0.0100,0.679167,113.61,170900
21,DFT,500,10,Max,"(0.6, 0.2)",1.0,0.100,0.0,5,0,3,3,"(1, 8, 16, 4)",opt3,0.0010,0.675000,116.29,123772
60,DFT,500,10,Max,"(0.6, 0.2)",0.0,0.100,0.5,5,0,2,1,"(1, 16, 16, 4)",opt5,0.0010,0.675000,116.51,467482
95,DFT,500,10,Max,"(0.3, 0.5)",1.0,0.001,0.0,5,0,2,5,"(1, 16, 16, 4)",opt8,0.0010,0.666667,112.37,93482
77,DFT,500,10,Max,"(0.2, 0.2)",2.0,0.010,0.0,5,0,3,5,"(1, 16, 32, 4)",opt8,0.0001,0.666667,115.19,135706
15,DFT,500,10,Max,"(0.3, 0.5)",0.0,0.010,0.0,5,0,2,3,"(1, 8, 16, 4)",opt7,0.0010,0.666667,113.78,82588
66,DFT,500,10,Max,"(0.2, 0.2)",2.0,0.001,0.5,5,0,2,3,"(1, 8, 16, 4)",opt4,0.0001,0.666667,113.38,82588

In [50]:
bcic2akfold1max.shape

(125, 18)

##### Subject 2

In [51]:
bcic2akfold2 = read_grid_search("results_v3/bcic2a_2_DFT_4_Sum_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2akfold2.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
628,DFT,500,10,Sum,"(0.3, 0.5)",0.0,0.010,0.0,5,0,2,3,"(1, 16, 32, 4)",opt5,0.0040,0.579167,114.15,156276
1864,DFT,500,10,Sum,"(0.5, 0.5)",0.0,0.010,0.5,5,0,2,3,"(1, 16, 32, 4)",opt3,0.0040,0.575000,118.85,156276
901,DFT,500,10,Sum,"(0.5, 0.5)",0.0,0.010,0.0,5,0,3,5,"(1, 16, 32, 4)",opt3,0.0100,0.575000,114.74,135706
731,DFT,500,10,Sum,"(0.2, 0.2)",2.0,0.001,0.0,5,0,2,4,"(1, 16, 32, 4)",opt8,0.0010,0.575000,110.33,117380
1206,DFT,500,10,Sum,"(0.2, 0.2)",0.0,0.010,0.0,5,0,2,5,"(1, 16, 32, 4)",opt3,0.0040,0.570833,114.15,93818
823,DFT,500,10,Sum,"(0.3, 0.15)",0.0,0.001,0.0,5,0,3,2,"(1, 16, 32, 4)",opt5,0.0010,0.570833,115.76,347764
745,DFT,500,10,Sum,"(0.2, 0.2)",0.0,0.001,0.5,5,0,3,3,"(1, 16, 32, 4)",opt5,0.0001,0.566667,119.75,234068
443,DFT,500,10,Sum,"(0.2, 0.2)",0.0,0.100,0.0,5,0,2,4,"(1, 16, 32, 4)",opt8,0.0100,0.562500,112.38,117380
1193,DFT,500,10,Sum,"(0.3, 0.15)",0.0,0.010,0.5,5,0,3,3,"(1, 16, 32, 4)",opt5,0.0040,0.562500,120.08,234068
884,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.010,0.0,5,0,3,1,"(1, 16, 32, 4)",opt5,0.0001,0.558333,118.26,701194

In [52]:
bcic2akfold2.shape[0]

2741

In [53]:
print(bcic2akfold2.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(3).to_latex())

\begin{tabular}{llrrllrrrrrrrllrrrr}
\toprule
{} & Function &  Epochs &  Batch\_Size & Pooling &     Dropout &  FreqMean &  FreqStd &  Time\_Off &  Window &  Overlap &  Levels &  Band\_Width & Neuron\_Configuration & Optimizer &  Learning\_Rate &  Mean\_Accuracy &    Time &  Params \\
\midrule
628 &      DFT &     500 &          10 &     Sum &  (0.3, 0.5) &       0.0 &    0.010 &       0.0 &       5 &        0 &       2 &           3 &       (1, 16, 32, 4) &      opt5 &          0.004 &       0.579167 &  114.15 &  156276 \\
731 &      DFT &     500 &          10 &     Sum &  (0.2, 0.2) &       2.0 &    0.001 &       0.0 &       5 &        0 &       2 &           4 &       (1, 16, 32, 4) &      opt8 &          0.001 &       0.575000 &  110.33 &  117380 \\
901 &      DFT &     500 &          10 &     Sum &  (0.5, 0.5) &       0.0 &    0.010 &       0.0 &       5 &        0 &       3 &           5 &       (1, 16, 32, 4) &      opt3 &          0.010 &       0.575000 &  114.74 &  135706 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_2083466/3958429244.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(bcic2akfold2.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(3).to_latex())

In [54]:
bcic2akfold2mean = read_grid_search("results_v3/bcic2a_2_DFT_4_Mean_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2akfold2mean.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
10,DFT,500,10,Mean,"(0.2, 0.2)",1.0,0.100,0.5,5,0,3,4,"(1, 16, 32, 4)",opt4,0.0001,0.554167,114.98,171236
16,DFT,500,10,Mean,"(0.6, 0.2)",0.0,0.010,0.0,5,0,2,2,"(1, 16, 16, 4)",opt5,0.0040,0.554167,117.67,233732
12,DFT,500,10,Mean,"(0.3, 0.15)",2.0,0.010,0.0,5,0,3,4,"(1, 16, 16, 4)",opt4,0.0001,0.537500,113.25,170900
36,DFT,500,10,Mean,"(0.6, 0.2)",2.0,0.001,0.0,5,0,2,5,"(1, 16, 16, 4)",opt8,0.0001,0.529167,115.43,93482
80,DFT,500,10,Mean,"(0.6, 0.2)",0.0,0.010,0.5,5,0,3,4,"(1, 4, 8, 4)",opt3,0.0040,0.525000,114.38,50240
87,DFT,500,10,Mean,"(0.3, 0.5)",1.0,0.100,0.0,5,0,3,4,"(1, 8, 16, 4)",opt1,0.0100,0.525000,111.61,90508
92,DFT,500,10,Mean,"(0.5, 0.5)",0.0,0.001,0.0,5,0,2,4,"(1, 16, 32, 4)",opt7,0.0100,0.516667,113.27,117380
91,DFT,500,10,Mean,"(0.6, 0.2)",0.0,0.010,0.0,5,0,2,1,"(1, 16, 32, 4)",opt4,0.0040,0.512500,114.59,467818
98,DFT,500,10,Mean,"(0.5, 0.5)",0.0,0.001,0.0,5,0,2,5,"(1, 4, 8, 4)",opt8,0.0040,0.504167,111.04,27470
11,DFT,500,10,Mean,"(0.5, 0.5)",1.0,0.010,0.5,5,0,2,3,"(1, 16, 16, 4)",opt5,0.0010,0.504167,116.69,155940

In [55]:
bcic2akfold2max = read_grid_search("results_v3/bcic2a_2_DFT_4_Max_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2akfold2max.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
86,DFT,500,10,Max,"(0.2, 0.2)",2.0,0.010,0.0,5,0,3,4,"(1, 16, 32, 4)",opt7,0.0001,0.537500,115.71,171236
91,DFT,500,10,Max,"(0.3, 0.5)",1.0,0.001,0.0,5,0,2,5,"(1, 16, 16, 4)",opt8,0.0010,0.512500,110.61,93482
70,DFT,500,10,Max,"(0.3, 0.15)",1.0,0.001,0.0,5,0,1,4,"(1, 16, 32, 4)",opt8,0.0001,0.508333,113.83,59036
59,DFT,500,10,Max,"(0.2, 0.2)",2.0,0.010,0.0,5,0,3,5,"(1, 16, 32, 4)",opt8,0.0001,0.504167,117.13,135706
51,DFT,500,10,Max,"(0.3, 0.15)",0.0,0.001,0.0,5,0,2,5,"(1, 16, 16, 4)",opt4,0.0001,0.500000,113.06,93482
9,DFT,500,10,Max,"(0.3, 0.15)",0.0,0.001,0.0,5,0,3,5,"(1, 16, 16, 4)",opt4,0.0001,0.495833,113.19,135370
61,DFT,500,10,Max,"(0.2, 0.2)",1.0,0.100,0.0,5,0,3,1,"(1, 16, 16, 4)",opt4,0.0001,0.495833,114.39,700858
106,DFT,500,10,Max,"(0.2, 0.2)",0.0,0.100,0.5,5,0,2,5,"(1, 16, 16, 4)",opt5,0.0010,0.491667,115.44,93482
46,DFT,500,10,Max,"(0.2, 0.2)",2.0,0.100,0.5,5,0,3,2,"(1, 16, 32, 4)",opt4,0.0040,0.491667,113.14,347764
83,DFT,500,10,Max,"(0.6, 0.2)",1.0,0.010,0.0,5,0,2,4,"(1, 16, 32, 4)",opt5,0.0010,0.487500,114.35,117380

##### Subject 3

In [56]:
bcic2akfold3 = read_grid_search("results_v3/bcic2a_3_DFT_4_Sum_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2akfold3.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
906,DFT,500,10,Sum,"(0.5, 0.5)",0.0,0.001,0.5,5,0,3,4,"(1, 16, 16, 4)",opt7,0.0010,0.804167,114.88,170900
1408,DFT,500,10,Sum,"(0.5, 0.5)",0.0,0.010,0.0,5,0,2,4,"(1, 16, 16, 4)",opt4,0.0010,0.800000,116.98,117044
2047,DFT,500,10,Sum,"(0.2, 0.2)",0.0,0.010,0.0,5,0,2,4,"(1, 16, 32, 4)",opt7,0.0040,0.800000,119.24,117380
2151,DFT,500,10,Sum,"(0.3, 0.5)",0.0,0.001,0.0,5,0,3,4,"(1, 16, 16, 4)",opt4,0.0010,0.791667,119.83,170900
1885,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.010,0.0,5,0,3,4,"(1, 16, 16, 4)",opt4,0.0010,0.787500,117.60,170900
2592,DFT,500,10,Sum,"(0.3, 0.15)",2.0,0.010,0.0,5,0,2,4,"(1, 16, 32, 4)",opt7,0.0001,0.783333,115.30,117380
642,DFT,500,10,Sum,"(0.3, 0.15)",2.0,0.001,0.5,5,0,2,4,"(1, 16, 16, 4)",opt7,0.0001,0.779167,113.66,117044
141,DFT,500,10,Sum,"(0.3, 0.5)",1.0,0.001,0.0,5,0,2,5,"(1, 16, 16, 4)",opt8,0.0001,0.779167,116.50,93482
1667,DFT,500,10,Sum,"(0.3, 0.5)",2.0,0.100,0.5,5,0,3,5,"(1, 16, 16, 4)",opt8,0.0001,0.779167,112.39,135370
1114,DFT,500,10,Sum,"(0.5, 0.5)",2.0,0.001,0.5,5,0,3,4,"(1, 16, 32, 4)",opt8,0.0010,0.779167,112.56,171236

In [57]:
bcic2akfold3.shape[0]

2740

In [58]:
print(bcic2akfold3.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(3).to_latex())

\begin{tabular}{llrrllrrrrrrrllrrrr}
\toprule
{} & Function &  Epochs &  Batch\_Size & Pooling &     Dropout &  FreqMean &  FreqStd &  Time\_Off &  Window &  Overlap &  Levels &  Band\_Width & Neuron\_Configuration & Optimizer &  Learning\_Rate &  Mean\_Accuracy &    Time &  Params \\
\midrule
906  &      DFT &     500 &          10 &     Sum &  (0.5, 0.5) &       0.0 &    0.001 &       0.5 &       5 &        0 &       3 &           4 &       (1, 16, 16, 4) &      opt7 &          0.001 &       0.804167 &  114.88 &  170900 \\
1408 &      DFT &     500 &          10 &     Sum &  (0.5, 0.5) &       0.0 &    0.010 &       0.0 &       5 &        0 &       2 &           4 &       (1, 16, 16, 4) &      opt4 &          0.001 &       0.800000 &  116.98 &  117044 \\
2047 &      DFT &     500 &          10 &     Sum &  (0.2, 0.2) &       0.0 &    0.010 &       0.0 &       5 &        0 &       2 &           4 &       (1, 16, 32, 4) &      opt7 &          0.004 &       0.800000 &  119.24 &  117380 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_2083466/2008428946.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(bcic2akfold3.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(3).to_latex())

In [59]:
bcic2akfold3max = read_grid_search("results_v3/bcic2a_3_DFT_4_Max_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2akfold3max.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
54,DFT,500,10,Max,"(0.3, 0.15)",0.0,0.001,0.0,5,0,2,4,"(1, 16, 32, 4)",opt4,0.0010,0.745833,112.57,117380
85,DFT,500,10,Max,"(0.5, 0.5)",0.0,0.001,0.0,5,0,3,4,"(1, 16, 16, 4)",opt4,0.0100,0.729167,113.55,170900
116,DFT,500,10,Max,"(0.2, 0.2)",2.0,0.010,0.0,5,0,3,4,"(1, 16, 32, 4)",opt7,0.0001,0.725000,114.10,171236
36,DFT,500,10,Max,"(0.2, 0.2)",2.0,0.010,0.0,5,0,3,5,"(1, 16, 32, 4)",opt8,0.0001,0.720833,118.49,135706
123,DFT,500,10,Max,"(0.6, 0.2)",0.0,0.100,0.5,5,0,2,1,"(1, 16, 16, 4)",opt5,0.0010,0.720833,115.96,467482
67,DFT,500,10,Max,"(0.2, 0.2)",0.0,0.100,0.5,5,0,2,5,"(1, 16, 16, 4)",opt5,0.0010,0.708333,118.15,93482
90,DFT,500,10,Max,"(0.3, 0.5)",1.0,0.001,0.0,5,0,2,5,"(1, 16, 16, 4)",opt8,0.0010,0.708333,112.57,93482
87,DFT,500,10,Max,"(0.2, 0.2)",2.0,0.100,0.5,5,0,3,4,"(1, 8, 16, 4)",opt5,0.0001,0.704167,113.48,90508
24,DFT,500,10,Max,"(0.2, 0.2)",1.0,0.100,0.0,5,0,3,1,"(1, 16, 16, 4)",opt4,0.0001,0.700000,112.40,700858
19,DFT,500,10,Max,"(0.3, 0.15)",0.0,0.001,0.0,5,0,3,5,"(1, 16, 16, 4)",opt4,0.0001,0.695833,112.79,135370

In [60]:
bcic2akfold3mean = read_grid_search("results_v3/bcic2a_3_DFT_4_Mean_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2akfold3mean.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
116,DFT,500,10,Mean,"(0.3, 0.15)",2.0,0.010,0.0,5,0,3,4,"(1, 16, 16, 4)",opt4,0.0001,0.783333,112.33,170900
62,DFT,500,10,Mean,"(0.6, 0.2)",2.0,0.001,0.0,5,0,2,5,"(1, 16, 16, 4)",opt8,0.0001,0.783333,111.47,93482
80,DFT,500,10,Mean,"(0.2, 0.2)",1.0,0.100,0.5,5,0,3,4,"(1, 16, 32, 4)",opt4,0.0001,0.779167,115.07,171236
13,DFT,500,10,Mean,"(0.6, 0.2)",2.0,0.100,0.0,5,0,1,4,"(1, 16, 16, 4)",opt5,0.0001,0.733333,116.30,58700
83,DFT,500,10,Mean,"(0.6, 0.2)",0.0,0.010,0.5,5,0,3,4,"(1, 4, 8, 4)",opt3,0.0040,0.720833,113.71,50240
50,DFT,500,10,Mean,"(0.3, 0.15)",0.0,0.100,0.0,5,0,3,1,"(1, 16, 16, 4)",opt7,0.0040,0.708333,113.04,700858
43,DFT,500,10,Mean,"(0.3, 0.5)",2.0,0.100,0.5,5,0,2,5,"(1, 8, 16, 4)",opt4,0.0001,0.700000,113.83,49522
19,DFT,500,10,Mean,"(0.2, 0.2)",2.0,0.100,0.0,5,0,1,4,"(1, 16, 32, 4)",opt8,0.0010,0.695833,110.03,59036
91,DFT,500,10,Mean,"(0.3, 0.5)",0.0,0.100,0.5,5,0,2,4,"(1, 8, 16, 4)",opt7,0.0001,0.695833,113.87,61996
61,DFT,500,10,Mean,"(0.3, 0.15)",2.0,0.010,0.0,5,0,1,5,"(1, 16, 32, 4)",opt1,0.0100,0.691667,110.56,47442

##### Subject 4

In [61]:
bcic2akfold4 = read_grid_search("results_v3/bcic2a_4_DFT_4_Sum_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2akfold4.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
387,DFT,500,10,Sum,"(0.3, 0.5)",0.0,0.001,0.5,5,0,3,5,"(1, 16, 16, 4)",opt5,0.0010,0.595833,115.86,135370
863,DFT,500,10,Sum,"(0.5, 0.5)",0.0,0.100,0.5,5,0,3,5,"(1, 16, 32, 4)",opt4,0.0010,0.575000,117.55,135706
2298,DFT,500,10,Sum,"(0.5, 0.5)",0.0,0.001,0.0,5,0,3,5,"(1, 16, 32, 4)",opt7,0.0001,0.570833,112.74,135706
1843,DFT,500,10,Sum,"(0.3, 0.5)",0.0,0.001,0.5,5,0,3,5,"(1, 16, 32, 4)",opt4,0.0010,0.566667,116.10,135706
738,DFT,500,10,Sum,"(0.2, 0.2)",1.0,0.001,0.0,5,0,3,4,"(1, 16, 32, 4)",opt7,0.0001,0.562500,115.97,171236
1203,DFT,500,10,Sum,"(0.6, 0.2)",1.0,0.001,0.5,5,0,3,4,"(1, 16, 32, 4)",opt7,0.0001,0.562500,115.82,171236
1969,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.5,5,0,3,1,"(1, 16, 32, 4)",opt5,0.0010,0.558333,116.78,701194
66,DFT,500,10,Sum,"(0.3, 0.5)",2.0,0.100,0.5,5,0,3,5,"(1, 16, 16, 4)",opt3,0.0010,0.554167,115.58,135370
1491,DFT,500,10,Sum,"(0.3, 0.15)",0.0,0.001,0.5,5,0,3,5,"(1, 16, 32, 4)",opt5,0.0001,0.554167,117.76,135706
480,DFT,500,10,Sum,"(0.2, 0.2)",2.0,0.001,0.0,5,0,3,2,"(1, 16, 32, 4)",opt4,0.0001,0.550000,114.47,347764

In [62]:
bcic2akfold4.shape[0]

2740

In [63]:
print(bcic2akfold4.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(3).to_latex())

\begin{tabular}{llrrllrrrrrrrllrrrr}
\toprule
{} & Function &  Epochs &  Batch\_Size & Pooling &     Dropout &  FreqMean &  FreqStd &  Time\_Off &  Window &  Overlap &  Levels &  Band\_Width & Neuron\_Configuration & Optimizer &  Learning\_Rate &  Mean\_Accuracy &    Time &  Params \\
\midrule
387  &      DFT &     500 &          10 &     Sum &  (0.3, 0.5) &       0.0 &    0.001 &       0.5 &       5 &        0 &       3 &           5 &       (1, 16, 16, 4) &      opt5 &         0.0010 &       0.595833 &  115.86 &  135370 \\
863  &      DFT &     500 &          10 &     Sum &  (0.5, 0.5) &       0.0 &    0.100 &       0.5 &       5 &        0 &       3 &           5 &       (1, 16, 32, 4) &      opt4 &         0.0010 &       0.575000 &  117.55 &  135706 \\
2298 &      DFT &     500 &          10 &     Sum &  (0.5, 0.5) &       0.0 &    0.001 &       0.0 &       5 &        0 &       3 &           5 &       (1, 16, 32, 4) &      opt7 &         0.0001 &       0.570833 &  112.74 &  135706 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_2083466/946130273.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(bcic2akfold4.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(3).to_latex())

In [64]:
bcic2akfold4mean = read_grid_search("results_v3/bcic2a_4_DFT_4_Mean_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2akfold4mean.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
37,DFT,500,10,Mean,"(0.2, 0.2)",1.0,0.100,0.5,5,0,3,4,"(1, 16, 32, 4)",opt4,0.0001,0.525000,112.22,171236
45,DFT,500,10,Mean,"(0.3, 0.5)",2.0,0.100,0.5,5,0,2,5,"(1, 8, 16, 4)",opt4,0.0001,0.508333,114.53,49522
117,DFT,500,10,Mean,"(0.3, 0.15)",2.0,0.010,0.0,5,0,3,4,"(1, 16, 16, 4)",opt4,0.0001,0.491667,113.24,170900
24,DFT,500,10,Mean,"(0.6, 0.2)",0.0,0.010,0.5,5,0,3,4,"(1, 4, 8, 4)",opt3,0.0040,0.487500,112.92,50240
65,DFT,500,10,Mean,"(0.3, 0.5)",2.0,0.010,0.0,5,0,3,2,"(1, 16, 16, 4)",opt3,0.0010,0.487500,112.55,347428
61,DFT,500,10,Mean,"(0.5, 0.5)",2.0,0.100,0.0,5,0,3,2,"(1, 16, 32, 4)",opt4,0.0010,0.479167,111.36,347764
7,DFT,500,10,Mean,"(0.6, 0.2)",2.0,0.001,0.0,5,0,2,5,"(1, 16, 16, 4)",opt8,0.0001,0.470833,113.03,93482
10,DFT,500,10,Mean,"(0.3, 0.15)",2.0,0.010,0.0,5,0,1,5,"(1, 16, 32, 4)",opt1,0.0100,0.458333,110.53,47442
111,DFT,500,10,Mean,"(0.6, 0.2)",2.0,0.100,0.5,5,0,3,5,"(1, 4, 8, 4)",opt7,0.0040,0.454167,114.74,39790
116,DFT,500,10,Mean,"(0.2, 0.2)",2.0,0.100,0.0,5,0,1,4,"(1, 16, 32, 4)",opt8,0.0010,0.441667,111.12,59036

In [65]:
bcic2akfold4max = read_grid_search("results_v3/bcic2a_4_DFT_4_Max_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2akfold4max.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
83,DFT,500,10,Max,"(0.3, 0.15)",0.0,0.001,0.0,5,0,2,4,"(1, 16, 32, 4)",opt4,0.0010,0.545833,115.19,117380
82,DFT,500,10,Max,"(0.2, 0.2)",2.0,0.010,0.0,5,0,3,5,"(1, 16, 32, 4)",opt8,0.0001,0.533333,117.49,135706
36,DFT,500,10,Max,"(0.2, 0.2)",2.0,0.010,0.0,5,0,3,4,"(1, 16, 32, 4)",opt7,0.0001,0.504167,113.97,171236
113,DFT,500,10,Max,"(0.2, 0.2)",1.0,0.100,0.0,5,0,3,1,"(1, 16, 16, 4)",opt4,0.0001,0.500000,114.02,700858
93,DFT,500,10,Max,"(0.3, 0.5)",1.0,0.001,0.0,5,0,2,5,"(1, 16, 16, 4)",opt8,0.0010,0.487500,109.93,93482
32,DFT,500,10,Max,"(0.6, 0.2)",1.0,0.010,0.0,5,0,1,3,"(1, 16, 16, 4)",opt8,0.0010,0.479167,110.20,78148
96,DFT,500,10,Max,"(0.5, 0.5)",2.0,0.010,0.0,5,0,3,1,"(1, 16, 16, 4)",opt7,0.0001,0.479167,115.14,700858
97,DFT,500,10,Max,"(0.2, 0.2)",0.0,0.100,0.5,5,0,2,5,"(1, 16, 16, 4)",opt5,0.0010,0.475000,114.76,93482
105,DFT,500,10,Max,"(0.2, 0.2)",2.0,0.100,0.5,5,0,3,2,"(1, 16, 32, 4)",opt4,0.0040,0.466667,112.45,347764
99,DFT,500,10,Max,"(0.3, 0.5)",2.0,0.001,0.5,5,0,2,5,"(1, 16, 32, 4)",opt7,0.0040,0.462500,115.00,93818

##### Subject 5

In [66]:
bcic2akfold5 = read_grid_search("results_v3/bcic2a_5_DFT_4_Sum_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2akfold5.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
1252,DFT,500,10,Sum,"(0.2, 0.2)",0.0,0.010,0.0,5,0,2,4,"(1, 16, 32, 4)",opt7,0.0040,0.600000,115.49,117380
1859,DFT,500,10,Sum,"(0.3, 0.15)",0.0,0.010,0.0,5,0,3,1,"(1, 16, 16, 4)",opt7,0.0040,0.595833,118.35,700858
708,DFT,500,10,Sum,"(0.3, 0.5)",0.0,0.010,0.5,5,0,3,1,"(1, 16, 16, 4)",opt7,0.0040,0.595833,113.66,700858
763,DFT,500,10,Sum,"(0.2, 0.2)",0.0,0.010,0.0,5,0,2,4,"(1, 16, 16, 4)",opt7,0.0040,0.595833,115.75,117044
2531,DFT,500,10,Sum,"(0.3, 0.15)",0.0,0.001,0.0,5,0,2,3,"(1, 16, 16, 4)",opt7,0.0010,0.591667,117.39,155940
2157,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.100,0.0,5,0,1,5,"(1, 16, 32, 4)",opt8,0.0100,0.587500,112.69,47442
2190,DFT,500,10,Sum,"(0.3, 0.5)",0.0,0.001,0.5,5,0,2,4,"(1, 16, 16, 4)",opt4,0.0040,0.587500,117.79,117044
400,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.5,5,0,3,1,"(1, 16, 32, 4)",opt5,0.0010,0.583333,117.53,701194
1273,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.010,0.0,5,0,3,2,"(1, 16, 32, 4)",opt7,0.0010,0.583333,115.53,347764
54,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.010,0.5,5,0,2,4,"(1, 16, 32, 4)",opt7,0.0001,0.583333,114.06,117380

In [67]:
bcic2akfold5.shape[0]

2740

In [68]:
print(bcic2akfold5.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10).to_latex())

\begin{tabular}{llrrllrrrrrrrllrrrr}
\toprule
{} & Function &  Epochs &  Batch\_Size & Pooling &      Dropout &  FreqMean &  FreqStd &  Time\_Off &  Window &  Overlap &  Levels &  Band\_Width & Neuron\_Configuration & Optimizer &  Learning\_Rate &  Mean\_Accuracy &    Time &  Params \\
\midrule
1252 &      DFT &     500 &          10 &     Sum &   (0.2, 0.2) &       0.0 &    0.010 &       0.0 &       5 &        0 &       2 &           4 &       (1, 16, 32, 4) &      opt7 &         0.0040 &       0.600000 &  115.49 &  117380 \\
708  &      DFT &     500 &          10 &     Sum &   (0.3, 0.5) &       0.0 &    0.010 &       0.5 &       5 &        0 &       3 &           1 &       (1, 16, 16, 4) &      opt7 &         0.0040 &       0.595833 &  113.66 &  700858 \\
1859 &      DFT &     500 &          10 &     Sum &  (0.3, 0.15) &       0.0 &    0.010 &       0.0 &       5 &        0 &       3 &           1 &       (1, 16, 16, 4) &      opt7 &         0.0040 &       0.595833 &  118.35 &  700858 \\
763  &      DFT &     500 &          10 &     Sum &   (0.2, 0.2) &       0.0 &    0.010 &       0.0 &       5 &        0 &       2 &           4 &       (1, 16, 16, 4) &      opt7 &         0.0040 &       0.595833 &  115.75 &  117044 \\
2531 &      DFT &     500 &          10 &     Sum &  (0.3, 0.15) &       0.0 &    0.001 &       0.0 &       5 &        0 &       2 &           3 &       (1, 16, 16, 4) &      opt7 &         0.0010 &       0.591667 &  117.39 &  155940 \\
2157 &      DFT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &    0.100 &       0.0 &       5 &        0 &       1 &           5 &       (1, 16, 32, 4) &      opt8 &         0.0100 &       0.587500 &  112.69 &   47442 \\
2190 &      DFT &     500 &          10 &     Sum &   (0.3, 0.5) &       0.0 &    0.001 &       0.5 &       5 &        0 &       2 &           4 &       (1, 16, 16, 4) &      opt4 &         0.0040 &       0.587500 &  117.79 &  117044 \\
54   &      DFT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &    0.010 &       0.5 &       5 &        0 &       2 &           4 &       (1, 16, 32, 4) &      opt7 &         0.0001 &       0.583333 &  114.06 &  117380 \\
1273 &      DFT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &    0.010 &       0.0 &       5 &        0 &       3 &           2 &       (1, 16, 32, 4) &      opt7 &         0.0010 &       0.583333 &  115.53 &  347764 \\
400  &      DFT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &    0.001 &       0.5 &       5 &        0 &       3 &           1 &       (1, 16, 32, 4) &      opt5 &         0.0010 &       0.583333 &  117.53 &  701194 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_2083466/4086244309.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(bcic2akfold5.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10).to_latex())

In [69]:
bcic2akfold5mean = read_grid_search("results_v3/bcic2a_5_DFT_4_Mean_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2akfold5mean.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
63,DFT,500,10,Mean,"(0.6, 0.2)",2.0,0.001,0.0,5,0,2,5,"(1, 16, 16, 4)",opt8,0.0001,0.579167,112.07,93482
111,DFT,500,10,Mean,"(0.2, 0.2)",1.0,0.100,0.5,5,0,3,4,"(1, 16, 32, 4)",opt4,0.0001,0.550000,114.08,171236
26,DFT,500,10,Mean,"(0.3, 0.15)",2.0,0.010,0.0,5,0,3,4,"(1, 16, 16, 4)",opt4,0.0001,0.550000,112.78,170900
4,DFT,500,10,Mean,"(0.6, 0.2)",0.0,0.010,0.5,5,0,1,5,"(1, 16, 32, 4)",opt8,0.0100,0.541667,111.14,47442
29,DFT,500,10,Mean,"(0.6, 0.2)",0.0,0.010,0.0,5,0,2,1,"(1, 16, 32, 4)",opt4,0.0040,0.529167,113.46,467818
78,DFT,500,10,Mean,"(0.3, 0.5)",2.0,0.100,0.5,5,0,2,5,"(1, 8, 16, 4)",opt4,0.0001,0.520833,115.75,49522
68,DFT,500,10,Mean,"(0.6, 0.2)",0.0,0.010,0.5,5,0,3,4,"(1, 4, 8, 4)",opt3,0.0040,0.516667,112.79,50240
54,DFT,500,10,Mean,"(0.2, 0.2)",0.0,0.001,0.5,5,0,1,4,"(1, 16, 16, 4)",opt7,0.0040,0.512500,113.72,58700
114,DFT,500,10,Mean,"(0.3, 0.5)",0.0,0.100,0.5,5,0,2,4,"(1, 8, 16, 4)",opt7,0.0001,0.504167,115.55,61996
96,DFT,500,10,Mean,"(0.6, 0.2)",0.0,0.010,0.0,5,0,2,2,"(1, 16, 16, 4)",opt5,0.0040,0.504167,114.65,233732

In [70]:
bcic2akfold5max = read_grid_search("results_v3/bcic2a_5_DFT_4_Max_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2akfold5max.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
76,DFT,500,10,Max,"(0.2, 0.2)",2.0,0.010,0.0,5,0,3,4,"(1, 16, 32, 4)",opt7,0.0001,0.554167,114.54,171236
79,DFT,500,10,Max,"(0.3, 0.15)",0.0,0.001,0.0,5,0,2,4,"(1, 16, 32, 4)",opt4,0.0010,0.537500,113.88,117380
103,DFT,500,10,Max,"(0.5, 0.5)",2.0,0.010,0.0,5,0,3,1,"(1, 16, 16, 4)",opt7,0.0001,0.529167,113.40,700858
78,DFT,500,10,Max,"(0.3, 0.15)",0.0,0.001,0.0,5,0,3,5,"(1, 16, 16, 4)",opt4,0.0001,0.516667,112.42,135370
97,DFT,500,10,Max,"(0.2, 0.2)",1.0,0.100,0.0,5,0,3,1,"(1, 16, 16, 4)",opt4,0.0001,0.508333,112.71,700858
95,DFT,500,10,Max,"(0.6, 0.2)",0.0,0.100,0.5,5,0,2,1,"(1, 16, 16, 4)",opt5,0.0010,0.500000,113.68,467482
57,DFT,500,10,Max,"(0.5, 0.5)",0.0,0.001,0.0,5,0,3,4,"(1, 16, 16, 4)",opt4,0.0100,0.495833,115.88,170900
94,DFT,500,10,Max,"(0.5, 0.5)",1.0,0.100,0.0,5,0,2,4,"(1, 8, 16, 4)",opt4,0.0001,0.491667,113.52,61996
124,DFT,500,10,Max,"(0.6, 0.2)",1.0,0.100,0.5,5,0,2,4,"(1, 8, 16, 4)",opt4,0.0001,0.491667,115.16,61996
0,DFT,500,10,Max,"(0.3, 0.5)",1.0,0.001,0.0,5,0,2,5,"(1, 16, 16, 4)",opt8,0.0010,0.491667,110.41,93482

#####  Subject 6

In [71]:
bcic2akfold6 = read_grid_search("results_v3/bcic2a_6_DFT_4_Sum_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2akfold6.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
463,DFT,500,10,Sum,"(0.5, 0.5)",0.0,0.010,0.5,5,0,2,5,"(1, 16, 16, 4)",opt3,0.0010,0.525000,116.17,93482
614,DFT,500,10,Sum,"(0.6, 0.2)",2.0,0.100,0.0,5,0,3,3,"(1, 16, 32, 4)",opt4,0.0001,0.516667,119.23,234068
994,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.010,0.0,5,0,3,2,"(1, 16, 32, 4)",opt7,0.0010,0.516667,115.30,347764
1700,DFT,500,10,Sum,"(0.6, 0.2)",0.0,0.010,0.5,5,0,3,3,"(1, 16, 16, 4)",opt3,0.0010,0.516667,117.65,233732
2553,DFT,500,10,Sum,"(0.3, 0.15)",0.0,0.010,0.5,5,0,3,3,"(1, 16, 32, 4)",opt5,0.0040,0.512500,117.27,234068
2176,DFT,500,10,Sum,"(0.3, 0.15)",0.0,0.001,0.5,5,0,3,5,"(1, 16, 16, 4)",opt5,0.0001,0.504167,119.86,135370
2209,DFT,500,10,Sum,"(0.6, 0.2)",1.0,0.001,0.5,5,0,3,4,"(1, 16, 32, 4)",opt7,0.0001,0.504167,116.69,171236
235,DFT,500,10,Sum,"(0.2, 0.2)",1.0,0.001,0.0,5,0,3,4,"(1, 16, 32, 4)",opt7,0.0001,0.504167,115.47,171236
1736,DFT,500,10,Sum,"(0.3, 0.5)",2.0,0.010,0.0,5,0,3,5,"(1, 16, 32, 4)",opt8,0.0001,0.500000,113.84,135706
1675,DFT,500,10,Sum,"(0.6, 0.2)",2.0,0.010,0.5,5,0,3,5,"(1, 16, 32, 4)",opt8,0.0100,0.500000,115.44,135706

In [72]:
bcic2akfold6.shape[0]

2740

In [73]:
print(bcic2akfold6.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10).to_latex())

\begin{tabular}{llrrllrrrrrrrllrrrr}
\toprule
{} & Function &  Epochs &  Batch\_Size & Pooling &      Dropout &  FreqMean &  FreqStd &  Time\_Off &  Window &  Overlap &  Levels &  Band\_Width & Neuron\_Configuration & Optimizer &  Learning\_Rate &  Mean\_Accuracy &    Time &  Params \\
\midrule
463  &      DFT &     500 &          10 &     Sum &   (0.5, 0.5) &       0.0 &    0.010 &       0.5 &       5 &        0 &       2 &           5 &       (1, 16, 16, 4) &      opt3 &         0.0010 &       0.525000 &  116.17 &   93482 \\
614  &      DFT &     500 &          10 &     Sum &   (0.6, 0.2) &       2.0 &    0.100 &       0.0 &       5 &        0 &       3 &           3 &       (1, 16, 32, 4) &      opt4 &         0.0001 &       0.516667 &  119.23 &  234068 \\
1700 &      DFT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &    0.010 &       0.5 &       5 &        0 &       3 &           3 &       (1, 16, 16, 4) &      opt3 &         0.0010 &       0.516667 &  117.65 &  233732 \\
994  &      DFT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &    0.010 &       0.0 &       5 &        0 &       3 &           2 &       (1, 16, 32, 4) &      opt7 &         0.0010 &       0.516667 &  115.30 &  347764 \\
2553 &      DFT &     500 &          10 &     Sum &  (0.3, 0.15) &       0.0 &    0.010 &       0.5 &       5 &        0 &       3 &           3 &       (1, 16, 32, 4) &      opt5 &         0.0040 &       0.512500 &  117.27 &  234068 \\
2176 &      DFT &     500 &          10 &     Sum &  (0.3, 0.15) &       0.0 &    0.001 &       0.5 &       5 &        0 &       3 &           5 &       (1, 16, 16, 4) &      opt5 &         0.0001 &       0.504167 &  119.86 &  135370 \\
235  &      DFT &     500 &          10 &     Sum &   (0.2, 0.2) &       1.0 &    0.001 &       0.0 &       5 &        0 &       3 &           4 &       (1, 16, 32, 4) &      opt7 &         0.0001 &       0.504167 &  115.47 &  171236 \\
2209 &      DFT &     500 &          10 &     Sum &   (0.6, 0.2) &       1.0 &    0.001 &       0.5 &       5 &        0 &       3 &           4 &       (1, 16, 32, 4) &      opt7 &         0.0001 &       0.504167 &  116.69 &  171236 \\
510  &      DFT &     500 &          10 &     Sum &   (0.2, 0.2) &       0.0 &    0.100 &       0.0 &       5 &        0 &       2 &           5 &       (1, 16, 16, 4) &      opt4 &         0.0001 &       0.500000 &  115.29 &   93482 \\
1675 &      DFT &     500 &          10 &     Sum &   (0.6, 0.2) &       2.0 &    0.010 &       0.5 &       5 &        0 &       3 &           5 &       (1, 16, 32, 4) &      opt8 &         0.0100 &       0.500000 &  115.44 &  135706 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_2083466/2631876994.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(bcic2akfold6.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10).to_latex())

In [74]:
bcic2akfold6mean = read_grid_search("results_v3/bcic2a_6_DFT_4_Mean_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2akfold6mean.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
43,DFT,500,10,Mean,"(0.2, 0.2)",1.0,0.100,0.5,5,0,3,4,"(1, 16, 32, 4)",opt4,0.0001,0.508333,112.40,171236
33,DFT,500,10,Mean,"(0.3, 0.15)",2.0,0.010,0.0,5,0,3,4,"(1, 16, 16, 4)",opt4,0.0001,0.483333,114.82,170900
22,DFT,500,10,Mean,"(0.5, 0.5)",1.0,0.100,0.0,5,0,3,3,"(1, 8, 16, 4)",opt3,0.0010,0.466667,114.77,123772
102,DFT,500,10,Mean,"(0.3, 0.15)",2.0,0.010,0.0,5,0,1,5,"(1, 16, 32, 4)",opt1,0.0100,0.466667,111.24,47442
66,DFT,500,10,Mean,"(0.6, 0.2)",2.0,0.001,0.0,5,0,2,5,"(1, 16, 16, 4)",opt8,0.0001,0.462500,111.81,93482
76,DFT,500,10,Mean,"(0.6, 0.2)",0.0,0.010,0.0,5,0,2,2,"(1, 16, 16, 4)",opt5,0.0040,0.458333,116.33,233732
108,DFT,500,10,Mean,"(0.3, 0.5)",2.0,0.010,0.0,5,0,3,2,"(1, 16, 16, 4)",opt3,0.0010,0.458333,112.32,347428
68,DFT,500,10,Mean,"(0.6, 0.2)",0.0,0.010,0.0,5,0,2,1,"(1, 16, 32, 4)",opt4,0.0040,0.458333,113.14,467818
81,DFT,500,10,Mean,"(0.5, 0.5)",1.0,0.010,0.5,5,0,2,3,"(1, 16, 16, 4)",opt5,0.0010,0.454167,118.14,155940
57,DFT,500,10,Mean,"(0.3, 0.5)",2.0,0.100,0.5,5,0,2,5,"(1, 8, 16, 4)",opt4,0.0001,0.445833,111.87,49522

In [75]:
bcic2akfold6max = read_grid_search("results_v3/bcic2a_6_DFT_4_Max_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2akfold6max.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
88,DFT,500,10,Max,"(0.2, 0.2)",2.0,0.010,0.0,5,0,3,5,"(1, 16, 32, 4)",opt8,0.0001,0.500000,115.88,135706
5,DFT,500,10,Max,"(0.2, 0.2)",2.0,0.010,0.0,5,0,3,4,"(1, 16, 32, 4)",opt7,0.0001,0.495833,114.16,171236
100,DFT,500,10,Max,"(0.3, 0.15)",0.0,0.001,0.0,5,0,3,5,"(1, 16, 16, 4)",opt4,0.0001,0.491667,112.52,135370
3,DFT,500,10,Max,"(0.5, 0.5)",2.0,0.010,0.0,5,0,3,1,"(1, 16, 16, 4)",opt7,0.0001,0.479167,114.02,700858
76,DFT,500,10,Max,"(0.3, 0.15)",0.0,0.001,0.0,5,0,2,4,"(1, 16, 32, 4)",opt4,0.0010,0.475000,115.31,117380
29,DFT,500,10,Max,"(0.3, 0.5)",2.0,0.100,0.0,5,0,1,4,"(1, 16, 32, 4)",opt1,0.0040,0.470833,111.74,59036
94,DFT,500,10,Max,"(0.6, 0.2)",1.0,0.001,0.5,5,0,2,1,"(1, 8, 16, 4)",opt8,0.0001,0.470833,111.19,247522
64,DFT,500,10,Max,"(0.3, 0.5)",1.0,0.001,0.0,5,0,2,5,"(1, 16, 16, 4)",opt8,0.0010,0.466667,109.69,93482
27,DFT,500,10,Max,"(0.2, 0.2)",2.0,0.100,0.5,5,0,3,4,"(1, 8, 16, 4)",opt5,0.0001,0.458333,114.56,90508
41,DFT,500,10,Max,"(0.6, 0.2)",1.0,0.010,0.0,5,0,1,3,"(1, 16, 16, 4)",opt8,0.0010,0.454167,110.21,78148

#### K-Fold DHT (1 subject)

##### Subject 1

In [76]:
bcic2adhtkfold1 = read_grid_search("results_v3/bcic2a_1_DHT_4_Sum_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2adhtkfold1.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
1513,DHT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.5,5,0,2,3,"(1, 16, 16, 4)",opt5,0.0100,0.729167,118.26,155940
2326,DHT,500,10,Sum,"(0.3, 0.5)",0.0,0.010,0.5,5,0,3,3,"(1, 16, 32, 4)",opt3,0.0040,0.720833,115.41,234068
1605,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.010,0.0,5,0,3,3,"(1, 16, 32, 4)",opt7,0.0040,0.716667,118.15,234068
86,DHT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.5,5,0,2,3,"(1, 16, 32, 4)",opt5,0.0040,0.716667,118.10,156276
349,DHT,500,10,Sum,"(0.3, 0.15)",0.0,0.010,0.0,5,0,3,3,"(1, 16, 32, 4)",opt7,0.0040,0.716667,115.68,234068
937,DHT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.0,5,0,3,3,"(1, 16, 16, 4)",opt3,0.0040,0.716667,115.23,233732
684,DHT,500,10,Sum,"(0.3, 0.15)",0.0,0.001,0.5,5,0,2,3,"(1, 16, 16, 4)",opt5,0.0040,0.716667,118.65,155940
1461,DHT,500,10,Sum,"(0.3, 0.15)",0.0,0.001,0.5,5,0,3,3,"(1, 4, 8, 4)",opt4,0.0001,0.712500,116.28,68720
2484,DHT,500,10,Sum,"(0.2, 0.2)",2.0,0.100,0.0,5,0,3,3,"(1, 16, 16, 4)",opt5,0.0001,0.712500,119.69,233732
2714,DHT,500,10,Sum,"(0.3, 0.15)",0.0,0.010,0.0,5,0,3,2,"(1, 16, 32, 4)",opt7,0.0040,0.712500,114.21,347764

In [77]:
bcic2adhtkfold1.shape[0]

2794

In [78]:
print(bcic2adhtkfold1.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(3).to_latex())

\begin{tabular}{llrrllrrrrrrrllrrrr}
\toprule
{} & Function &  Epochs &  Batch\_Size & Pooling &     Dropout &  FreqMean &  FreqStd &  Time\_Off &  Window &  Overlap &  Levels &  Band\_Width & Neuron\_Configuration & Optimizer &  Learning\_Rate &  Mean\_Accuracy &    Time &  Params \\
\midrule
1513 &      DHT &     500 &          10 &     Sum &  (0.6, 0.2) &       0.0 &    0.001 &       0.5 &       5 &        0 &       2 &           3 &       (1, 16, 16, 4) &      opt5 &          0.010 &       0.729167 &  118.26 &  155940 \\
2326 &      DHT &     500 &          10 &     Sum &  (0.3, 0.5) &       0.0 &    0.010 &       0.5 &       5 &        0 &       3 &           3 &       (1, 16, 32, 4) &      opt3 &          0.004 &       0.720833 &  115.41 &  234068 \\
86   &      DHT &     500 &          10 &     Sum &  (0.6, 0.2) &       0.0 &    0.001 &       0.5 &       5 &        0 &       2 &           3 &       (1, 16, 32, 4) &      opt5 &          0.004 &       0.716667 &  118.10 &  156276 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_2083466/92403650.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(bcic2adhtkfold1.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(3).to_latex())

In [79]:
bcic2adhtkfold1mean = read_grid_search("results_v3/bcic2a_1_DHT_4_Mean_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2adhtkfold1mean.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(3)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
60,DHT,500,10,Mean,"(0.3, 0.15)",0.0,0.010,0.0,5,0,1,3,"(1, 16, 32, 4)",opt4,0.004,0.687500,111.93,78484
21,DHT,500,10,Mean,"(0.2, 0.2)",0.0,0.001,0.0,5,0,2,1,"(1, 16, 32, 4)",opt3,0.004,0.683333,113.84,467818
27,DHT,500,10,Mean,"(0.3, 0.5)",0.0,0.001,0.5,5,0,3,5,"(1, 16, 16, 4)",opt4,0.004,0.679167,112.56,135370

In [80]:
bcic2adhtkfold1mean.shape[0]

108

In [81]:
bcic2adhtkfold1max = read_grid_search("results_v3/bcic2a_1_DHT_4_Max_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2adhtkfold1max.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(3)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
46,DHT,500,10,Max,"(0.2, 0.2)",0.0,0.010,0.0,5,0,3,3,"(1, 16, 16, 4)",opt5,0.0040,0.704167,114.87,233732
5,DHT,500,10,Max,"(0.6, 0.2)",0.0,0.010,0.0,5,0,3,2,"(1, 4, 8, 4)",opt5,0.0001,0.691667,114.72,102160
22,DHT,500,10,Max,"(0.3, 0.15)",0.0,0.001,0.0,5,0,3,4,"(1, 8, 16, 4)",opt5,0.0010,0.675000,114.40,90508

In [82]:
bcic2adhtkfold1max.shape[0]

126

##### Subject 2

In [83]:
bcic2adhtkfold2 = read_grid_search("results_v3/bcic2a_2_DHT_4_Sum_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2adhtkfold2.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
1325,DHT,500,10,Sum,"(0.5, 0.5)",0.0,0.100,0.0,5,0,2,3,"(1, 16, 32, 4)",opt3,0.0010,0.595833,118.12,156276
203,DHT,500,10,Sum,"(0.3, 0.15)",0.0,0.010,0.0,5,0,3,2,"(1, 16, 32, 4)",opt7,0.0040,0.583333,117.11,347764
319,DHT,500,10,Sum,"(0.3, 0.5)",0.0,0.010,0.5,5,0,3,3,"(1, 16, 32, 4)",opt3,0.0040,0.575000,113.88,234068
2049,DHT,500,10,Sum,"(0.6, 0.2)",0.0,0.010,0.0,5,0,3,3,"(1, 8, 16, 4)",opt8,0.0040,0.575000,113.53,123772
1208,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.001,0.0,5,0,3,3,"(1, 16, 32, 4)",opt8,0.0100,0.570833,112.94,234068
1755,DHT,500,10,Sum,"(0.3, 0.5)",0.0,0.001,0.5,5,0,2,3,"(1, 16, 32, 4)",opt5,0.0010,0.566667,114.50,156276
2430,DHT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.0,5,0,2,3,"(1, 16, 32, 4)",opt8,0.0100,0.562500,113.41,156276
1578,DHT,500,10,Sum,"(0.3, 0.15)",0.0,0.100,0.5,5,0,3,3,"(1, 16, 32, 4)",opt4,0.0010,0.562500,114.55,234068
1899,DHT,500,10,Sum,"(0.3, 0.15)",0.0,0.001,0.5,5,0,2,3,"(1, 16, 16, 4)",opt5,0.0040,0.562500,117.18,155940
1750,DHT,500,10,Sum,"(0.6, 0.2)",1.0,0.100,0.5,5,0,3,4,"(1, 16, 32, 4)",opt7,0.0001,0.562500,115.32,171236

In [84]:
bcic2adhtkfold2.shape[0]

2794

In [85]:
print(bcic2adhtkfold2.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(3).to_latex())

\begin{tabular}{llrrllrrrrrrrllrrrr}
\toprule
{} & Function &  Epochs &  Batch\_Size & Pooling &      Dropout &  FreqMean &  FreqStd &  Time\_Off &  Window &  Overlap &  Levels &  Band\_Width & Neuron\_Configuration & Optimizer &  Learning\_Rate &  Mean\_Accuracy &    Time &  Params \\
\midrule
1325 &      DHT &     500 &          10 &     Sum &   (0.5, 0.5) &       0.0 &     0.10 &       0.0 &       5 &        0 &       2 &           3 &       (1, 16, 32, 4) &      opt3 &          0.001 &       0.595833 &  118.12 &  156276 \\
203  &      DHT &     500 &          10 &     Sum &  (0.3, 0.15) &       0.0 &     0.01 &       0.0 &       5 &        0 &       3 &           2 &       (1, 16, 32, 4) &      opt7 &          0.004 &       0.583333 &  117.11 &  347764 \\
2049 &      DHT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &     0.01 &       0.0 &       5 &        0 &       3 &           3 &        (1, 8, 16, 4) &      opt8 &          0.004 &       0.575000 &  113.53 &  123772 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_2083466/947606979.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(bcic2adhtkfold2.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(3).to_latex())

In [86]:
bcic2adhtkfold2mean = read_grid_search("results_v3/bcic2a_2_DHT_4_Mean_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2adhtkfold2mean.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
4,DHT,500,10,Mean,"(0.3, 0.15)",2.0,0.100,0.5,5,0,2,3,"(1, 16, 16, 4)",opt7,0.0001,0.545833,113.15,155940
98,DHT,500,10,Mean,"(0.3, 0.15)",0.0,0.100,0.0,5,0,2,3,"(1, 16, 16, 4)",opt4,0.0040,0.529167,115.01,155940
44,DHT,500,10,Mean,"(0.3, 0.5)",1.0,0.001,0.5,5,0,2,2,"(1, 16, 32, 4)",opt1,0.0100,0.516667,112.39,234068
11,DHT,500,10,Mean,"(0.2, 0.2)",0.0,0.010,0.5,5,0,3,3,"(1, 4, 4, 4)",opt8,0.0100,0.512500,110.28,68684
55,DHT,500,10,Mean,"(0.3, 0.15)",0.0,0.010,0.0,5,0,1,3,"(1, 16, 32, 4)",opt4,0.0040,0.508333,111.72,78484
32,DHT,500,10,Mean,"(0.3, 0.5)",0.0,0.001,0.5,5,0,3,5,"(1, 16, 16, 4)",opt4,0.0040,0.504167,112.12,135370
60,DHT,500,10,Mean,"(0.3, 0.5)",1.0,0.001,0.0,5,0,1,2,"(1, 16, 32, 4)",opt8,0.0040,0.500000,112.78,117380
7,DHT,500,10,Mean,"(0.2, 0.2)",1.0,0.010,0.0,5,0,2,3,"(1, 16, 16, 4)",opt8,0.0010,0.500000,115.26,155940
33,DHT,500,10,Mean,"(0.3, 0.15)",1.0,0.100,0.5,5,0,3,4,"(1, 16, 16, 4)",opt1,0.0100,0.500000,113.08,170900
64,DHT,500,10,Mean,"(0.2, 0.2)",2.0,0.010,0.0,5,0,3,2,"(1, 8, 16, 4)",opt4,0.0040,0.500000,116.37,183964

In [87]:
bcic2adhtkfold2max = read_grid_search("results_v3/bcic2a_2_DHT_4_Max_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2adhtkfold2max.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
48,DHT,500,10,Max,"(0.3, 0.5)",0.0,0.100,0.5,5,0,3,4,"(1, 16, 16, 4)",opt5,0.0001,0.508333,117.12,170900
102,DHT,500,10,Max,"(0.2, 0.2)",0.0,0.010,0.0,5,0,3,3,"(1, 16, 16, 4)",opt5,0.0040,0.508333,115.94,233732
11,DHT,500,10,Max,"(0.6, 0.2)",1.0,0.010,0.5,5,0,2,5,"(1, 16, 32, 4)",opt8,0.0010,0.504167,110.05,93818
107,DHT,500,10,Max,"(0.3, 0.5)",2.0,0.010,0.0,5,0,3,3,"(1, 4, 8, 4)",opt3,0.0100,0.495833,113.37,68720
20,DHT,500,10,Max,"(0.3, 0.5)",2.0,0.100,0.5,5,0,2,4,"(1, 16, 16, 4)",opt5,0.0001,0.487500,114.39,117044
94,DHT,500,10,Max,"(0.2, 0.2)",1.0,0.010,0.5,5,0,2,3,"(1, 16, 32, 4)",opt1,0.0040,0.483333,112.93,156276
97,DHT,500,10,Max,"(0.3, 0.5)",1.0,0.010,0.0,5,0,3,5,"(1, 16, 16, 4)",opt3,0.0010,0.479167,111.92,135370
85,DHT,500,10,Max,"(0.3, 0.5)",2.0,0.001,0.0,5,0,3,5,"(1, 16, 32, 4)",opt1,0.0040,0.479167,112.04,135706
116,DHT,500,10,Max,"(0.3, 0.15)",0.0,0.100,0.0,5,0,2,3,"(1, 8, 16, 4)",opt4,0.0001,0.475000,114.20,82588
27,DHT,500,10,Max,"(0.2, 0.2)",1.0,0.010,0.5,5,0,3,2,"(1, 16, 32, 4)",opt3,0.0001,0.475000,111.91,347764

##### Subject 3

In [88]:
bcic2adhtkfold3 = read_grid_search("results_v3/bcic2a_3_DHT_4_Sum_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2adhtkfold3.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
70,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.010,0.0,5,0,2,3,"(1, 16, 16, 4)",opt3,0.0010,0.754167,114.27,155940
704,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.010,0.5,5,0,2,3,"(1, 16, 16, 4)",opt3,0.0010,0.754167,115.72,155940
1709,DHT,500,10,Sum,"(0.3, 0.5)",1.0,0.010,0.5,5,0,2,3,"(1, 16, 16, 4)",opt7,0.0001,0.754167,116.53,155940
1724,DHT,500,10,Sum,"(0.6, 0.2)",1.0,0.100,0.0,5,0,2,5,"(1, 16, 16, 4)",opt8,0.0010,0.754167,111.37,93482
55,DHT,500,10,Sum,"(0.6, 0.2)",2.0,0.100,0.5,5,0,3,3,"(1, 16, 32, 4)",opt8,0.0010,0.754167,113.55,234068
2734,DHT,500,10,Sum,"(0.2, 0.2)",2.0,0.010,0.5,5,0,3,3,"(1, 16, 32, 4)",opt8,0.0010,0.750000,112.07,234068
2510,DHT,500,10,Sum,"(0.3, 0.15)",0.0,0.001,0.5,5,0,3,4,"(1, 4, 8, 4)",opt4,0.0010,0.745833,115.49,50240
2264,DHT,500,10,Sum,"(0.5, 0.5)",0.0,0.001,0.0,5,0,3,4,"(1, 4, 8, 4)",opt7,0.0010,0.745833,114.65,50240
2358,DHT,500,10,Sum,"(0.5, 0.5)",1.0,0.001,0.0,5,0,2,3,"(1, 16, 32, 4)",opt7,0.0001,0.745833,118.65,156276
1061,DHT,500,10,Sum,"(0.3, 0.5)",2.0,0.001,0.5,5,0,3,5,"(1, 8, 16, 4)",opt1,0.0100,0.741667,112.45,71698

In [89]:
bcic2adhtkfold3.shape[0]

2794

In [90]:
print(bcic2adhtkfold3.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(3).to_latex())

\begin{tabular}{llrrllrrrrrrrllrrrr}
\toprule
{} & Function &  Epochs &  Batch\_Size & Pooling &     Dropout &  FreqMean &  FreqStd &  Time\_Off &  Window &  Overlap &  Levels &  Band\_Width & Neuron\_Configuration & Optimizer &  Learning\_Rate &  Mean\_Accuracy &    Time &  Params \\
\midrule
1724 &      DHT &     500 &          10 &     Sum &  (0.6, 0.2) &       1.0 &     0.10 &       0.0 &       5 &        0 &       2 &           5 &       (1, 16, 16, 4) &      opt8 &          0.001 &       0.754167 &  111.37 &   93482 \\
70   &      DHT &     500 &          10 &     Sum &  (0.2, 0.2) &       0.0 &     0.01 &       0.0 &       5 &        0 &       2 &           3 &       (1, 16, 16, 4) &      opt3 &          0.001 &       0.754167 &  114.27 &  155940 \\
704  &      DHT &     500 &          10 &     Sum &  (0.2, 0.2) &       0.0 &     0.01 &       0.5 &       5 &        0 &       2 &           3 &       (1, 16, 16, 4) &      opt3 &          0.001 &       0.754167 &  115.72 &  155940 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_2083466/360852599.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(bcic2adhtkfold3.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(3).to_latex())

In [91]:
bcic2adhtkfold3mean = read_grid_search("results_v3/bcic2a_3_DHT_4_Mean_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2adhtkfold3mean.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(3)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
63,DHT,500,10,Mean,"(0.2, 0.2)",1.0,0.010,0.5,5,0,2,5,"(1, 16, 16, 4)",opt8,0.0010,0.750000,110.36,93482
59,DHT,500,10,Mean,"(0.3, 0.5)",0.0,0.001,0.5,5,0,3,5,"(1, 16, 16, 4)",opt4,0.0040,0.741667,114.23,135370
10,DHT,500,10,Mean,"(0.3, 0.15)",2.0,0.100,0.5,5,0,2,3,"(1, 16, 16, 4)",opt7,0.0001,0.741667,113.99,155940

In [92]:
bcic2adhtkfold3max = read_grid_search("results_v3/bcic2a_3_DHT_4_Max_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2adhtkfold3max.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(3)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
109,DHT,500,10,Max,"(0.2, 0.2)",0.0,0.010,0.0,5,0,3,3,"(1, 16, 16, 4)",opt5,0.0040,0.775000,115.19,233732
117,DHT,500,10,Max,"(0.3, 0.15)",0.0,0.001,0.0,5,0,3,4,"(1, 8, 16, 4)",opt5,0.0010,0.712500,115.39,90508
35,DHT,500,10,Max,"(0.3, 0.5)",2.0,0.100,0.5,5,0,2,4,"(1, 16, 16, 4)",opt5,0.0001,0.708333,116.65,117044

##### Subject 4

In [93]:
bcic2adhtkfold4 = read_grid_search("results_v3/bcic2a_4_DHT_4_Sum_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2adhtkfold4.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
2279,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.010,0.0,5,0,2,5,"(1, 16, 32, 4)",opt7,0.0010,0.541667,118.33,93818
2342,DHT,500,10,Sum,"(0.3, 0.5)",0.0,0.010,0.0,5,0,3,5,"(1, 16, 32, 4)",opt4,0.0001,0.529167,117.05,135706
1122,DHT,500,10,Sum,"(0.5, 0.5)",0.0,0.010,0.0,5,0,3,4,"(1, 16, 32, 4)",opt7,0.0010,0.529167,116.08,171236
738,DHT,500,10,Sum,"(0.3, 0.15)",2.0,0.100,0.0,5,0,3,3,"(1, 16, 32, 4)",opt7,0.0001,0.529167,117.57,234068
2218,DHT,500,10,Sum,"(0.6, 0.2)",0.0,0.010,0.0,5,0,3,5,"(1, 16, 32, 4)",opt4,0.0001,0.529167,117.25,135706
856,DHT,500,10,Sum,"(0.3, 0.15)",2.0,0.001,0.0,5,0,3,4,"(1, 16, 32, 4)",opt5,0.0001,0.525000,115.89,171236
2732,DHT,500,10,Sum,"(0.3, 0.5)",1.0,0.001,0.5,5,0,3,3,"(1, 16, 32, 4)",opt7,0.0001,0.525000,117.55,234068
657,DHT,500,10,Sum,"(0.3, 0.5)",0.0,0.001,0.5,5,0,2,3,"(1, 16, 32, 4)",opt5,0.0010,0.525000,115.32,156276
1006,DHT,500,10,Sum,"(0.3, 0.15)",2.0,0.100,0.5,5,0,3,5,"(1, 16, 32, 4)",opt4,0.0001,0.520833,120.46,135706
922,DHT,500,10,Sum,"(0.3, 0.15)",0.0,0.010,0.5,5,0,3,2,"(1, 16, 32, 4)",opt3,0.0010,0.520833,119.41,347764

In [94]:
bcic2adhtkfold4.shape[0]

2794

In [95]:
print(bcic2adhtkfold4.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(3).to_latex())

\begin{tabular}{llrrllrrrrrrrllrrrr}
\toprule
{} & Function &  Epochs &  Batch\_Size & Pooling &     Dropout &  FreqMean &  FreqStd &  Time\_Off &  Window &  Overlap &  Levels &  Band\_Width & Neuron\_Configuration & Optimizer &  Learning\_Rate &  Mean\_Accuracy &    Time &  Params \\
\midrule
2279 &      DHT &     500 &          10 &     Sum &  (0.2, 0.2) &       0.0 &     0.01 &       0.0 &       5 &        0 &       2 &           5 &       (1, 16, 32, 4) &      opt7 &         0.0010 &       0.541667 &  118.33 &   93818 \\
2218 &      DHT &     500 &          10 &     Sum &  (0.6, 0.2) &       0.0 &     0.01 &       0.0 &       5 &        0 &       3 &           5 &       (1, 16, 32, 4) &      opt4 &         0.0001 &       0.529167 &  117.25 &  135706 \\
2342 &      DHT &     500 &          10 &     Sum &  (0.3, 0.5) &       0.0 &     0.01 &       0.0 &       5 &        0 &       3 &           5 &       (1, 16, 32, 4) &      opt4 &         0.0001 &       0.529167 &  117.05 &  135706 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_2083466/1235393537.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(bcic2adhtkfold4.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(3).to_latex())

In [96]:
bcic2adhtkfold4mean = read_grid_search("results_v3/bcic2a_4_DHT_4_Mean_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2adhtkfold4mean.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(3)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
82,DHT,500,10,Mean,"(0.3, 0.15)",2.0,0.100,0.5,5,0,2,3,"(1, 16, 16, 4)",opt7,0.0001,0.520833,115.14,155940
61,DHT,500,10,Mean,"(0.5, 0.5)",2.0,0.001,0.5,5,0,3,2,"(1, 16, 32, 4)",opt7,0.0010,0.491667,113.41,347764
72,DHT,500,10,Mean,"(0.2, 0.2)",1.0,0.010,0.5,5,0,2,5,"(1, 16, 16, 4)",opt8,0.0010,0.470833,111.44,93482

In [97]:
bcic2adhtkfold4max = read_grid_search("results_v3/bcic2a_4_DHT_4_Max_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2adhtkfold4max.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(3)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
44,DHT,500,10,Max,"(0.3, 0.5)",1.0,0.01,0.0,5,0,3,5,"(1, 16, 16, 4)",opt3,0.001,0.475000,110.97,135370
13,DHT,500,10,Max,"(0.6, 0.2)",1.0,0.01,0.5,5,0,2,5,"(1, 16, 32, 4)",opt8,0.001,0.462500,109.43,93818
20,DHT,500,10,Max,"(0.2, 0.2)",0.0,0.01,0.0,5,0,3,3,"(1, 16, 16, 4)",opt5,0.004,0.458333,117.38,233732

##### Subject 5

In [98]:
bcic2adhtkfold5 = read_grid_search("results_v3/bcic2a_5_DHT_4_Sum_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2adhtkfold5.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
65,DHT,500,10,Sum,"(0.6, 0.2)",0.0,0.010,0.5,5,0,3,4,"(1, 16, 16, 4)",opt7,0.0040,0.629167,115.19,170900
2168,DHT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.0,5,0,3,4,"(1, 16, 16, 4)",opt5,0.0040,0.629167,119.19,170900
2485,DHT,500,10,Sum,"(0.6, 0.2)",0.0,0.100,0.5,5,0,3,4,"(1, 16, 32, 4)",opt4,0.0001,0.604167,113.40,171236
1004,DHT,500,10,Sum,"(0.5, 0.5)",0.0,0.010,0.0,5,0,3,4,"(1, 16, 32, 4)",opt3,0.0010,0.604167,117.10,171236
478,DHT,500,10,Sum,"(0.6, 0.2)",0.0,0.100,0.0,5,0,3,4,"(1, 16, 16, 4)",opt7,0.0001,0.595833,118.73,170900
842,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.001,0.5,5,0,3,5,"(1, 16, 32, 4)",opt7,0.0010,0.595833,117.03,135706
2691,DHT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.0,5,0,3,1,"(1, 16, 16, 4)",opt5,0.0001,0.591667,115.83,700858
2567,DHT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.5,5,0,3,1,"(1, 16, 32, 4)",opt3,0.0010,0.587500,115.92,701194
1338,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.010,0.0,5,0,3,3,"(1, 16, 32, 4)",opt7,0.0040,0.587500,117.53,234068
2510,DHT,500,10,Sum,"(0.3, 0.15)",0.0,0.010,0.0,5,0,3,3,"(1, 16, 32, 4)",opt7,0.0040,0.587500,113.65,234068

In [99]:
bcic2adhtkfold5.shape[0]

2794

In [100]:
print(bcic2adhtkfold5.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10).to_latex())

\begin{tabular}{llrrllrrrrrrrllrrrr}
\toprule
{} & Function &  Epochs &  Batch\_Size & Pooling &      Dropout &  FreqMean &  FreqStd &  Time\_Off &  Window &  Overlap &  Levels &  Band\_Width & Neuron\_Configuration & Optimizer &  Learning\_Rate &  Mean\_Accuracy &    Time &  Params \\
\midrule
65   &      DHT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &    0.010 &       0.5 &       5 &        0 &       3 &           4 &       (1, 16, 16, 4) &      opt7 &         0.0040 &       0.629167 &  115.19 &  170900 \\
2168 &      DHT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &    0.001 &       0.0 &       5 &        0 &       3 &           4 &       (1, 16, 16, 4) &      opt5 &         0.0040 &       0.629167 &  119.19 &  170900 \\
1004 &      DHT &     500 &          10 &     Sum &   (0.5, 0.5) &       0.0 &    0.010 &       0.0 &       5 &        0 &       3 &           4 &       (1, 16, 32, 4) &      opt3 &         0.0010 &       0.604167 &  117.10 &  171236 \\
2485 &      DHT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &    0.100 &       0.5 &       5 &        0 &       3 &           4 &       (1, 16, 32, 4) &      opt4 &         0.0001 &       0.604167 &  113.40 &  171236 \\
478  &      DHT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &    0.100 &       0.0 &       5 &        0 &       3 &           4 &       (1, 16, 16, 4) &      opt7 &         0.0001 &       0.595833 &  118.73 &  170900 \\
842  &      DHT &     500 &          10 &     Sum &   (0.2, 0.2) &       0.0 &    0.001 &       0.5 &       5 &        0 &       3 &           5 &       (1, 16, 32, 4) &      opt7 &         0.0010 &       0.595833 &  117.03 &  135706 \\
2691 &      DHT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &    0.001 &       0.0 &       5 &        0 &       3 &           1 &       (1, 16, 16, 4) &      opt5 &         0.0001 &       0.591667 &  115.83 &  700858 \\
1338 &      DHT &     500 &          10 &     Sum &   (0.2, 0.2) &       0.0 &    0.010 &       0.0 &       5 &        0 &       3 &           3 &       (1, 16, 32, 4) &      opt7 &         0.0040 &       0.587500 &  117.53 &  234068 \\
2510 &      DHT &     500 &          10 &     Sum &  (0.3, 0.15) &       0.0 &    0.010 &       0.0 &       5 &        0 &       3 &           3 &       (1, 16, 32, 4) &      opt7 &         0.0040 &       0.587500 &  113.65 &  234068 \\
2567 &      DHT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &    0.001 &       0.5 &       5 &        0 &       3 &           1 &       (1, 16, 32, 4) &      opt3 &         0.0010 &       0.587500 &  115.92 &  701194 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_2083466/236748222.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(bcic2adhtkfold5.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10).to_latex())

In [101]:
bcic2adhtkfold5mean = read_grid_search("results_v3/bcic2a_5_DHT_4_Mean_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2adhtkfold5mean.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
47,DHT,500,10,Mean,"(0.3, 0.5)",0.0,0.001,0.5,5,0,3,5,"(1, 16, 16, 4)",opt4,0.0040,0.583333,112.20,135370
8,DHT,500,10,Mean,"(0.5, 0.5)",1.0,0.100,0.0,5,0,2,1,"(1, 16, 16, 4)",opt8,0.0010,0.570833,110.52,467482
99,DHT,500,10,Mean,"(0.2, 0.2)",1.0,0.010,0.5,5,0,2,5,"(1, 16, 16, 4)",opt8,0.0010,0.566667,112.90,93482
93,DHT,500,10,Mean,"(0.3, 0.15)",2.0,0.100,0.5,5,0,2,3,"(1, 16, 16, 4)",opt7,0.0001,0.554167,113.66,155940
76,DHT,500,10,Mean,"(0.2, 0.2)",0.0,0.001,0.0,5,0,2,1,"(1, 16, 32, 4)",opt3,0.0040,0.550000,115.50,467818
105,DHT,500,10,Mean,"(0.3, 0.15)",1.0,0.100,0.5,5,0,3,1,"(1, 16, 16, 4)",opt3,0.0001,0.541667,118.56,700858
69,DHT,500,10,Mean,"(0.2, 0.2)",2.0,0.100,0.0,5,0,3,1,"(1, 8, 16, 4)",opt7,0.0001,0.512500,116.94,371074
46,DHT,500,10,Mean,"(0.3, 0.15)",0.0,0.010,0.0,5,0,1,3,"(1, 16, 32, 4)",opt4,0.0040,0.508333,112.95,78484
52,DHT,500,10,Mean,"(0.2, 0.2)",1.0,0.100,0.0,5,0,1,4,"(1, 16, 32, 4)",opt4,0.0001,0.508333,111.61,59036
62,DHT,500,10,Mean,"(0.3, 0.5)",1.0,0.001,0.5,5,0,2,2,"(1, 16, 32, 4)",opt1,0.0100,0.504167,115.02,234068

In [102]:
bcic2adhtkfold5max = read_grid_search("results_v3/bcic2a_5_DHT_4_Max_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2adhtkfold5max.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
12,DHT,500,10,Max,"(0.6, 0.2)",1.0,0.001,0.0,5,0,2,3,"(1, 16, 32, 4)",opt7,0.0001,0.500000,112.86,156276
10,DHT,500,10,Max,"(0.5, 0.5)",2.0,0.100,0.5,5,0,2,1,"(1, 16, 32, 4)",opt1,0.0040,0.500000,114.42,467818
121,DHT,500,10,Max,"(0.3, 0.5)",0.0,0.100,0.5,5,0,3,4,"(1, 16, 16, 4)",opt5,0.0001,0.495833,114.84,170900
120,DHT,500,10,Max,"(0.3, 0.5)",1.0,0.010,0.0,5,0,3,5,"(1, 16, 16, 4)",opt3,0.0010,0.495833,111.29,135370
84,DHT,500,10,Max,"(0.3, 0.5)",0.0,0.010,0.0,5,0,1,1,"(1, 16, 32, 4)",opt3,0.0040,0.495833,112.58,234442
72,DHT,500,10,Max,"(0.3, 0.5)",2.0,0.010,0.0,5,0,3,1,"(1, 16, 32, 4)",opt4,0.0001,0.495833,114.42,701194
71,DHT,500,10,Max,"(0.3, 0.5)",0.0,0.001,0.5,5,0,2,3,"(1, 4, 8, 4)",opt3,0.0040,0.483333,112.77,45840
92,DHT,500,10,Max,"(0.2, 0.2)",0.0,0.010,0.0,5,0,3,3,"(1, 16, 16, 4)",opt5,0.0040,0.479167,119.35,233732
66,DHT,500,10,Max,"(0.3, 0.5)",2.0,0.100,0.5,5,0,2,4,"(1, 16, 16, 4)",opt5,0.0001,0.466667,116.08,117044
67,DHT,500,10,Max,"(0.3, 0.15)",1.0,0.001,0.0,5,0,2,3,"(1, 16, 16, 4)",opt3,0.0040,0.466667,113.13,155940

##### Subject 6

In [103]:
bcic2adhtkfold6 = read_grid_search("results_v3/bcic2a_6_DHT_4_Sum_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2adhtkfold6.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
1559,DHT,500,10,Sum,"(0.6, 0.2)",2.0,0.010,0.0,5,0,3,3,"(1, 16, 32, 4)",opt7,0.0001,0.520833,115.61,234068
710,DHT,500,10,Sum,"(0.6, 0.2)",2.0,0.100,0.5,5,0,3,3,"(1, 16, 32, 4)",opt8,0.0010,0.508333,114.11,234068
1545,DHT,500,10,Sum,"(0.3, 0.15)",2.0,0.100,0.0,5,0,3,3,"(1, 16, 32, 4)",opt7,0.0001,0.500000,116.20,234068
1547,DHT,500,10,Sum,"(0.6, 0.2)",2.0,0.001,0.0,5,0,3,4,"(1, 16, 16, 4)",opt4,0.0001,0.500000,116.10,170900
1765,DHT,500,10,Sum,"(0.6, 0.2)",1.0,0.100,0.5,5,0,3,3,"(1, 16, 16, 4)",opt8,0.0001,0.500000,114.35,233732
2150,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.001,0.5,5,0,3,4,"(1, 16, 32, 4)",opt5,0.0010,0.500000,119.25,171236
2009,DHT,500,10,Sum,"(0.3, 0.5)",2.0,0.100,0.5,5,0,3,3,"(1, 16, 16, 4)",opt8,0.0001,0.495833,112.89,233732
280,DHT,500,10,Sum,"(0.6, 0.2)",0.0,0.010,0.5,5,0,3,5,"(1, 16, 32, 4)",opt3,0.0040,0.495833,113.73,135706
2489,DHT,500,10,Sum,"(0.2, 0.2)",1.0,0.100,0.0,5,0,2,5,"(1, 8, 16, 4)",opt1,0.0100,0.491667,114.39,49522
2299,DHT,500,10,Sum,"(0.6, 0.2)",1.0,0.100,0.5,5,0,3,4,"(1, 16, 32, 4)",opt7,0.0001,0.491667,115.83,171236

In [104]:
bcic2adhtkfold6.shape[0]

2794

In [105]:
print(bcic2adhtkfold6.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10).to_latex())

\begin{tabular}{llrrllrrrrrrrllrrrr}
\toprule
{} & Function &  Epochs &  Batch\_Size & Pooling &      Dropout &  FreqMean &  FreqStd &  Time\_Off &  Window &  Overlap &  Levels &  Band\_Width & Neuron\_Configuration & Optimizer &  Learning\_Rate &  Mean\_Accuracy &    Time &  Params \\
\midrule
1559 &      DHT &     500 &          10 &     Sum &   (0.6, 0.2) &       2.0 &    0.010 &       0.0 &       5 &        0 &       3 &           3 &       (1, 16, 32, 4) &      opt7 &         0.0001 &       0.520833 &  115.61 &  234068 \\
710  &      DHT &     500 &          10 &     Sum &   (0.6, 0.2) &       2.0 &    0.100 &       0.5 &       5 &        0 &       3 &           3 &       (1, 16, 32, 4) &      opt8 &         0.0010 &       0.508333 &  114.11 &  234068 \\
1545 &      DHT &     500 &          10 &     Sum &  (0.3, 0.15) &       2.0 &    0.100 &       0.0 &       5 &        0 &       3 &           3 &       (1, 16, 32, 4) &      opt7 &         0.0001 &       0.500000 &  116.20 &  234068 \\
1547 &      DHT &     500 &          10 &     Sum &   (0.6, 0.2) &       2.0 &    0.001 &       0.0 &       5 &        0 &       3 &           4 &       (1, 16, 16, 4) &      opt4 &         0.0001 &       0.500000 &  116.10 &  170900 \\
2150 &      DHT &     500 &          10 &     Sum &   (0.2, 0.2) &       0.0 &    0.001 &       0.5 &       5 &        0 &       3 &           4 &       (1, 16, 32, 4) &      opt5 &         0.0010 &       0.500000 &  119.25 &  171236 \\
1765 &      DHT &     500 &          10 &     Sum &   (0.6, 0.2) &       1.0 &    0.100 &       0.5 &       5 &        0 &       3 &           3 &       (1, 16, 16, 4) &      opt8 &         0.0001 &       0.500000 &  114.35 &  233732 \\
2009 &      DHT &     500 &          10 &     Sum &   (0.3, 0.5) &       2.0 &    0.100 &       0.5 &       5 &        0 &       3 &           3 &       (1, 16, 16, 4) &      opt8 &         0.0001 &       0.495833 &  112.89 &  233732 \\
280  &      DHT &     500 &          10 &     Sum &   (0.6, 0.2) &       0.0 &    0.010 &       0.5 &       5 &        0 &       3 &           5 &       (1, 16, 32, 4) &      opt3 &         0.0040 &       0.495833 &  113.73 &  135706 \\
2489 &      DHT &     500 &          10 &     Sum &   (0.2, 0.2) &       1.0 &    0.100 &       0.0 &       5 &        0 &       2 &           5 &        (1, 8, 16, 4) &      opt1 &         0.0100 &       0.491667 &  114.39 &   49522 \\
162  &      DHT &     500 &          10 &     Sum &   (0.3, 0.5) &       0.0 &    0.010 &       0.5 &       5 &        0 &       3 &           5 &       (1, 16, 16, 4) &      opt7 &         0.0001 &       0.491667 &  115.07 &  135370 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_2083466/2837656034.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(bcic2adhtkfold6.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10).to_latex())

In [106]:
bcic2adhtkfold6mean = read_grid_search("results_v3/bcic2a_6_DHT_4_Mean_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2adhtkfold6mean.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
62,DHT,500,10,Mean,"(0.2, 0.2)",1.0,0.010,0.0,5,0,2,3,"(1, 16, 16, 4)",opt8,0.0010,0.495833,115.79,155940
47,DHT,500,10,Mean,"(0.3, 0.15)",1.0,0.100,0.5,5,0,3,4,"(1, 16, 16, 4)",opt1,0.0100,0.483333,111.62,170900
102,DHT,500,10,Mean,"(0.2, 0.2)",2.0,0.010,0.0,5,0,3,5,"(1, 16, 16, 4)",opt3,0.0001,0.475000,113.22,135370
20,DHT,500,10,Mean,"(0.3, 0.5)",0.0,0.001,0.5,5,0,3,5,"(1, 16, 16, 4)",opt4,0.0040,0.470833,112.52,135370
74,DHT,500,10,Mean,"(0.3, 0.15)",2.0,0.100,0.5,5,0,2,3,"(1, 16, 16, 4)",opt7,0.0001,0.470833,113.10,155940
107,DHT,500,10,Mean,"(0.2, 0.2)",1.0,0.010,0.5,5,0,2,5,"(1, 16, 16, 4)",opt8,0.0010,0.462500,111.43,93482
1,DHT,500,10,Mean,"(0.2, 0.2)",0.0,0.001,0.0,5,0,2,1,"(1, 16, 32, 4)",opt3,0.0040,0.454167,111.88,467818
92,DHT,500,10,Mean,"(0.2, 0.2)",0.0,0.100,0.5,5,0,3,5,"(1, 16, 16, 4)",opt7,0.0040,0.454167,112.82,135370
49,DHT,500,10,Mean,"(0.3, 0.15)",1.0,0.100,0.5,5,0,3,1,"(1, 16, 16, 4)",opt3,0.0001,0.445833,115.00,700858
85,DHT,500,10,Mean,"(0.3, 0.5)",1.0,0.001,0.5,5,0,2,2,"(1, 16, 32, 4)",opt1,0.0100,0.445833,111.89,234068

In [107]:
bcic2adhtkfold6max = read_grid_search("results_v3/bcic2a_6_DHT_4_Max_kfold_1") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
bcic2adhtkfold6max.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(10)

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
91,DHT,500,10,Max,"(0.3, 0.5)",2.0,0.001,0.0,5,0,3,5,"(1, 16, 32, 4)",opt1,0.0040,0.495833,111.81,135706
100,DHT,500,10,Max,"(0.3, 0.5)",2.0,0.010,0.0,5,0,3,1,"(1, 16, 32, 4)",opt4,0.0001,0.475000,114.88,701194
32,DHT,500,10,Max,"(0.6, 0.2)",1.0,0.010,0.5,5,0,2,5,"(1, 16, 32, 4)",opt8,0.0010,0.470833,111.44,93818
118,DHT,500,10,Max,"(0.2, 0.2)",1.0,0.010,0.5,5,0,3,2,"(1, 16, 32, 4)",opt3,0.0001,0.470833,113.25,347764
96,DHT,500,10,Max,"(0.6, 0.2)",2.0,0.100,0.0,5,0,3,5,"(1, 8, 16, 4)",opt1,0.0040,0.466667,111.22,71698
113,DHT,500,10,Max,"(0.2, 0.2)",1.0,0.010,0.5,5,0,2,3,"(1, 16, 32, 4)",opt1,0.0040,0.466667,112.02,156276
26,DHT,500,10,Max,"(0.2, 0.2)",2.0,0.100,0.0,5,0,3,3,"(1, 16, 16, 4)",opt3,0.0001,0.462500,112.64,233732
15,DHT,500,10,Max,"(0.3, 0.5)",1.0,0.010,0.0,5,0,3,5,"(1, 16, 16, 4)",opt3,0.0010,0.462500,111.78,135370
40,DHT,500,10,Max,"(0.6, 0.2)",0.0,0.100,0.0,5,0,2,4,"(1, 16, 16, 4)",opt7,0.0100,0.458333,112.28,117044
45,DHT,500,10,Max,"(0.3, 0.5)",0.0,0.100,0.5,5,0,3,4,"(1, 16, 16, 4)",opt5,0.0001,0.458333,115.69,170900

##### Final training with best config - not using yet

In [108]:
#### Classification using DHT and no validation set (training and evaluating on the test set)
bcic2a = read_grid_search("results/final_bcic2a_1_DHT_top10_4")
bcic2a.sort_values("Test_Accuracy",ascending=False).head(10)

FileNotFoundError: [Errno 2] No such file or directory: '/home/natalia/Git_Projects/PhD/experiments/results/final_bcic2a_1_DHT_top10_4'

In [ ]:
bcic2a = read_grid_search("results/final_bcic2a_9_DHT_top10_4")
bcic2a.sort_values("Test_Accuracy",ascending=False).head(10)

,Subject,Function,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Test_Accuracy
0,8,DHT,0.0,5,0,3,5,"[64, 64]",opt3,0.001,0.704861
6,3,DHT,0.0,5,0,3,5,"[64, 64]",opt3,0.001,0.697917
7,9,DHT,0.0,5,0,3,5,"[64, 64]",opt3,0.001,0.604167
2,1,DHT,0.0,5,0,3,5,"[64, 64]",opt3,0.001,0.600695
8,4,DHT,0.0,5,0,3,5,"[64, 64]",opt3,0.001,0.500000
3,2,DHT,0.0,5,0,3,5,"[64, 64]",opt3,0.001,0.489583
5,7,DHT,0.0,5,0,3,5,"[64, 64]",opt3,0.001,0.472222
1,6,DHT,0.0,5,0,3,5,"[64, 64]",opt3,0.001,0.385417
4,5,DHT,0.0,5,0,3,5,"[64, 64]",opt3,0.001,0.354167

In [ ]:
bcic2a = read_grid_search("results/final_bcic2a_1_DFT_top10_4")
bcic2a.sort_values("Test_Accuracy",ascending=False).head(10)

,Subject,Function,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Test_Accuracy
0,1,DFT,0.0,5,0,2,5,"[64, 64]",opt8,0.001,0.625

In [ ]:
bcic2a = read_grid_search("results/final_bcic2a_9_DFT_top10_4")
bcic2a.sort_values("Test_Accuracy",ascending=False).head(10)

,Subject,Function,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Test_Accuracy
5,8,DFT,0.0,5,0,2,5,"[64, 64]",opt8,0.001,0.697917
1,9,DFT,0.0,5,0,2,5,"[64, 64]",opt8,0.001,0.687500
3,3,DFT,0.0,5,0,2,5,"[64, 64]",opt8,0.001,0.687500
4,1,DFT,0.0,5,0,2,5,"[64, 64]",opt8,0.001,0.625000
7,4,DFT,0.0,5,0,2,5,"[64, 64]",opt8,0.001,0.527778
6,2,DFT,0.0,5,0,2,5,"[64, 64]",opt8,0.001,0.524306
8,7,DFT,0.0,5,0,2,5,"[64, 64]",opt8,0.001,0.468750
0,6,DFT,0.0,5,0,2,5,"[64, 64]",opt8,0.001,0.434028
2,5,DFT,0.0,5,0,2,5,"[64, 64]",opt8,0.001,0.420139

#### Comparing the pooling types

In [110]:
# Sujeito 1
# DFT
a1 = bcic2akfold1.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
a2 = bcic2akfold1mean.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
a3 = bcic2akfold1max.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
# DHT
a4 = bcic2adhtkfold1.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
a5 = bcic2adhtkfold1mean.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
a6 = bcic2adhtkfold1max.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
results_s1 = pd.concat((a1,a2,a3,a4,a5,a6))
print(results_s1.to_csv())

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
2541,DFT,500,10,Sum,"(0.5, 0.5)",0.0,0.01,0.0,5,0,3,1,"(1, 16, 32, 4)",opt5,0.004,0.74583334,114.18,701194
1,DFT,500,10,Mean,"(0.6, 0.2)",0.0,0.01,0.0,5,0,2,2,"(1, 16, 16, 4)",opt5,0.004,0.71666664,116.49,233732
85,DFT,500,10,Max,"(0.5, 0.5)",0.0,0.001,0.0,5,0,2,1,"(1, 16, 16, 4)",opt3,0.01,0.6958333,115.17,467482
1513,DHT,500,10,Sum,"(0.6, 0.2)",0.0,0.001,0.5,5,0,2,3,"(1, 16, 16, 4)",opt5,0.01,0.7291667,118.26,155940
60,DHT,500,10,Mean,"(0.3, 0.15)",0.0,0.01,0.0,5,0,1,3,"(1, 16, 32, 4)",opt4,0.004,0.6875,111.93,78484
46,DHT,500,10,Max,"(0.2, 0.2)",0.0,0.01,0.0,5,0,3,3,"(1, 16, 16, 4)",opt5,0.004,0.70416665,114.87,233732

In [111]:
# Sujeito 2
# DFT
a1 = bcic2akfold2.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
a2 = bcic2akfold2mean.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
a3 = bcic2akfold2max.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
# DHT
a4 = bcic2adhtkfold2.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
a5 = bcic2adhtkfold2mean.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
a6 = bcic2adhtkfold2max.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
results_s2 = pd.concat((a1,a2,a3,a4,a5,a6))
print(results_s2.to_csv())

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
628,DFT,500,10,Sum,"(0.3, 0.5)",0.0,0.01,0.0,5,0,2,3,"(1, 16, 32, 4)",opt5,0.004,0.57916665,114.15,156276
10,DFT,500,10,Mean,"(0.2, 0.2)",1.0,0.1,0.5,5,0,3,4,"(1, 16, 32, 4)",opt4,0.0001,0.5541667,114.98,171236
86,DFT,500,10,Max,"(0.2, 0.2)",2.0,0.01,0.0,5,0,3,4,"(1, 16, 32, 4)",opt7,0.0001,0.5375,115.71,171236
1325,DHT,500,10,Sum,"(0.5, 0.5)",0.0,0.1,0.0,5,0,2,3,"(1, 16, 32, 4)",opt3,0.001,0.5958333,118.12,156276
4,DHT,500,10,Mean,"(0.3, 0.15)",2.0,0.1,0.5,5,0,2,3,"(1, 16, 16, 4)",opt7,0.0001,0.54583335,113.15,155940
48,DHT,500,10,Max,"(0.3, 0.5)",0.0,0.1,0.5,5,0,3,4,"(1, 16, 16, 4)",opt5,0.0001,0.5083334,117.12,170900

In [112]:
# Sujeito 3
# DFT
a1 = bcic2akfold3.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
a2 = bcic2akfold3mean.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
a3 = bcic2akfold3max.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
# DHT
a4 = bcic2adhtkfold3.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
a5 = bcic2adhtkfold3mean.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
a6 = bcic2adhtkfold3max.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
results_s3 = pd.concat((a1,a2,a3,a4,a5,a6))
print(results_s3.to_csv())

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
906,DFT,500,10,Sum,"(0.5, 0.5)",0.0,0.001,0.5,5,0,3,4,"(1, 16, 16, 4)",opt7,0.001,0.80416673,114.88,170900
116,DFT,500,10,Mean,"(0.3, 0.15)",2.0,0.01,0.0,5,0,3,4,"(1, 16, 16, 4)",opt4,0.0001,0.7833334,112.33,170900
54,DFT,500,10,Max,"(0.3, 0.15)",0.0,0.001,0.0,5,0,2,4,"(1, 16, 32, 4)",opt4,0.001,0.74583334,112.57,117380
1724,DHT,500,10,Sum,"(0.6, 0.2)",1.0,0.1,0.0,5,0,2,5,"(1, 16, 16, 4)",opt8,0.001,0.7541667,111.37,93482
63,DHT,500,10,Mean,"(0.2, 0.2)",1.0,0.01,0.5,5,0,2,5,"(1, 16, 16, 4)",opt8,0.001,0.75,110.36,93482
109,DHT,500,10,Max,"(0.2, 0.2)",0.0,0.01,0.0,5,0,3,3,"(1, 16, 16, 4)",opt5,0.004,0.77500004,115.19,233732

In [114]:
# Sujeito 4
# DFT
a1 = bcic2akfold4.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
a2 = bcic2akfold4mean.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
a3 = bcic2akfold4max.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
# DHT
a4 = bcic2adhtkfold4.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
a5 = bcic2adhtkfold4mean.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
a6 = bcic2adhtkfold4max.sort_values(["Mean_Accuracy", "Params"], ascending=[False, True]).head(1)
results_s4 = pd.concat((a1,a2,a3,a4,a5,a6))
print(results_s4.to_csv())

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy,Time,Params
387,DFT,500,10,Sum,"(0.3, 0.5)",0.0,0.001,0.5,5,0,3,5,"(1, 16, 16, 4)",opt5,0.001,0.5958333,115.86,135370
37,DFT,500,10,Mean,"(0.2, 0.2)",1.0,0.1,0.5,5,0,3,4,"(1, 16, 32, 4)",opt4,0.0001,0.525,112.22,171236
83,DFT,500,10,Max,"(0.3, 0.15)",0.0,0.001,0.0,5,0,2,4,"(1, 16, 32, 4)",opt4,0.001,0.54583335,115.19,117380
2279,DHT,500,10,Sum,"(0.2, 0.2)",0.0,0.01,0.0,5,0,2,5,"(1, 16, 32, 4)",opt7,0.001,0.5416667,118.33,93818
82,DHT,500,10,Mean,"(0.3, 0.15)",2.0,0.1,0.5,5,0,2,3,"(1, 16, 16, 4)",opt7,0.0001,0.5208334,115.14,155940
44,DHT,500,10,Max,"(0.3, 0.5)",1.0,0.01,0.0,5,0,3,5,"(1, 16, 16, 4)",opt3,0.001,0.475,110.97,135370

### Check results - Motion Sense

#### DHT

In [2]:
motionsensedhtsum = read_grid_search("toys/MS_MultiSubject_DHT_6_Sum") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
motionsensedhtsum.sort_values(["Val_Accuracy", "Params"], ascending=[False, True]).head()

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Val_Accuracy,Time,Params
9516,DHT,500,256,Sum,"(0.2, 0.2)",0.0,0.001,0.0,3,0,2,1,"(1, 32, 32, 6)",opt7,0.0001,0.8164,9.87,12770
6977,DHT,500,256,Sum,"(0.6, 0.2)",2.0,0.010,0.0,3,0,1,2,"(1, 8, 16, 6)",opt3,0.0040,0.8125,9.95,1064
6193,DHT,500,256,Sum,"(0.5, 0.5)",1.0,0.010,0.0,3,0,1,2,"(1, 16, 32, 6)",opt4,0.0001,0.8125,10.52,2288
4090,DHT,500,256,Sum,"(0.2, 0.2)",2.0,0.001,0.0,3,0,1,2,"(1, 8, 16, 6)",opt3,0.0040,0.8086,10.24,1064
2237,DHT,500,256,Sum,"(0.3, 0.15)",0.0,0.100,0.0,3,0,1,2,"(1, 32, 32, 6)",opt5,0.0001,0.8086,10.17,4256

In [3]:
motionsensedhtsum.shape

(12560, 18)

In [4]:
motionsensedhtmean = read_grid_search("toys/MS_MultiSubject_DHT_6_Mean") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
motionsensedhtmean.sort_values(["Val_Accuracy", "Params"], ascending=[False, True]).head()

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Val_Accuracy,Time,Params
4139,DHT,500,256,Mean,"(0.2, 0.2)",1.0,0.100,0.0,3,0,1,2,"(1, 8, 16, 6)",opt3,0.0040,0.8164,10.79,1064
769,DHT,500,256,Mean,"(0.5, 0.5)",0.0,0.010,0.0,3,0,2,1,"(1, 32, 32, 6)",opt7,0.0001,0.8164,9.73,12770
10331,DHT,500,256,Mean,"(0.3, 0.5)",1.0,0.010,0.0,3,0,1,2,"(1, 16, 32, 6)",opt5,0.0001,0.8125,10.44,2288
11555,DHT,500,256,Mean,"(0.2, 0.2)",1.0,0.001,0.0,3,0,1,1,"(1, 32, 32, 6)",opt8,0.0010,0.8125,10.19,7226
8929,DHT,500,256,Mean,"(0.5, 0.5)",0.0,0.100,0.0,3,0,1,2,"(1, 32, 32, 6)",opt5,0.0001,0.8086,10.01,4256

In [5]:
motionsensedhtmax = read_grid_search("toys/MS_MultiSubject_DHT_6_Max") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
motionsensedhtmax.sort_values(["Val_Accuracy", "Params"], ascending=[False, True]).head()

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Val_Accuracy,Time,Params
7775,DHT,500,256,Max,"(0.3, 0.5)",1.0,0.010,0.0,3,0,1,1,"(1, 32, 32, 6)",opt1,0.0100,0.8164,9.84,7226
8943,DHT,500,256,Max,"(0.2, 0.2)",1.0,0.010,0.0,3,0,1,1,"(1, 32, 32, 6)",opt1,0.0100,0.8164,10.02,7226
4135,DHT,500,256,Max,"(0.3, 0.15)",1.0,0.100,0.0,3,0,1,1,"(1, 32, 32, 6)",opt1,0.0100,0.8125,10.44,7226
12096,DHT,500,256,Max,"(0.3, 0.5)",1.0,0.001,0.0,3,0,1,1,"(1, 32, 32, 6)",opt8,0.0100,0.8125,9.93,7226
325,DHT,500,256,Max,"(0.3, 0.15)",1.0,0.010,0.0,3,0,1,1,"(1, 32, 32, 6)",opt7,0.0001,0.8086,10.00,7226

#### DFT

In [6]:
motionsensedftsum = read_grid_search("toys/MS_MultiSubject_DFT_6_Sum") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
motionsensedftsum.sort_values(["Val_Accuracy", "Params"], ascending=[False, True]).head()

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Val_Accuracy,Time,Params
9990,DFT,500,256,Sum,"(0.3, 0.5)",0.0,0.010,0.0,3,0,1,1,"(1, 8, 16, 6)",opt3,0.001,0.8516,9.77,1874
1278,DFT,500,256,Sum,"(0.5, 0.5)",1.0,0.100,0.0,3,0,2,1,"(1, 32, 32, 6)",opt8,0.001,0.8477,9.64,12770
8793,DFT,500,256,Sum,"(0.3, 0.5)",2.0,0.001,0.0,3,0,2,2,"(1, 4, 4, 6)",opt5,0.004,0.8438,10.34,864
10202,DFT,500,256,Sum,"(0.3, 0.15)",2.0,0.001,0.0,3,0,2,2,"(1, 4, 4, 6)",opt5,0.004,0.8438,10.36,864
2877,DFT,500,256,Sum,"(0.3, 0.5)",2.0,0.001,0.0,3,0,1,2,"(1, 8, 16, 6)",opt8,0.004,0.8438,9.74,1064

In [7]:
motionsensedhtsum.shape

(12560, 18)

In [8]:
motionsensedftmean = read_grid_search("toys/MS_MultiSubject_DFT_6_Mean") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
motionsensedftmean.sort_values(["Val_Accuracy", "Params"], ascending=[False, True]).head()

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Val_Accuracy,Time,Params
848,DFT,500,256,Mean,"(0.3, 0.5)",0.0,0.001,0.0,3,0,1,2,"(1, 4, 4, 6)",opt4,0.0040,0.8594,9.87,504
8407,DFT,500,256,Mean,"(0.6, 0.2)",2.0,0.100,0.0,3,0,1,2,"(1, 32, 32, 6)",opt7,0.0001,0.8477,9.84,4256
3239,DFT,500,256,Mean,"(0.2, 0.2)",2.0,0.001,0.0,3,0,1,2,"(1, 8, 16, 6)",opt4,0.0040,0.8438,10.66,1064
8643,DFT,500,256,Mean,"(0.3, 0.5)",2.0,0.001,0.0,3,0,1,2,"(1, 8, 16, 6)",opt5,0.0040,0.8438,10.79,1064
9980,DFT,500,256,Mean,"(0.3, 0.5)",0.0,0.001,0.0,3,0,1,1,"(1, 8, 16, 6)",opt3,0.0010,0.8438,10.15,1874

In [9]:
motionsensedftmax = read_grid_search("toys/MS_MultiSubject_DFT_6_Max") #bcic2a_grid_search_{len(subjects)}_{f}_{n_classes}_kfold
motionsensedftmax.sort_values(["Val_Accuracy", "Params"], ascending=[False, True]).head()

,Function,Epochs,Batch_Size,Pooling,Dropout,FreqMean,FreqStd,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Val_Accuracy,Time,Params
4876,DFT,500,256,Max,"(0.6, 0.2)",0.0,0.100,0.0,3,0,2,1,"(1, 32, 32, 6)",opt8,0.001,0.8633,9.81,12770
1075,DFT,500,256,Max,"(0.3, 0.15)",1.0,0.010,0.0,3,0,2,1,"(1, 32, 32, 6)",opt1,0.010,0.8594,9.70,12770
6812,DFT,500,256,Max,"(0.2, 0.2)",1.0,0.010,0.0,3,0,2,1,"(1, 32, 32, 6)",opt1,0.010,0.8594,9.89,12770
10169,DFT,500,64,Max,"(0.5, 0.5)",1.0,0.001,0.0,3,0,1,1,"(1, 32, 32, 6)",opt1,0.004,0.8490,39.40,7226
11675,DFT,500,64,Max,"(0.6, 0.2)",1.0,0.001,0.0,3,0,1,1,"(1, 32, 32, 6)",opt1,0.004,0.8490,39.04,7226