#### Setup

In [1]:
from main_functions.utils import read_grid_search

#### Check top 10 results - DFT

#### 1 subject

In [2]:
b = read_grid_search("results/grid_search_1_DFT_top10_4")
b.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy
1244,DFT,0.5,3,1,1,1,"(16, 16)",opt4,0.0001,0.900000
338,DFT,0.5,3,2,1,1,"(16, 16)",opt4,0.0001,0.866667
1293,DFT,0.5,3,2,2,1,"(16, 16)",opt5,0.0001,0.866667
230,DFT,0.5,3,2,1,2,"(16, 16)",opt4,0.0001,0.850000
457,DFT,0.5,3,2,3,1,"(16, 16)",opt4,0.0001,0.850000
2681,DFT,0.5,3,2,2,1,"(16, 16)",opt4,0.0001,0.833333
2162,DFT,0.5,3,2,3,1,"(16, 16)",opt5,0.0001,0.833333
1241,DFT,0.5,3,1,3,1,"(16, 16)",opt5,0.0001,0.825000
93,DFT,0.5,3,1,1,1,"(16, 16)",opt5,0.0010,0.825000
2633,DFT,0.5,3,1,1,1,"(16, 16)",opt5,0.0001,0.825000

##### 35 subjects

In [5]:
e = read_grid_search("results/grid_search_35_DFT_top10_4")
e.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy
24,DFT,0.5,2,1,1,2,"[16, 16]",opt5,0.0010,0.653929
21,DFT,0.5,2,1,1,2,"[16, 16]",opt4,0.0001,0.650000
26,DFT,0.5,2,1,1,2,"[16, 16]",opt5,0.0001,0.644286
13,DFT,0.5,2,1,1,1,"[16, 16]",opt5,0.0010,0.612857
10,DFT,0.5,2,1,1,1,"[16, 16]",opt4,0.0001,0.607500
1,DFT,0.5,2,1,2,1,"[16, 16]",opt4,0.0010,0.605357
23,DFT,0.5,3,2,2,2,"[16, 16]",opt5,0.0001,0.597143
14,DFT,0.5,3,2,1,2,"[16, 16]",opt5,0.0001,0.595714
9,DFT,0.5,3,2,2,2,"[16, 16]",opt4,0.0010,0.591905
11,DFT,0.5,2,1,3,2,"[16, 16]",opt4,0.0010,0.590000

#### Check top 10 results - DHT

##### 1 subject

In [28]:
c = read_grid_search("results/grid_search_1_DHT_top10_4")
c.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy
834,DHT,0.5,3,1,1,1,"(16, 16)",opt4,0.0001,0.800000
747,DHT,0.5,3,1,2,1,"(16, 16)",opt4,0.0001,0.800000
1241,DHT,0.5,3,2,1,1,"(16, 16)",opt4,0.0001,0.783333
420,DHT,0.5,3,1,1,1,"(16, 16)",opt5,0.0001,0.775000
284,DHT,0.5,3,2,2,1,"(16, 16)",opt5,0.0001,0.750000
631,DHT,0.5,3,2,1,1,"(16, 16)",opt5,0.0001,0.750000
1939,DHT,0.5,2,1,1,2,"(16, 16)",opt4,0.0001,0.750000
344,DHT,0.5,3,2,1,1,"(16, 16)",opt4,0.0001,0.750000
2265,DHT,0.5,2,1,1,2,"(16, 16)",opt5,0.0001,0.750000
86,DHT,0.5,3,1,1,1,"(16, 16)",opt5,0.0010,0.750000

##### 35 subjects

In [4]:
d = read_grid_search("results/grid_search_35_DHT_top10_4")
d.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy
24,DHT,0.5,2,1,1,2,"[16, 16]",opt5,0.0001,0.609643
21,DHT,0.5,2,1,3,1,"[16, 16]",opt4,0.0010,0.577857
14,DHT,0.5,2,1,3,1,"[16, 16]",opt4,0.0001,0.576786
12,DHT,0.5,2,1,3,2,"[16, 16]",opt4,0.0010,0.575000
25,DHT,0.5,2,1,3,1,"[16, 16]",opt5,0.0001,0.572500
22,DHT,0.5,2,1,3,2,"[16, 16]",opt4,0.0001,0.572143
18,DHT,0.5,2,1,2,1,"[16, 16]",opt5,0.0010,0.569286
0,DHT,0.5,3,2,1,2,"[16, 16]",opt5,0.0010,0.568571
19,DHT,0.5,2,1,2,2,"[16, 16]",opt5,0.0001,0.566786
27,DHT,0.5,3,2,2,1,"[16, 16]",opt4,0.0010,0.566667

#### Check results - k-fold DFT (1 subject)

In [68]:
dft_kfold = read_grid_search("results/grid_search_1_DFT_top10_4_kfold")
dft_kfold.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy
192,DFT,0.5,2,1,2,1,"[16, 16]",opt8,0.0002,0.82
154,DFT,0.5,3,2,1,1,"[8, 16]",opt4,0.0010,0.82
144,DFT,0.5,2,1,1,1,"[16, 16]",opt8,0.0001,0.82
181,DFT,0.5,3,2,1,1,"[16, 16]",opt8,0.0002,0.80
8,DFT,0.5,3,2,2,1,"[8, 16]",opt1,0.0100,0.80
208,DFT,0.5,3,2,3,1,"[16, 16]",opt8,0.0001,0.78
193,DFT,0.5,2,1,1,1,"[8, 16]",opt4,0.0001,0.78
203,DFT,0.5,3,2,3,1,"[16, 16]",opt8,0.0002,0.78
26,DFT,0.5,3,2,2,1,"[16, 16]",opt8,0.0002,0.78
157,DFT,0.5,3,2,1,1,"[8, 16]",opt8,0.0100,0.76

#### Check results - k-fold DHT (1 subject)

In [67]:
dht_kfold = read_grid_search("results/grid_search_1_DHT_top10_4_kfold")
dht_kfold.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy
221,DHT,0.5,3,2,3,1,"[16, 16]",opt8,0.0002,0.80
90,DHT,0.5,3,2,1,1,"[8, 16]",opt8,0.0010,0.80
224,DHT,0.5,3,2,3,1,"[16, 16]",opt8,0.0001,0.76
189,DHT,0.5,3,2,1,1,"[16, 16]",opt8,0.0002,0.76
220,DHT,0.5,3,2,1,1,"[8, 16]",opt8,0.0100,0.74
95,DHT,0.5,3,2,3,1,"[8, 16]",opt1,0.0100,0.74
85,DHT,0.5,3,2,3,1,"[8, 16]",opt8,0.0001,0.72
108,DHT,0.5,3,2,3,1,"[16, 16]",opt4,0.0002,0.72
42,DHT,0.5,3,2,2,2,"[16, 16]",opt5,0.0002,0.70
105,DHT,0.5,3,2,1,2,"[16, 16]",opt7,0.0001,0.70