#### Setup

In [3]:
from main_functions.utils import read_grid_search

#### Check top 10 results - DFT

In [26]:
b = read_grid_search("results/grid_search_1_DFT_top10_4")
b.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy
903,DFT,0.5,3,1,1,1,"(16, 16)",opt5,0.0001,0.825000
202,DFT,0.5,3,2,1,1,"(16, 16)",opt5,0.0001,0.816667
286,DFT,0.5,3,1,1,1,"(16, 16)",opt4,0.0001,0.800000
409,DFT,0.5,3,1,2,2,"(16, 16)",opt4,0.0010,0.800000
840,DFT,0.5,3,2,1,1,"(16, 16)",opt5,0.0001,0.800000
159,DFT,0.5,3,1,1,2,"(16, 16)",opt4,0.0080,0.800000
459,DFT,0.5,3,2,2,2,"(16, 16)",opt3,0.0010,0.800000
831,DFT,0.5,3,1,2,1,"(16, 16)",opt5,0.0001,0.800000
778,DFT,0.5,3,2,3,1,"(16, 16)",opt5,0.0010,0.800000
457,DFT,0.5,3,1,3,1,"(16, 16)",opt5,0.0001,0.775000

#### Check top 10 results - DHT

In [27]:
c = read_grid_search("results/grid_search_1_DHT_top10_4")
c.sort_values("Mean_Accuracy",ascending=False).head(10)

,Function,Time_Off,Window,Overlap,Levels,Band_Width,Neuron_Configuration,Optimizer,Learning_Rate,Mean_Accuracy
262,DHT,0.5,3,1,1,1,"(16, 16)",opt4,0.0001,0.800000
649,DHT,0.5,2,1,1,2,"(16, 16)",opt4,0.0001,0.750000
761,DHT,0.5,2,1,1,2,"(16, 16)",opt5,0.0001,0.750000
429,DHT,0.5,2,1,1,2,"(16, 16)",opt4,0.0001,0.725000
454,DHT,0.5,3,1,3,1,"(16, 16)",opt5,0.0001,0.725000
600,DHT,0.5,3,2,2,1,"(16, 16)",opt4,0.0001,0.716667
656,DHT,0.5,3,2,1,1,"(16, 16)",opt4,0.0010,0.716667
781,DHT,0.5,2,1,3,2,"(16, 16)",opt5,0.0001,0.712500
450,DHT,0.5,2,1,1,2,"(16, 16)",opt4,0.0001,0.687500
593,DHT,0.5,2,1,2,2,"(16, 16)",opt3,0.0010,0.675000